<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title></title>
<style type="text/css">
.style1{width: 80%;}
.style2{width: 101px; text-align:right;}
body { font-size:12px;}
div{ width:100%; margin:0 auto; padding-top:10px;}
</style>
</head>
<body>
    <form action="{:U('Manageuser/doTrace')}" method="post">
    <div style=" background-color:#efefef;">会员信息：</div>
    <div>
<table class="style1">
	<tbody>
		<tr>
			<td class="style2">用户名：
				<input type="hidden" name="pid" value="{$user_info.id}"/>
				<input type="hidden" name="uid" value="{$user_info.uid}"/>
			</td>
			<td><span>{$user_info.username}</span></td>
		</tr>
		<tr>
			<td class="style2">密码：</td>
			<td><input type="text" maxlength="20" value="" name="password">（为空表示不重设密码，其他值重设，6位或以上）</td>
		</tr>
		<tr>
			<td class="style2">手机：</td>
			<td><input type="text" maxlength="20" value="{$user_info.cellphone}" name="cellphone" /></td>
		</tr>
		<tr>
			<td class="style2">电话：</td>
			<td><input type="text" maxlength="20" value="{$user_info.telephone}" name="telephone" /></td>
		</tr>
		<tr>
			<td class="style2">QQ：</td>
			<td><input type="text" maxlength="20" value="{$user_info.qq}" name="qq"></td>
		</tr>
		<tr>
			<td class="style2">邮箱：</td>
			<td><input type="text" maxlength="100" value="{$user_info.email}" name="email"></td>
		</tr>
		<tr>
			<td class="style2">名称：</td>
			<td><input type="text" maxlength="20" value="{$user_info.nick}" name="nick"></td>
		</tr>
		<tr>
			<td class="style2">公司：</td>
			<td><input type="text" maxlength="100" value="{$user_info.cname}" name="cname"></td>
		</tr>
		<tr>
			<td class="style2">地址：</td>
			<td><input type="text" maxlength="100" value="{$user_info.address}" name="address"></td>
		</tr>
		<tr>
			<td class="style2">邮编：</td>
			<td><input type="text" maxlength="20" value="{$user_info.post}" name="post"></td>
		</tr>
		<tr>
			<td class="style2" height="35px">注册时间：</td>
			<td>{$user_info.regtime|date='Y-m-d H:i:s',###}&nbsp;
			&nbsp;&nbsp;&nbsp;最后登录时间：{$user_info.lastlogintime|date='Y-m-d H:i:s',###}
			&nbsp;&nbsp;&nbsp;登录次数：{$user_info.logintimes}
			</td>
		</tr>
<if condition="$user_info['deletetime']">
		<tr>
			<td class="style2">已删除：</td>
			<td>删除时间： {$user_info.deletetime|date='Y-m-d H:i:s',###}</td>
		</tr>
<else/>
		<tr>
			<td class="style2" height="35px">屏蔽帐号：</td>
			<td><input type="checkbox" name="audit" value="1" <if condition="$user_info['status'] eq 1"><else/>checked</if>/></td>
		</tr>
		<tr>
			<td class="style2">屏蔽备注：</td>
			<td>
				<textarea style="height:113px;width:492px;" cols="20"
				rows="5" name="remark">{$user_info.remark}</textarea>
			</td>
		</tr>
</if>
		<tr>
			<td class="style2">&nbsp;</td>
			<td><input type="submit" value=" 提  交 "></td>
		</tr>
	</tbody>
</table>
    </div>
    </form>


</body></html>