<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>

<title>{$tmpl_info.title}</title>
<meta name="Keywords" content="{$tmpl_info.keywords}" />
<meta name="Description" content="{$tmpl_info.description}" />
<link rel="stylesheet" href="{:C('HTMLPATH')}css/main.css">
<link rel="stylesheet" href="{:C('HTMLPATH')}css/h_quality.css">
<link rel="stylesheet" href="{:C('HTMLPATH')}css/ion.rangeSlider.css"/><!--滑块样式-->
<script type="text/javascript" src="{:C('HTMLPATH')}js/jquery-1.7.1.js"></script>
<script type="text/javascript" src="{:C('HTMLPATH')}js/common.js"></script>
<script type="text/javascript" src="{:C('HTMLPATH')}js/ion.rangeSlider.js"></script>
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<script type="text/javascript">
var trace_page_on = "{$trace_page_arr.on}";
if(trace_page_on){
function trace_close_time(){
	$.ajax({
		type:"POST",
		url:"{:U('Index/traceUrl')}",
		async: false,
		data:"id={$trace_page_arr.trace_id}",
		success: function(result){
			}
	});
}
function trace_update_time(){
	$.ajax({
		type:"POST",
		url:"{:U('Index/traceUrl')}",
		async: false,
		data:"type=1&id={$trace_page_arr.trace_id}",
		success: function(result){
			}
	});
}
window.onbeforeunload = function(){
	trace_close_time();
}
var time_limit_tmp = "{$trace_page_arr.limit_time|default=10000}";
time_limit_tmp = parseInt(time_limit_tmp);
time_limit_tmp = time_limit_tmp * 1000;
setInterval(trace_update_time, time_limit_tmp);
}
</script>
</head>

<body>
<!--登录-->
<include file="public/dlogin" />
<!--登录 end-->

<div class="header">
<div id="site-nav">
<ul class="leftsite">
<include file="public/usersession" />
<include file="public/header_nav" />
</div>

<div class="clear"></div>

<include file="public/header" />

<div class="clear"></div>
<!--导航 Start-->
<div class="menubox">
<div class="all-sort1">
<h2 id="div_h2" >适用行业分类 <img id="img1" src="{:C('HTMLPATH')}images/ico_down.png" align="absmiddle"></h2>
<div class="showbox" id="tip1" style="display:none;">
<!--所有分类 Start-->
<div class="all-sort-list">
<include file="public/fenlei" />
</div>
<!--所有分类 End-->
</div>
</div>
<div class="nav">
<ul class="clearfix">
<include file="public/nav" />
</ul>
</div>
</div>
<!--导航 End-->
</div>

<div class="mainbox">
<span><a name="good" id="good"></a></span>
<div class="h_q">
<div class="h_q_banner"></div>
<!--大图结束-->
<div class="h_q_box">
<div class="h_q_list">
<div class="h_q_list_left"></div>
<div class="h_q_list_right"></div>
<ul class="h_q_list_box">
<li>
<a href="">第1-9类精品商标</a>
<dl class="h_q_dl">
<dt><img src="{:C('HTMLPATH')}images/img_zs.gif"></dt>
<dd class="dd_first">第1-9类精品商标</dd>
<volist name='sblist' id='vo' offset="0" length='9'>
<dd><a href="{:U('Index/quality',array('id'=>$key))}"><em>{$key}</em>{$vo}</a></dd>
</volist>
</dl>
</li>
<li>
<a href="">第10-18类精品商标</a>
<dl class="h_q_dl">
<dt><img src="{:C('HTMLPATH')}images/img_zs.gif"></dt>
<dd class="dd_first">第10-18类精品商标</dd>
<volist name='sblist' id='vo' offset="9" length='9'>
<dd><a href="{:U('Index/quality',array('id'=>$key))}"><em>{$key}</em>{$vo}</a></dd>
</volist>
</dl>
</li>
<li>
<a href="">第19-27类精品商标</a>
<dl class="h_q_dl">
<dt><img src="{:C('HTMLPATH')}images/img_zs.gif"></dt>
<dd class="dd_first">第19-27类精品商标</dd>
<volist name='sblist' id='vo' offset="18" length='9'>
<dd><a href="{:U('Index/quality',array('id'=>$key))}"><em>{$key}</em>{$vo}</a></dd>
</volist>
</dl>
</li>
<li>
<a href="">第28-36类精品商标</a>
<dl class="h_q_dl">
<dt><img src="{:C('HTMLPATH')}images/img_zs.gif"></dt>
<dd class="dd_first">第28-36类精品商标</dd>
<volist name='sblist' id='vo' offset="27" length='9'>
<dd><a href="{:U('Index/quality',array('id'=>$key))}"><em>{$key}</em>{$vo}</a></dd>
</volist>
</dl>
</li>
<li><a href="">第37-45类精品商标</a>
<dl class="h_q_dl">
<dt><img src="{:C('HTMLPATH')}images/img_zs.gif"></dt>
<dd class="dd_first">第37-45类精品商标</dd>
<volist name='sblist' id='vo' offset="36" length='9'>
<dd><a href="{:U('Index/quality',array('id'=>$key))}"><em>{$key}</em>{$vo}</a></dd>
</volist>
</dl>
</li>
</ul>
<script>
$(document).ready(function(){
$(".h_q_list_box li").mouseover(function(){
$(this).children("dl").height(295).position(top="10px");
});
$(".h_q_list_box li").mouseout(function(){
$(this).children("dl").height(42);
});
});
</script>
</div>
<!--分类结束-->
<div class="h_p_title">
<h2>商标展示区 - <span>第{$cate}类精品商标</span></h2>
</div>
<!--title结束-->
<ul id="crumbs">您所在的位置：<a href="{:C('INDEXPATH')}">首页</a> &gt; <a href="{:U('Index/quality')}">精品商标</a> &gt; 第{$cate}类精品商标<h3><a href="{:U('Index/quality',array('id'=>$cate,'type'=>2,'p'=>$_GET['p']))}">点击切换小图标模式</a></h3></ul>
<ul class="h_q_lbox">
<volist name='info' id='vo'>
<dl>
<dt><a href="<php>$urlname='Index/tmdetail?id='.$vo["tm_id"];echo U($urlname);</php>" target="_blank"><img src="{:C('PIC11')}/{$vo.tm_id}" alt='{$vo.tm_name}' title='{$vo.tm_name}'></a></dt>
<dd><a href="<php>$urlname='Index/tmdetail?id='.$vo["tm_id"];echo U($urlname);</php>" target="_blank"><img src="{:C('PIC12')}/{$vo.tm_id}"  alt='{$vo.tm_name}' title='{$vo.tm_name}'></a></dd>
</dl>
</volist>

<div class="clear"></div>
</ul>
<!--box结束-->
<!--分页-->
{$page}
<!--分页 end-->
<div class="clear"></div>
</div>
<!--列表展示结束-->
<div class="clear"></div>
</div>

<!--25类详细分类-->
<div class="tmCation">
<div class="title">
<dl>
<h2>第25类详细分类</h2>
<dt id="norTabBox4" onclick="setTab('norTabBox',4,4)">运动型</dt>
<dt id="norTabBox3" onclick="setTab('norTabBox',3,4)">童装</dt>
<dt id="norTabBox2" onclick="setTab('norTabBox',2,4)">男装</dt>
<dt id="norTabBox1" onclick="setTab('norTabBox',1,4)" class="hover">女装</dt>
</dl>
</div>
<div id="con_norTabBox_1" class="contable" style="display:block;">
<ul>
<foreach name="womens" item="women">
<li><a href="{:U('Index/tmdetail',array('id'=>$women['tm_id']))}" title="{$women.tm_name}" alt="{$women.tm_name}" target="_blank"><img src="{:C('PIC13')}/{$women.tm_id}" alt="{$women.tm_name}" /></a></li>
</foreach>
</ul>
</div>
<div id="con_norTabBox_2" class="contable" style="display:none;">
<ul>
<foreach name="mans" item="man">
<li><a href="{:U('Index/tmdetail',array('id'=>$man['tm_id']))}" title="{$man.tm_name}" alt="{$man.tm_name}" target="_blank"><img src="{:C('PIC13')}/{$man.tm_id}" alt="{$man.tm_name}" /></a></li>
</foreach>
</ul>
</div>
<div id="con_norTabBox_3" class="contable" style="display:none;">
<ul>
<foreach name="childs" item="child">
<li><a href="{:U('Index/tmdetail',array('id'=>$child['tm_id']))}" title="{$child.tm_name}" alt="{$child.tm_name}" target="_blank"><img src="{:C('PIC13')}/{$child.tm_id}" alt="{$child.tm_name}" /></a></li>
</foreach>
</ul>
</div>
<div id="con_norTabBox_4" class="contable" style="display:none;">
<ul>
<foreach name="sports" item="sport">
<li><a href="{:U('Index/tmdetail',array('id'=>$sport['tm_id']))}" title="{$sport.tm_name}" alt="{$sport.tm_name}" target="_blank"><img src="{:C('PIC13')}/{$sport.tm_id}" alt="{$sport.tm_name}" /></a></li>
</foreach>
</ul>
</div>
</div>
<!--25类详细分类 end-->
<div class="clear"></div>
</div>

<!--底部-->
<div id="footer">
<include file="public/flink" />
<include file="public/footbox" />
</div>
<!--底部 end-->

<script type="text/javascript" src="{:C('HTMLPATH')}js/leftmenu.js"></script>

</body>
</html>