body {background:#fff;}
.adMain {width:1000px; margin:10px auto; background:#990100 url(../images/bg.jpg) top center no-repeat;}
.adText {padding:350px 130px 100px;}
.adMain p {margin-bottom:1em; font-size:16px; color:#ff0; line-height:2em; text-indent:2em;}