@charset "utf-8";

/* Remove margin padding */
* {font-family:"微软雅黑";}
body, html {height:100%;}
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td {margin:0; padding:0;}
input,button,textarea,select,optgroup,option,radio {font-family:"微软雅黑"; font-size:inherit; font-style:inherit; font-weight:inherit; vertical-align:middle;}
/* Default Font */
body,button,input,select,textarea {font:12px/1.5 "微软雅黑"; color:#333;}
h1,h2,h3,h4,h5,h6 {font-size:100%;}
address,cite,dfn,em,var {font-style:normal;}
code,kbd,pre,samp {font-family:"微软雅黑";}
small {font-size:12px;}
ul,ol,li {list-style:none;}
a {text-decoration:none; color:#333;}
a:hover {text-decoration:underline; color:#F60;}
sup {vertical-align:text-top;}
sub {vertical-align:text-bottom;}
legend {color:#000;}
fieldset,img {border:0;}
button,input,select,textarea {font-size:100%;}
table {border-collapse:collapse; border-spacing:0;}
.clear {clear:both;}

.col-main {float:left; width:100%; min-height:1px;}
.col-sub,.col-extra {float:left;}
.layout:after,.main-wrap:after,.col-sub:after,.col-extra:after {content:'\20'; display:block; height:0; clear:both;}
.layout,.main-wrap,.col-sub,.col-extra {zoom:1;}

/* Common Features */
.hidden {display:none;}
.invisible {visibility:hidden;}

/* Remove Float */
.clear {display:block; height:0; overflow:hidden; clear:both;}
.clearfix:after {content:'\20'; display:block; height:0; clear:both;}
.clearfix {*zoom:1;}

/* For non ie browsers also display the vertical scroll bar by default, to prevent the flicker caused by the scroll bar */
html {overflow-y:scroll;}

/* Default link styles */
a:link,a:visited {text-decoration:none;}
a:hover,a:active {text-decoration:underline;}
a.red {color:#F30;}
a.blue {color:#06c;}
a.red:hover, a.blue:hover {color:#F60;}

/*头部导航*/
.adHead {width:100%; background:#fff;}
.adHead .top {width:1000px; margin:0 auto;}
.adHead .logo {background:url(../images/hwLogo.png) no-repeat; width:282px; height:56px; margin:10px 0 10px 10px; float:left; text-indent:-999px;}
.adHead .logo a {width:282px; height:56px; display:block;}
.adHead .phone {float:right; margin:25px 10px 0 0;}
.adHead .phone p {color:#666; text-align:right;}
.adHead .phone p span {color:#999;}
.adHead .phone p strong {font-size:28px; font-weight:normal; color:#f60; margin:0 10px;}

.adHead .nav {width:100%; height:40px; text-align:center; background:#e4393c;}
.adHead .nav a {height:40px; line-height:40px; display:inline-table; padding:0 10px; font-size:15px; font-weight:bold; color:#fff; text-decoration:none;}
.adHead .nav a:hover, .adHead .nav a.on {background:#a40000;}
/*头部导航 end*/

/*底部*/
#adFoot {width:100%;}
#adFoot {width:100%; margin:0; border-top:solid 3px #DDD; background:#333;}
#adFoot .copyright {margin:10px auto; padding-bottom:20px;}
#adFoot .copyright p {text-align:center; line-height:2em; color:#999;}
#adFoot .copyright em {margin:0 5px;}
#adFoot .copyright p a {color:#999;}
#adFoot .copyright p a:hover {color:#F60;}
#adFoot .copyright img {width:100px; height:100px; margin:20px;}
/*底部 end*/