<h2>系统推荐</h2>
<div class="leftbox">
<volist name='tuijian.1' id='vo' >
<a href="<php>$urlname='Index/tmdetail?id='.$vo['tm_id'];echo U($urlname);</php>" target="_blank" title="{$vo.tm_name}"><img src="{:C('PIC15')}/{$vo.tm_id}" alt="{$vo.tm_name}" /></a>
</volist>
{$ad|htmlspecialchars_decode}
</div>
<div class="minbox">
<ul>
<volist name='tuijian.2' id='vo' >
<li><a href="<php>$urlname='Index/tmdetail?id='.$vo['tm_id'];echo U($urlname);</php>" target="_blank" title="{$vo.tm_name}"><img src="<eq name='vo.is_fine' value='1'>{:C('PIC9')}/{$vo.tm_id}<else />{:C('PIC4')}/{$vo.tm_id}</eq>" alt="{$vo.tm_name}" /></a><p><a href="<php>$urlname='Index/tmdetail?id='.$vo['tm_id'];echo U($urlname);</php>" target="_blank" title="{$vo.tm_name}" class="title">{$vo.tm_name|subtext=8}</a><a href="<php>$urlname='Index/tmclass?id='.$vo['tm_categories'];echo U($urlname);</php>" target="_blank" class="type" title="<php>echo $sblist[$vo['tm_categories']]</php>">第{$vo.tm_categories}类</a></p></li>
</volist>

</ul>
</div>
<div class="rightbox">
<ul>
<volist name='tuijian.3' id='vo' >
<li><a href="<php>$urlname='Index/tmdetail?id='.$vo['tm_id'];echo U($urlname);</php>" target="_blank" title="{$vo.tm_name}"><img src="<eq name='vo.is_fine' value='1'>{:C('PIC13')}/{$vo.tm_id}<else />{:C('PIC4')}/{$vo.tm_id}</eq>" alt="{$vo.tm_name}" /></a></li>
</volist>
<volist name='tuijian.4' id='vo' >
<p class="adimg"><a href="<php>$urlname='Index/tmdetail?id='.$vo['tm_id'];echo U($urlname);</php>" target="_blank" title="{$vo.tm_name}"><img src="{:C('PIC16')}/{$vo.tm_id}" alt="{$vo.tm_name}" /></a></p>
</volist>
</ul>
</div>
