@charset "utf-8";
* {font-family:"微软雅黑"; font-size:12px;}
html { color: rgb(102, 102, 102); }
body, h1, h2, h3, h4, hr, p, ul, li { margin: 0px; padding: 0px; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
ul, li { list-style: none outside none; }
a:link { color: rgb(102, 102, 102); text-decoration: none; }
a:visited { color: rgb(102, 102, 102); text-decoration: none; }
a:hover { color: rgb(39, 98, 167); }
a:active { color: rgb(51, 51, 51); text-decoration: none; }
body { background: url('page_bg.gif') repeat scroll 0% 0% rgb(236, 233, 229); }
.mininav { background: none repeat scroll 0% 0% rgb(44, 44, 44); }
.mininav_inner { width: 100%; height: 40px; }
.nav_list { float: left; margin: 0px 0px 0px 10px; }
.myinfo { float: right; margin: 0px 10px 0px 0px; font-size:14px;}
.nav_list li { float: left; height: 40px; }
.nav_list li a { display: inline-block; line-height: 40px; height: 40px; padding: 0px 10px; text-decoration: none; color: darkGray; font-size: 12px; text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25); }
.nav_list li a:visited { color: darkGray; }
.nav_list li a:hover { color: white; background-color: rgb(33, 33, 33); }
.nav_list li a.active { background-color: rgb(33, 33, 33); color: white; }
.main { width: 960px; margin: 0px auto; position: relative; }
.main .weixin { height: 620px; width: 700px; margin: 80px auto 0px; background: url('weixin.jpg') no-repeat scroll 0% 0% transparent; }
.main .weixin .bt { padding: 350px 0px 0px 275px; }
.bt li { float: left; }
.bt li a { width: 163px; height: 43px; display: inline-block; margin-left: 10px; background: url('bt.png') repeat scroll 0% 0% transparent; }
.bt li a:hover { opacity: 0.9; }
.bt .xz { background-position: 0px -44px; }
.step { background-color: rgb(255, 255, 255); width: 100%; height: 530px; border-top: 1px solid rgb(223, 221, 222); border-bottom: 1px solid rgb(223, 221, 222); }
.step .inner { width: 960px; height: 530px; margin: 50px auto 0px; background: url('step.jpg') no-repeat scroll 0% 0% transparent; }
.step .inner2 { width: 960px; height: 530px; margin: 50px auto 0px; background: url('step2.jpg') no-repeat scroll 0% 0% transparent; }
.step .sns { width: 480px; height: 100px; margin: 0px auto; text-align:center; font-size:24px;}

span.bds_more { background: url('is.png') no-repeat scroll 0px 5px transparent ! important; }
span.bds_more, .bds_tools a { display: block; height: 16px; float: left; cursor: pointer; padding-top: 6px; padding-bottom: 3px; padding-left: 22px; }
.bds_more { background-image: url('is.png') ! important; background-position: 0px 4px ! important; }
.bds_qzone { background-position: 0px -75px ! important; }
.bds_tsina { background-position: 0px -115px ! important; }
.bds_bdhome { background-position: 0px -155px ! important; }
.bds_renren { background-position: 0px -195px ! important; }
.bds_tqq { background-position: 0px -235px ! important; }
.bds_kaixin001 { background-position: 0px -275px ! important; }
.bds_tqf { background-position: 0px -315px ! important; }
.bds_douban { background-position: 0px -395px ! important; }
.bds_tsohu { background-position: 0px -435px ! important; }
.bds_qq { background-position: 0px -515px ! important; }
.bds_tieba { background-position: 0px -595px ! important; }
.bds_sohu { background-position: 0px -675px ! important; }
.bds_t163 { background-position: 0px -715px ! important; }
.bds_thx { background-position: 0px -1829px ! important; }
.bds_mail { background-position: 0px -1870px ! important; }
.bds_baidu { background-position: 0px -1950px ! important; }
.bds_mshare { background-position: 0px -2070px ! important; }
.bds_bdxc { background-position: 0px -2190px ! important; }
.bds_sqq { background-position: 0px -2230px ! important; }

