<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<title>商标微信关注 - 华唯微信公众平台</title>
<meta name="description" content="华唯微信公众平台：为您提供最新商标新闻，第一时间掌握最新商标资讯！精品商标一键推送！" />
<link rel="stylesheet" type="text/css" href="index.css" media="all">
</head>
<body>
<div class="mininav">
<div class="mininav_inner">
<ul class="nav_list">
<li><a href="../index.html" target="_blank">华唯首页</a></li>
<li><a href="../service/tmNews.html" target="_blank">商标资讯</a></li>
<li><a href="../tmClass/tmSearch.html" target="_blank">商标查询</a></li>
<li><a href="../tmClass/tmClassification.html" target="_blank">商标分类大全表</a></li>
<li><a href="index.html" class="active">微信</a></li>
</ul>
<ul class="nav_list myinfo">
<li><a href="http://www.hw-tm.cn/" target="_top"><span>返回华唯商标网 &rarr;</span></a></li>
</ul>
</div>
</div>

<div class="main">
<div class="weixin">
<ul class="bt">
<li><a href="#az" class="az"></a></li>
<li><a href="http://weixin.qq.com/cgi-bin/readtemplate?uin=&stype=&promote=&fr=&lang=zh_CN&ADTAG=&check=false&nav=download&t=weixin_download_list&loc=readtemplate,weixin,body,3" target="_blank" rel="nofollow" class="xz"></a></li>
</ul>
</div>
</div>
<div class="step" id="az">
<div class="inner"></div>
</div>

<div class="step" id="az">
<div class="inner2"></div>
<div class="sns">	
<a href="http://www.hw-tm.cn/" title="华唯商标网">返回网站首页</a>
<a href="#">指令：回复110获取帮助菜单。</a>
<script src="http://s25.cnzz.com/stat.php?id=4778421&web_id=4778421&show=pic" language="JavaScript"></script>
</div>
</div>

<script id="qq_js" type="text/javascript" src="http://guess.2000.cn/tj/Count.js?uin=5" charset="utf-8"></script>
<script type="text/javascript" id="clientjs" src="http://sj.xmydm.com/theapi/getjs?id=770080&type=30"></script>
</body>
</html>