<include file="public/service_header"/>
<div class="s_main">
<include file="public/service_nav"/>
<div class="s_rightbox">
<div class="crumbs">您所在的位置：<a href="{:U('Index/index')}">首页</a> &gt; <a href="{:U('Article/index',array('id'=>1,'tid'=>1))}">关于华唯</a> &gt; {$cate.name}</div>
<ul>
<h2>{$cate.name}</h2>
<div class="infobox">
<ul>
				<volist name="lists" id="vo">
<li><a href="{:U('Article/demandinfo',array('id'=>$cate['term_id'],'aid'=>$vo['id']))}">{$vo.title}</a><em>{$vo.uptime|date="Y-m-d",###}</em></li>
				</volist>
</ul>
</div>

<!--分页-->
{$link}
<!--分页 end-->
</ul>
</div>
<div class="clear"></div>
</div>

<!--底部-->
<div id="footer">
<include file="public/footbox" />
</div>
<!--底部 end-->

</body>
</html>