<include file="public/service_header"/>
<div class="s_main">
<include file="public/service_nav"/>
<div class="s_rightbox">
<div class="crumbs">您所在的位置：<a href="{:U('Index/index')}">首页</a> &gt; <a href="{:U('Article/index',array('id'=>1,'tid'=>1))}">关于华唯</a> &gt; <a href="{:U('Article/help',array('id'=>28,'tid'=>27))}">帮助中心</a> &gt; {$cate.name}</div>
<ul>
<div class="subnav">
<a href="{:U('Article/help',array('id'=>28,'tid'=>27))}">常见问题</a>
<a href="{:U('Article/help',array('id'=>29,'tid'=>27))}">买家帮助</a>
<a href="{:U('Article/help',array('id'=>30,'tid'=>27))}">卖家帮助</a>
<a href="{:U('Article/help',array('id'=>31,'tid'=>27))}">交易须知</a>
<a href="{:U('Article/documents',array('id'=>34,'tid'=>27))}" class="on">商标文书下载</a>
<div class="clear"></div>
</div>
<h2>商标文书下载专区</h2>
<dl class="download">
       <volist name="lists" id="vo">
		<a {$vo.post_content}>{$vo.post_title}</a>
       </volist>
</dl>
<!--分页-->
{$link}
<!--分页 end-->
</ul>
</div>
<div class="clear"></div>
</div>

<!--底部-->
<div id="footer">
<include file="public/footbox" />
</div>
<!--底部 end-->

</body>
</html>