<include file="public/service_header"/>
<div class="s_main">
<include file="public/service_nav"/>
<div class="s_rightbox">
<div class="crumbs">您所在的位置：<a href="{:U('Index/index')}">首页</a> &gt; <a href="{:U('Article/index',array('id'=>1,'tid'=>1))}">关于华唯</a> &gt; 加盟合作</div>
<ul>
<h2>加盟合作</h2>
<h3>加盟理由</h3>
<p>在信息时代的今天，我们采用国际化的运作模式，在 网络技术、商业互惠盈利模式、信息服务及互联网应用等方面处于同行业领先 地位。公司秉承“最重要可以帮到您”的服务宗旨，与各企业一起共同发展进 步、永不停滞，并将不断推陈出新、追求完美，倾心注力地为企业或个人提供 更全面、更优越、更完善的服务。让我们一起“掌握现在，撼动未来”。</p>
<p>华唯商标转让网将以市场、客户意愿为准，秉承“同进 同行 同发展 共创 共赢 共辉煌”的经营理念，以客户需求为基础，专业权威、诚信为本的 打造规模化、标准化、系统化、专业化的运营平台。</p>
<p>目前华唯商标转让网已全面改版，正式启动运作；新网站运营的同时 又推出30个地方频道、多处地方分站以及28多个行业频道,华唯商标转让网业务遍布全国，甚至是全球的商标事务以及相关的知识产权事务，都能够热 忱的为客户服务。</p>
<p>回首过去，华唯商标转让网已经成功将商标行业领入网络信息时代， 目前已经拥有最强大的国内信息平台。展望不久的将来，华唯商标转让网将成为世界知识产权行业知名网站之一。</p>
<h3>加盟步骤</h3>
<p><b>1、申请加盟</b></p>
<p>有意向加入华唯商标转让网联盟者可按要求填写加盟申请表（可在网上受理）， 并以邮递或传真、E-mail的形式递交相关的资料复印件。</p>
<p>包括：所在地办公场所证明、营业执照副本（加盖红章）、税务登记证明、法人代表或个人身份证复印件。</p>
<p><b>2、审查入盟</b></p>
<p>华唯商标转让网会在收到申请者提供的相关资料后，对其进行审核批示，初步确认后在三日内发出确认函。</p>
<p><b>3、联盟协议</b></p>
<p>申请加盟商收到确认函后，即签订“加盟商合作协议书”，一经签订即授予加盟商“地方客户服务中心”的资格。</p>
<p><b>4、业务联盟</b></p>
<p>加盟成功后，在本站联盟成员当中；联盟商互相交流协作。</p>
<p><b>5、业务培训</b></p>
<p>华唯商标转让网对加盟商就网站系统使用、维护、及相关运作模式进行培训。</p>
<p><b>6、开拓业务</b></p>
<p>联盟成员各代理商按协议约定开展业务，定期向本站递交报告；及业务情况。</p>
<h3>加盟优势</h3>
<p>1、华唯商标转让网凭据创办中国最好的产权代理机构的意念发展，网站频道丰富、及时；各地方分站相辅相成，网页总数量将达到50万余页，预计本网站每日点击量将达到2万余次。</p>
<p>2、华唯商标转让网以‘最重要可以帮到您！’的服务宗旨，为联盟代理商提供高 质量的服务及增值服务；如：加盟商可在本站享有优先占有黄金广告位、地方品牌商标 展示；各加盟代理商可依托本站受理平台受理相关业务及增值业务，业务所得归代理商 所有。</p>
<p>3、本站将利用互联网、传统媒体、相关广告途径及公关活动进行市场的宣传推广。把“ 中国知识产权在线”发展成为国内最好的代理产权组织。以便各加盟代理商有更好的网 络平台。</p>
<p>4、华唯商标转让网就是各加盟代理商的网络交流平台、业务支持站点，免费为分 站各代理商提供与本站相关的业务数据系统、企业信息；并为代理商提供网络技术支持 及专业的知识资料，促进共同发展。</p>
<p>5、本站一切免费，以及收费服务都会对代理商提供相应的优惠政策。</p>
<h3>申请加盟</h3>
<form action="{:U('Article/joinuspost')}" method="post" >

<script type='text/javascript' src="{:C('HTMLPATH')}js/jquery.bgiframe.min.js"></script>
<link  href="{:C('HTMLPATH')}css/validate.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
$(function(){
  var xOffset = -20;
  var yOffset = 20;

  $("[reg],[tip]").hover(
    function(e) {
      if($(this).attr('tip') != undefined){
        var top = (e.pageY + yOffset);
        var left = (e.pageX + xOffset);
        $('body').append( '<p id="vtip"><img id="vtipArrow" src="{:C('HTMLPATH')}images/vtip_arrow.png"/>' + $(this).attr('tip') + '</p>' );
        $('body').append( '<p id="vtip">' + $(this).attr('tip') + '</p>' );
        $('p#vtip').css("top", top+"px").css("left", left+"px");
        $('p#vtip').bgiframe();
      }
    },
    function() {
      if($(this).attr('tip') != undefined){
        $("p#vtip").remove();
      }
    }
  ).blur(function(){
    if($(this).attr("reg") != undefined){
      validate($(this));
    }
  });

  // 提交前验证
  $("form").submit(function(){
    var isSubmit = true;
    $(this).find("[reg]").each(function(){
      if(!validate($(this))){
        isSubmit = false;
      }
    });
    return isSubmit;
  });
});
// 验证函数
function validate(obj){
  var reg = new RegExp(obj.attr("reg"));
  var objValue = obj.attr("value");
  if(!reg.test(objValue)){
    obj.css({border:"2px solid #ff0000",color:"red"});
    return false;
  }else{
    obj.css({border:"1px solid #bbb",color:""});
    return true;
  }
}
</script>

<p><table width="100%" border="0" cellspacing="0" cellpadding="0" class="int_Table">
  <tr>
    <td width="15%" align="right">公司名称：</td>
    <td colspan="3"><input type="text" name="com_name" class="ipt_1"  reg="[^\s]+" tip="公司名称不能为空"/></td>
  </tr>
  <tr>
    <td align="right">联系人：</td>
    <td width="35%"><input type="text" name="contacts" class="ipt_2" reg="[^\s]+" tip="联系人不能为空"/></td>
    <td width="15%" align="right">公司电话：</td>
    <td width="35%"><input type="text" name="com_tel" class="ipt_2"  reg="[^\s]+" tip="公司电话不能为空"/></td>
  </tr>
  <tr>
    <td align="right">加盟城市：</td>
    <td><input type="text" name="join_city" class="ipt_2"  reg="[^\s]+" tip="加盟城市不能为空"/></td>
    <td align="right">传真：</td>
    <td><input type="text" name="portraiture" class="ipt_2" /></td>
  </tr>
  <tr>
    <td align="right">公司网址：</td>
    <td><input type="text" name="com_url" class="ipt_2" /></td>
    <td align="right">手机：</td>
    <td><input type="text" name="phone" class="ipt_2" /></td>
  </tr>
  <tr>
    <td align="right">邮政编码：</td>
    <td><input type="text" name="zipcode" class="ipt_2" /></td>
    <td align="right">电子邮件：</td>
    <td><input type="text" name="mail" class="ipt_2" /></td>
  </tr>
  <tr>
    <td align="right">通讯地址：</td>
    <td colspan="3"><input type="text" name="post_addr" class="ipt_1" /></td>
  </tr>
  <tr>
    <td align="right">公司简介：</td>
    <td colspan="3"><textarea name="com_introduce"></textarea></td>
  </tr>
  <tr>
    <td colspan="4" align="center"><input type="submit" value="提交" class="btn1" /></td>
  </tr>
</table></p>
</form>
<p>全国地方分站诚征加盟合作<br/>
联系人：黄先生<br/>
通讯地址：广州市天河区体育西路111号建和中心29层(全层)<br/>
邮政编码：510507<br/>
加盟电话：020-38813114 38846890 38817890 转各部门分机<br/>
Email：<a href="mailto:crtm@crtm.com.cn?subject=加盟合作" class="blue">crtm@crtm.com.cn</a></p>
</ul>
</div>
<div class="clear"></div>
</div>

<!--底部-->
<div id="footer">
<include file="public/footbox" />
</div>
<!--底部 end-->

</body>
</html>