<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<tc_include file="Hwtm:public:site_seo"/>
<link rel="stylesheet" href="{:C('RESOURCES_PATH.__STATICS__')}/css/main.css">
<link rel="stylesheet" href="{:C('RESOURCES_PATH.__STATICS__')}/css/service.css">
<link rel="shortcut icon" href="{:C('RESOURCES_PATH.__STATICS__')}/favicon.ico" type="image/x-icon" />
<script type="text/javascript" src="{:C('RESOURCES_PATH.__STATICS__')}/js/jquery-1.7.1.js"></script>
<script type="text/javascript" src="{:C('RESOURCES_PATH.PUBLIC')}/js/geturl.js"></script>
<script type="text/javascript">
var id=34;
var server='<php>echo json_encode($_SERVER)</php>';
var true_url="{:U('Url/url/saveurl')}";
$(function(){
	$('.cckefu').click(function(){
		$.ajax({
			type:'post',
			url:"{:U('Kefu/Main/getMa')}",
			data:"uid={$Think.cookie.uid}&keid="+$(this).val()+"&ktype=1",
		});
	});
	$('.qqkefu').click(function(){
		$.ajax({
			type:'post',
			url:"{:U('Kefu/Main/getMa')}",
			data:"uid={$Think.cookie.uid}&keid="+$(this).val()+"&ktype=2"
		});
	});
	$('.wwkefu').click(function(){
		$.ajax({
			type:'post',
			url:"{:U('Kefu/Main/getMa')}",
			data:"uid={$Think.cookie.uid}&keid="+$(this).val()+"&ktype=3"
		});
	});
	$('.wxkefu').click(function(){
		$.ajax({
			type:'post',
			url:"{:U('Kefu/Main/getMa')}",
			data:"uid={$Think.cookie.uid}&keid="+$(this).val()+"&ktype=4"
		});
	});
});
</script>
</head>

<body>
<tc_include file="Hwtm:public:service_header"/>
<div class="kf_main">
<ul class="crumbs">您所在的位置：<a href="{:U('Index/index')}">首页</a> &gt; 客服中心</ul>
<div class="clear"></div>
<div class="online">
<div class="online_title">
<h2>CC客服<em>选择CC客服，无需第三方客服软件，直接在浏览器对话服务，简单方便快捷。</em></h2>
</div>
<div class="pub_box">
<ul class="filter" id="tits">
<li onClick="settab(1)" class="cur"><label><input type="radio" name="rad" checked="checked">买商标</label></li>
<li onClick="settab(2)"><label><input type="radio" name="rad">卖商标</label></li>
<li onClick="settab(3)"><label><input type="radio" name="rad">商标注册</label></li>
</ul>
<div class="pub_linebox">
<ul class="online_box" id="con_1">
<foreach name="ccbuy" item="vo">
<li class="cckefu" value="{$vo.id}" onclick="window.open('http://kefu.qycn.com/vclient/chat/?websiteid=91819&amp;clerkid={$vo.cc}&amp;clienturl=http%3A//www.hw-tm.co/','_blank', 'toolbar=no,scrollbars=no,menubar=no,status=no,resizable=yes,location=no')" style='border:none;cursor:pointer'><a href=""><i></i><span>{$vo.name}</span><em>工号{$vo.sno}</em></a></li>
</foreach>
<div class="clear"></div>
</ul>
<ul class="online_box" id="con_2" style="display:none;">
<foreach name="ccsell" item="vo">
<li class="cckefu" value="{$vo.id}" onclick="window.open('http://kefu.qycn.com/vclient/chat/?websiteid=91819&amp;clerkid={$vo.cc}&amp;clienturl=http%3A//www.hw-tm.co/','_blank', 'toolbar=no,scrollbars=no,menubar=no,status=no,resizable=yes,location=no')" style='border:none;cursor:pointer'><a href=""><i></i><span>{$vo.name}</span><em>工号{$vo.sno}</em></a></li>
</foreach>
<div class="clear"></div>
</ul>
<ul class="online_box" id="con_3" style="display:none;">
<foreach name="ccreg" item="vo">
<li class="cckefu" value="{$vo.id}" onclick="window.open('http://kefu.qycn.com/vclient/chat/?websiteid=91819&amp;clerkid={$vo.cc}&amp;clienturl=http%3A//www.hw-tm.co/','_blank', 'toolbar=no,scrollbars=no,menubar=no,status=no,resizable=yes,location=no')" style='border:none;cursor:pointer'><a href=""><i></i><span>{$vo.name}</span><em>工号{$vo.sno}</em></a></li>
</foreach>
<div class="clear"></div>
</ul>
<script>
function settab(n){
tli=document.getElementById('tits').getElementsByTagName("li");
for(i=0;i<tli.length;i++){
k=i+1
if (k==n){
tli[i].className="cur";
document.getElementById('con_'+k).style.display="";	
}else{
tli[i].className="";
document.getElementById('con_'+k).style.display="none";
}
}
}
</script>
</div>
</div>
</div>
<!--CC客服结束-->
<div class="online">
<div class="online_title">
<h2>QQ客服</h2>
</div>
<div class="pub_box">
<ul class="filter" id="titsb">
<li onClick="settabb(1)" class="cur"><label><input type="radio" name="radc" checked="checked">买商标</label></li>
<li onClick="settabb(2)"><label><input type="radio" name="radc">卖商标</label></li>
<li onClick="settabb(3)"><label><input type="radio" name="radc">商标注册</label></li>
</ul>
<div class="pub_linebox">
<ul class="online_box qq_line" id="conb_1">
<foreach name="qqbuy" item="vo">
<li class="qqkefu" value="{$vo.id}"><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin={$vo.qq}&site=qq&menu=yes"><i></i><span>{$vo.name}</span><em>QQ:{$vo.qq}</em></a></li>
</foreach>
<div class="clear"></div>
</ul>
<ul class="online_box qq_line" id="conb_2" style="display:none;">
<foreach name="qqsell" item="vo">
<li class="qqkefu" value="{$vo.id}"><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin={$vo.qq}&site=qq&menu=yes"><i></i><span>{$vo.name}</span><em>QQ:{$vo.qq}</em></a></li>
</foreach>
<div class="clear"></div>
</ul>
<ul class="online_box qq_line" id="conb_3" style="display:none;">
<foreach name="qqreg" item="vo">
<li class="qqkefu" value="{$vo.id}"><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin={$vo.qq}&site=qq&menu=yes"><i></i><span>{$vo.name}</span><em>QQ:{$vo.qq}</em></a></li>
</foreach>
<div class="clear"></div>
</ul>
<script>
function settabb(n){
tli=document.getElementById('titsb').getElementsByTagName("li");
for(i=0;i<tli.length;i++){
k=i+1
if (k==n){
tli[i].className="cur";
document.getElementById('conb_'+k).style.display="";	
}else{
tli[i].className="";
document.getElementById('conb_'+k).style.display="none";
}
}
}
</script>
</div>
</div>
</div>
<!--QQ客服结束-->
<div class="online">
<div class="online_title">
<h2>阿里旺旺</h2>
</div>
<div class="pub_box">
<ul class="filter" id="titsd">
<li onClick="settabd(1)" class="cur"><label><input type="radio" name="radb" checked="checked">买商标</label></li>
<li onClick="settabd(2)"><label><input type="radio" name="radb">卖商标</label></li>
<li onClick="settabd(3)"><label><input type="radio" name="radb">商标注册</label></li>
</ul>
<div class="pub_linebox">
<ul class="online_box wanwan_line" id="cond_1">
<foreach name="wwbuy" item="vo">
<li class="wwkefu" value="{$vo.id}"><a target="_blank" href="http://www.taobao.com/webww/ww.php?ver=3&touid={$vo.ali}&siteid=cntaobao&status=1&charset=utf-8" ><i></i><span>{$vo.name}</span><em>工号{$vo.sno}</em></a></li>
</foreach>
<div class="clear"></div>
</ul>
<ul class="online_box wanwan_line" id="cond_2" style="display:none;">
<foreach name="wwsell" item="vo">
<li class="wwkefu" value="{$vo.id}"><a target="_blank" href="http://www.taobao.com/webww/ww.php?ver=3&touid={$vo.ali}&siteid=cntaobao&status=1&charset=utf-8" ><i></i><span>{$vo.name}</span><em>工号{$vo.sno}</em></a></li>
</foreach>
<div class="clear"></div>
</ul>
<ul class="online_box wanwan_line" id="cond_3" style="display:none;">
<foreach name="wwreg" item="vo">
<li class="wwkefu" value="{$vo.id}"><a target="_blank" href="http://www.taobao.com/webww/ww.php?ver=3&touid={$vo.ali}&siteid=cntaobao&status=1&charset=utf-8" ><i></i><span>{$vo.name}</span><em>工号{$vo.sno}</em></a></li>
</foreach>
<div class="clear"></div>
</ul>
<script>
function settabd(n){
tli=document.getElementById('titsd').getElementsByTagName("li");
for(i=0;i<tli.length;i++){
k=i+1
if (k==n){
tli[i].className="cur";
document.getElementById('cond_'+k).style.display="";	
}else{
tli[i].className="";
document.getElementById('cond_'+k).style.display="none";
}
}
}
</script>
</div>
</div>
</div>
<!--阿里旺旺结束-->
<div class="online">
<div class="online_title">
<h2>微信客服</h2>
</div>
<div class="pub_box">
<ul class="filter" id="titsc">
<li onClick="settabc(1)" class="cur"><label><input type="radio" name="radd" checked="checked">买商标</label></li>
<li onClick="settabc(2)"><label><input type="radio" name="radd">卖商标</label></li>
<li onClick="settabc(3)"><label><input type="radio" name="radd">商标注册</label></li>
</ul>
<div class="pub_linebox">
<ul class="online_box weixin_line" id="conc_1">
<foreach name="wxbuy" item="vo">
<li class="wxkefu" value="{$vo.id}"><a href=""><i></i><span>{$vo.name}</span><em>工号{$vo.sno}</em></a></li>
</foreach>
<div class="clear"></div>
</ul>
<ul class="online_box weixin_line" id="conc_2" style="display:none;">
<foreach name="wxsell" item="vo">
<li class="wxkefu" value="{$vo.id}"><a href=""><i></i><span>{$vo.name}</span><em>工号{$vo.sno}</em></a></li>
</foreach>
<div class="clear"></div>
</ul>
<ul class="online_box weixin_line" id="conc_3" style="display:none;">
<foreach name="wxreg" item="vo">
<li class="wxkefu" value="{$vo.id}"><a href=""><i></i><span>{$vo.name}</span><em>工号{$vo.sno}</em></a></li>
</foreach>
<div class="clear"></div>
</ul>
<script>
function settabc(n){
tli=document.getElementById('titsc').getElementsByTagName("li");
for(i=0;i<tli.length;i++){
k=i+1
if (k==n){
tli[i].className="cur";
document.getElementById('conc_'+k).style.display="";	
}else{
tli[i].className="";
document.getElementById('conc_'+k).style.display="none";
}
}
}
</script>
</div>
</div>
</div>
<!--微信客服结束-->

<div class="clear"></div>
</div>

<!--底部-->
<div id="footer">
<tc_include file="Hwtm:public:service_footer"/>
</div>
<!--底部 end-->

</body>
</html>