<include file="public/service_header"/>
<div class="s_main">
<include file="public/service_nav"/>
<div class="s_rightbox">
<div class="crumbs">您所在的位置：<a href="{:U('Index/index')}">首页</a> &gt; <a href="{:U('Article/index',array('id'=>1,'tid'=>1))}">关于华唯</a> &gt; <a href="{:U('Article/news',array('id'=>$cate['term_id'],'tid'=>$tid))}"><eq name="cate['term_id']" value="35">成功案例<else/>{$cate.name}</eq></a> &gt; {$art.post_title}</div>
<ul>
<div class="detbox">
<h3>{$art.post_title}
<p>
<em class="jiathis_style">
<!-- JiaThis Button BEGIN -->
<a class="jiathis_button_qzone"></a>
<a class="jiathis_button_tsina"></a>
<a class="jiathis_button_tqq"></a>
<a class="jiathis_button_weixin"></a>
<a class="jiathis_button_renren"></a>
<a class="jiathis_button_xiaoyou"></a>
<a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
<a class="jiathis_counter_style"></a>
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
<!-- JiaThis Button END -->
</em>
<php>$time=strtotime($art['post_date']);</php>
<em>来源：hw-tm.cn</em><em>时间：{$time|date="Y-m-d",###}</em>
</h3>
<ul>
{$art.post_content}</ul>
</div>
<p>上一篇：<empty name="down.post_title">已是第一条<else/><a href="{:U('Article/info',array('id'=>$cate['term_id'],'aid'=>$down['id'],'tid'=>$tid))}" class="blue">{$down.post_title}</a></empty></p>
<p>下一篇：<empty name="up.post_title">已是最后一条<else/><a href="{:U('Article/info',array('id'=>$cate['term_id'],'aid'=>$up['id'],'tid'=>$tid))}" class="blue">{$up.post_title}</a></empty></p>
</ul>
</div>
<div class="clear"></div>
</div>

<!--底部-->
<div id="footer">
<include file="public/footbox" />
</div>
<!--底部 end-->

</body>
</html>