<include file="public/m_header" />
<div class="m_content">
<div class="content_title"><h2>个人资料</h2><div class="net_add"><i></i>您现在的位置：个人中心 &gt; 资料管理 &gt; 个人资料</div></div>
<div class="content_box">
<div class="data">
<form method="post">
<p><em>用户姓名</em><input type="text" value="{$userinfo.username}" name='username'  class="buy_input" disabled></p>
<p><em>手机号码</em><input type="text" value="{$userinfo.telephone}" name='telephone' class="buy_input" disabled></p>
<p><em>办公电话</em><input type="text" value="{$userinfo.cellphone}" name='cellphone' class="buy_input" disabled></p>
<p><em>QQ号码</em><input type="text" value="{$userinfo.qq}" name='qq' class="buy_input" disabled></p>
<p><em>传真号码</em><input type="text" value="{$userinfo.fax}" name='fax' class="buy_input" disabled></p>
<p><em>电子邮件</em><input type="text" value="{$userinfo.email}" name='email' class="buy_input" disabled></p>
<p><em>详细地址</em><input type="text" value="{$userinfo.address}" name='address' class="buy_input" disabled></p>
<p><em>邮政编码</em><input type="text" value="{$userinfo.post}" name='post' class="buy_input" disabled></p>
<p><em>公司名称</em><input type="text" value="{$userinfo.cname}" name='cname' class="buy_input" disabled></p>
<p class="btcbox">
<input type="submit" value="保存" style='display:none;' id='save' class="transfer_but transfer_butc">
<input type="button" value="修改" id='edit' class="transfer_but transfer_butc">
</form>
</p>

<p></p>
<p><em>绑定腾讯QQ</em>
	<if condition="!empty($oauths_status['qq'])">
		<b>已绑定腾讯QQ账号</b>
	<else/>
		<a href="{:U('Oauth/bang',array('type'=>'qq'))}">绑定腾讯QQ账号</a>
	</if>
</p>
<p><em>绑定新浪微博</em>
	<if condition="!empty($oauths_status['sina'])">
		<b>已绑定新浪微博账号</b>
	<else/>
		<a href="{:U('Oauth/bang',array('type'=>'sina'))}">绑定新浪微博账号</a>
	</if>
</p>

</div>
<script type="text/javascript">
$(document).ready(function(){
		$('#edit').click(function(){
			$(':input[type="text"]').removeAttr('disabled');
			$(':input[type="text"]').after("<i>*</i>");
			$(this).hide();
			$('#save').show();
		});
});
</script>
</div>
</div>
<div class="clear"></div>
</div>
</div>
</body>
</html>