<include file="public/m_header" />
<div class="m_content">
<div class="content_title"><h2>修改密码</h2><div class="net_add"><i></i>您现在的位置：个人中心 &gt; 资料管理 &gt; 修改密码</div></div>
<div class="content_box">
<div class="data">
<form method="post">
<p><em>原密码</em><input type="password" name='ypassword' class="buy_input"><i>*</i></p>
<p><em>新密码</em><input type="password" name='npassword' class="buy_input"><i>*</i></p>
<p><em>确认密码</em><input type="password" name='rnpassword' class="buy_input"><i>*</i></p>
<p class="btcbox"><input type="submit" value="保存" class="transfer_but transfer_butc"></p>
</form>
</div>
</div>
</div>
<div class="clear"></div>
</div>
</div>
</body>
</html>