<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$tmpl_info.title}</title>
<meta name="Keywords" content="{$tmpl_info.keywords}" />
<meta name="Description" content="{$tmpl_info.description}" />
<link rel="stylesheet" href="{:C('HTMLPATH')}css/memberStyle.css">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<script type="text/javascript" src="{:C('HTMLPATH')}js/jquery-1.7.1.js"></script>
<script type="text/javascript">
var trace_page_on = "{$trace_page_arr.on}";
if(trace_page_on){
function trace_close_time(){
	$.ajax({
		type:"POST",
		url:"{:U('Index/traceUrl')}",
		async: false,
		data:"id={$trace_page_arr.trace_id}",
		success: function(result){
			}
	});
}
function trace_update_time(){
	$.ajax({
		type:"POST",
		url:"{:U('Index/traceUrl')}",
		async: false,
		data:"type=1&id={$trace_page_arr.trace_id}",
		success: function(result){
			}
	});
}
window.onbeforeunload = function(){
	trace_close_time();
}
var time_limit_tmp = "{$trace_page_arr.limit_time|default=10000}";
time_limit_tmp = parseInt(time_limit_tmp);
time_limit_tmp = time_limit_tmp * 1000;
setInterval(trace_update_time, time_limit_tmp);
}
</script>
</head>

<body class="mbody">
<div id="loginbox">
<div class="m_head">
<div class="logo">
<h1><a href="{:C('INDEXPATH')}" target="_blank" title="华唯商标转让网">华唯商标转让网</a></h1>
</div>
<div class="phone">
<p class="grey">24小时服务热线</p>
<p>400-888-1139</p>
</div>
</div>
<div class="m_main">
<div class="regbox">
<dl>
<form action="{:U('User/doreg')}" method="post">

<script type='text/javascript' src="{:C('HTMLPATH')}js/jquery.bgiframe.min.js"></script>
<link  href="{:C('HTMLPATH')}css/validate.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
$(function(){
	var xOffset = -20;
	var yOffset = 20;

	$("[reg],[tip]").hover(
		function(e) {
			if($(this).attr('tip') != undefined){
				var top = (e.pageY + yOffset);
				var left = (e.pageX + xOffset);
				$('body').append( '<p id="vtip"><img id="vtipArrow" src="{:C('HTMLPATH')}images/vtip_arrow.png"/>' + $(this).attr('tip') + '</p>' );
				$('body').append( '<p id="vtip">' + $(this).attr('tip') + '</p>' );
				$('p#vtip').css("top", top+"px").css("left", left+"px");
				$('p#vtip').bgiframe();
			}
		},
		function() {
			if($(this).attr('tip') != undefined){
				$("p#vtip").remove();
			}
		}
	).blur(function(){
		if($(this).attr("reg") != undefined){
			validate($(this));
		}
	});

	// 提交前验证
	$("form").submit(function(){
		var isSubmit = true;
		$(this).find("[reg]").each(function(){
			if(!validate($(this))){
				isSubmit = false;
			}
		});
		if($('input[name=password]').val() != $('input[name=repass]').val()){
			alert('两次输入密码不一样！');
			return false;
		}
		// 电话或手机选这一个
		var tel = $('input[name=telephone]').val();
		var cellp = $('input[name=cellphone]').val();
		tel = tel.replace(/(^\s*)|(\s*$)/g, '');
		cellp = cellp.replace(/(^\s*)|(\s*$)/g, '');
		if(tel=='' && cellp==''){
			alert('电话或手机必填一个！');
			return false;
		}
		// 检验电话号码
		var reg = new RegExp(/^(\d{3,4}-)?\d{7,8}(-\d{1,4})?$/);
		if(tel != ''){
			if(!reg.test(tel)){
				alert('电话号码格式不正确！');
				return false;
			}
			// ajax验证
			var t_back = $.ajax({
				type:'GET',
				data: "chkc="+tel,
				url:"{:U('Index/chkCellphone')}",cache:false,async:false
			}).responseText;
			t_back = t_back.replace(/(^\s*)|(\s*$)/g, "");
			if(t_back == 'success'){
				//
			}else{
				// 在黑名单中
				alert('电话号码不正确！');
				return false;
			}
		}
		// 手机验证
		if(cellp != ''){
			reg = new RegExp(/^\d{11}$/);
			if(!reg.test(cellp)){
				alert('手机号码格式不正确！');
				return false;
			}
			// ajax验证
			var t_back = $.ajax({
				type:'GET',
				data: "chkc="+cellp,
				url:"{:U('Index/chkCellphone')}",cache:false,async:false
			}).responseText;
			t_back = t_back.replace(/(^\s*)|(\s*$)/g, "");
			if(t_back == 'success'){
				//
			}else{
				// 在黑名单中
				alert('手机号码不正确！');
				return false;
			}
		}
		// email
		var email = $('input[name=email]').val();
		email = email.replace(/(^\s*)|(\s*$)/g, '');
		if(email != ''){
			var reg = new RegExp(/.+@.+/);
			if(!reg.test(email)){
				alert('邮箱格式不正确！');
				return false;
			}
		}
		return isSubmit;
	});
});
// 验证函数
function validate(obj){
	var reg = new RegExp(obj.attr("reg"));
	var objValue = obj.attr("value");
	if(!reg.test(objValue)){
		obj.addClass("input_validation-failed");
		return false;
	}else{
		obj.removeClass("input_validation-failed");
		return true;
	}
}
</script>

<dt><i>*</i>用户名称：</dt><dd><input type="text" name="username" reg="^\s*([\u4e00-\u9fa5]|\w)+\s*$" tip="用户名为中文或英文字母" /> <em>（用户名为中文或英文字母）</em></dd>
<dt><i>*</i>用户密码：</dt><dd><input type="password" name="password" reg="^\s*\w{6,}\s*$" tip="密码为6位以上字母或数字"/> <em>（密码为6位以上字母或数字）</em></dd>
<dt><i>*</i>确认密码：</dt><dd><input type="password" name="repass" reg="^\s*\w{6,}\s*$" tip="请确认两次密码输入相同"/> <em>（请再次输入密码）</em></dd>
<dt>昵称：</dt><dd><input type="text" name="nick" /> <em>（例：张三）</em></dd>
<dt><i>*</i>电话：</dt><dd><input type="text" name="telephone" /> <em>（例：020-38819705）</em></dd>
<dt><i>*</i>手机：</dt><dd><input type="text" name="cellphone" /> <em>（例：13800138000）</em><i>必填，请填写正确的手机号，系统会发送验证短信，否则无法登录查询！</i></dd>
<dt>E-mail：</dt><dd><input type="text" name="email" /> <em>（例：admin@163.com）</em></dd>
<dt>QQ号码：</dt><dd><input type="text" name="qq" /> <em>（例：581673255）</em></dd>
<p><input type="submit" name="Submit" value="提交注册" class="btn"/>
<input type="submit" name="Submit" value="直接登录" class="btn" onclick="location.href='{:U('User/index')}'" /></p>
</dl>
</form>
</div>
</div>
<include file='public/user_footer' />
</div>
</body>
</html>