<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>商标转让_服装商标转让_《华唯商标转让》 - 全国最大、最全的商标转让网</title>
<meta name="Keywords" content="商标转让,商标买卖,服装商标,商标交易,品牌转让" />
<meta name="Description" content="华唯商标转让网,全国最大、最全且更新最快的商标转让网站,最权威商标转让机构, 十年专业经验,服装,鞋商标转让量全国最大,北京,杭州,广州直属公司,打开网站！在线咨询！" />
<link rel="stylesheet" href="../css/memberStyle.css">
<link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
</head>

<body class="mbody">
<div id="loginbox">
<div class="m_head">
<div class="logo">
<h1><a href="http://www.hw-tm.cn" target="_blank" title="华唯商标转让网">华唯商标转让网</a></h1>
</div>
<div class="phone">
<p class="grey">24小时服务热线</p>
<p>400-888-1139</p>
</div>
</div>
<div class="m_main">
<div class="regbox">
<ul class="sucbox">
<h2>恭喜您，注册成功！</h2>
<p>欢迎来到全国最大商标网站 - 华唯商标网</p>
<p><a href="../index.html">返回首页</a><a href="login.html">登录个人中心</a></p>
</ul>
</div>
</div>
<div class="m_foot">
<p><em><a href="../service/about.html" target="_blank">关于我们</a></em> | <em><a href="../service/tmNews.html" target="_blank">新闻资讯</a></em> | <em><a href="../service/recruit.html" target="_blank">诚聘英才</a></em> | <em><a href="../service/copyright.html" target="_blank">版权声明</a></em> | <em><a href="../service/clause.html" target="_blank">服务条款</a></em> | <em><a href="../service/law.html" target="_blank">法律声明</a></em> | <em><a href="../service/help.html" target="_blank">帮助中心</a></em> | <em><a href="../service/contact.html" target="_blank">联系我们</a></em> | <em><a href="../service/sitemap.html" target="_blank">网站地图</a></em></p>
<p>商标转让广州中唯公司、杭州华唯知识产权　@北京华唯环球国际 <a href="http://www.miitbeian.gov.cn" target="_blank">粤ICP备13062556号-7</a></p>
<p>总部：华唯环球（武汉）科技有限公司　　电话：400-888-1139</p>
</div>
</div>
</body>
</html>