<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$tmpl_info.title}</title>
<meta name="Keywords" content="{$tmpl_info.keywords}" />
<meta name="Description" content="{$tmpl_info.description}" />
<link rel="stylesheet" href="{:C('HTMLPATH')}css/main.css">
<link rel="stylesheet" href="{:C('HTMLPATH')}css/memberStyle.css">
<script type="text/javascript" src="{:C('HTMLPATH')}js/jquery-1.7.1.js"></script>
<script type="text/javascript" src="{:C('HTMLPATH')}js/common.js"></script>
<script type="text/javascript" src="{:C('HTMLPATH')}js/ion.rangeSlider.js"></script>
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
</head>

<body class="mbody">


<div id="loginbox">
<div class="m_head">
<div class="logo">
<h1><a href="http://www.hw-tm.cn" target="_blank" title="华唯商标转让网">华唯商标转让网</a></h1>
</div>
<div class="phone">
<p class="grey">24小时服务热线</p>
<p>400-888-1139</p>
</div>
</div>

<div class="m_main">
<div id="container"></div>

<div class="gpw">
<h2>找回密码<em></em></h2>
<ul>
<div class="regForm">

<!-- 显示用户输入用户名-->
<form id="pwdres_f" action="{:U('User/getPwdWay')}" method="post" class="">
<dl>
	<dt>用户名：<input type="hidden" name="step" value="2"/></dt>
	<dd><input type="text" name="uname" value=""/></dd>
	<dt></dt>
</dl>
<div class="clear"></div>
<p style="padding:20px 0 0 78px;"><input type="submit" value="确认" class="btn"/></p>

</form>
<script type="text/javascript">
$(function(){
	// 非空验证
	$("#pwdres_f").submit(function(){
		var tmp = $("#pwdres_f input[name=uname]").val();
		tmp = tmp.replace(/(^\s*)|(\s*$)/g,  '');
		if(tmp == ''){
			alert("请输入用户名！");
			return false;
		}
		return true;
	});
});
</script>


</div>
<div class="clear"></div>
</ul>
</div>



</div>

<div class="clear"></div>
<include file='public/user_footer' />
</div>

<!--背景层-->
<div id="bg" class="bg" style="display:none;"></div>
<iframe id="popIframe" class="popIframe" frameborder="0" ></iframe>
<!--背景层-->

</body>
</html>