<include file="public/m_header" />
<div class="m_content">
<div class="content_title"><h2>转让管理</h2><div class="net_add"><i></i>您现在的位置：个人中心 &gt; 商标管理 &gt; 转让管理</div></div>
<div class="content_box">
<form action="{:U('User/del_transfer')}" method="post">
<if condition="!empty($datas)">
              <table width="100%" border="1" cellspacing="0" cellpadding="0" style="border-collapse:collapse;" class="table_transfer">
                  <tr>
                    <th width="50"><input type="checkbox"  id="checkAll">全选</th>
                    <th>商标</th>
                    <th>状态</th>
                    <th>时间</th>
                    <th>处理</th>
                    <th>操作</th>
                  </tr>
          <php>
            $status=array("2"=>"销售","1"=>"转让");
            $state=array("2"=>"已处理","1"=>"未处理");
          </php>
<foreach name="datas" item="data">
                  <tr>
                    <td><input type="checkbox" name="ids[]" value="{$data.id}"></td>
          <td>{$data.tm_name}</td>
          <td>{$status[$data['status']]}</td>
          <td>{$data.time|date='Y-m-d',###}</td>
          <td>{$state[$data['state']]}</td>
                    <td><eq name="data['state']" value="2">已处理，无法修改<else/><a href="{:U('User/edit_transfer',array('id'=>$data['id']))}">修改</a></eq></td>
                  </tr>
</foreach>
                </table>
                <div class="work">
                  <div class="work_box"><input type="submit" value="删除所选"></div>
                    {$page}
                </div>
<else/>
                <div class="voice">当前暂无转让信息</div>
</if>
</form>
</div>
</div>
<script type="text/javascript">
$(function() {
  $("#checkAll").click(function(){
    var checked = !!$(this).attr("checked");
    $("[name='ids[]']").attr("checked",checked);
    });
    $('#tiao').click(function(){
        if($('.ipt_nor').val()==''){
            alert('未输入跳转页码');
        }else{
          window.location.href="{:U('User/transfer_mana')}?p="+$('.ipt_nor').val();
        }
    });
});
</script>

<div class="clear"></div>
</div>
</div>
</body>
</html>