<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>商标转让_服装商标转让_《华唯商标转让》 - 全国最大、最全的商标转让网</title>
<meta name="Keywords" content="商标转让,商标买卖,服装商标,商标交易,品牌转让" />
<meta name="Description" content="华唯商标转让网,全国最大、最全且更新最快的商标转让网站,最权威商标转让机构, 十年专业经验,服装,鞋商标转让量全国最大,北京,杭州,广州直属公司,打开网站！在线咨询！" />
<link rel="stylesheet" href="../css/main.css">
<link rel="stylesheet" href="../css/tmStyle.css">
<link rel="stylesheet" href="../css/tmReg.css">
<script type="text/javascript" src="../js/jquery-1.7.1.js"></script>
<script type="text/javascript" src="../js/common.js"></script>
<script language="javascript" src="js/jquery-1.4.2.min.js"></script>
<link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
</head>

<body>
<div class="header">
<div id="site-nav">
<ul class="leftsite">
<li class="left">欢迎来到全国最大商标网站 - 华唯商标网<em>欢迎您，blues.liang</em><em><a href="../member/login.html" target="_blank">登录</a></em><em><a href="../member/register.html" target="_blank">注册</a></em><em><a href="#" target="_blank">退出</a></em></li>
</ul>
<ul class="quick-menu">
<li><a href="../service/help.html" target="_blank">新手帮助中心</a></li>
<li><a href="../service/buyhelp.html" target="_blank">买家须知</a></li>
<li><a href="../service/sellhelp.html" target="_blank">卖家须知</a></li>
<li><a href="../service/notice.html" target="_blank">商标交易注意事项</a></li>
<li class="mytm menu-item">
<div class="menu">
<a class="menu-title" href="#" rel="nofollow">网站导航<b></b></a> 
<div class="menu-bd">
<a href="http://bbs.hw-tm.cn" target="_blank" rel="nofollow">商标论坛</a>
<a href="http://ask.hw-tm.cn" target="_blank" rel="nofollow">商标问答</a>
<a href="../service/help.html" target="_blank" rel="nofollow">帮助中心</a>
</div>
</div>
</li>
<li class="mobile menu-item">
<div class="menu">
<a class="menu-title" href="#" rel="nofollow">手机版<b></b></a> 
<div class="menu-bd">
<p>手机浏览器扫描二维码访问</p>
<img src="../images/mcode.png" />
</div>
</div>
</li>
<li class="phone">400-888-1139</li>
</ul>
</div>

<div class="clear"></div>

<div class="midbox">
<div class="logobox"><h1><a href="http://www.hw-tm.cn" target="_blank" title="华唯商标转让网">华唯商标转让网</a></h1></div>
<div class="searchbox">
<ul>
<form name="f" action="http://www.hw-tm.cn/soso" target="_blank">
<div><noscript><input type="hidden" name="" value=""></noscript><div id="sugOut"><input type="text" value="商标名称、注册号、编号、介绍" onfocus="if(this.value==this.attributes.attr_val.value)this.value='';" onblur="if(!this.value)this.value=this.attributes.attr_val.value;" attr_val="商标名称、注册号、编号、介绍" id="kww" autocomplete="off"><div id="sugbox"><div id="sug"></div></div></div>
</div>
</form>
<div class="scate">
<input class="input_01 cr_input_02 ipt1" type="text" value="选择商标类型" onfocus="if(this.value==this.attributes.attr_val.value)this.value='';" onblur="if(!this.value)this.value=this.attributes.attr_val.value;" attr_val="选择商标类型" />
<div id="reg_div" class='reg_div_02' style="display:none;">
<div class="ps_div"><span style="float:right;" class="cr_close">关闭</span>查找提示：</div>
<li class="cate">第1类</li><li class="cate">第2类</li><li class="cate">第3类</li>
<li class="cate">第4类</li><li class="cate">第5类</li><li class="cate">第6类</li>
<li class="cate">第7类</li><li class="cate">第8类</li><li class="cate">第9类</li>
<li class="cate">第10类</li><li class="cate">第11类</li><li class="cate">第12类</li>
<li class="cate">第13类</li><li class="cate">第14类</li><li class="cate">第15类</li>
<li class="cate">第16类</li><li class="cate">第17类</li><li class="cate">第18类</li>
<li class="cate">第19类</li><li class="cate">第20类</li><li class="cate">第21类</li>
<li class="cate">第22类</li><li class="cate">第23类</li><li class="cate">第24类</li>
<li class="cate">第25类</li><li class="cate">第26类</li><li class="cate">第27类</li>
<li class="cate">第28类</li><li class="cate">第29类</li><li class="cate">第30类</li>
<li class="cate">第31类</li><li class="cate">第32类</li><li class="cate">第33类</li>
<li class="cate">第34类</li><li class="cate">第35类</li><li class="cate">第36类</li>
<li class="cate">第37类</li><li class="cate">第38类</li><li class="cate">第39类</li>
<li class="cate">第40类</li><li class="cate">第41类</li><li class="cate">第42类</li>
<li class="cate">第43类</li><li class="cate">第44类</li><li class="cate">第45类</li>
</div>
</div>
<input type="submit" name="Submit" value="搜索" class="btn1" onclick="location.href='../tmClass/tmList.html'" />
<input type="submit" name="Submit" value="高级搜索" class="btn2" onclick="location.href='../tmClass/tmSearch.html'" />
<li>热门搜索：<a href="#" target="_blank" class="con">商标转让</a> | <a href="#" target="_blank">商标转让</a> | <a href="#" target="_blank" class="con">商标转让</a> | <a href="#" target="_blank">商标转让</a> | <a href="#" target="_blank">商标转让</a> | <a href="#" target="_blank">商标转让</a></li>
</ul>
</div>
<div class="subbox">
<ul>
<li><a href="../tmClass/regzr.html" class="ibtn3" target="_blank">更新商标及联系方式</a></li><li><a href="../tmClass/regzr.html" class="ibtn2" target="_blank">我要卖商标</a></li><li><a href="../tmClass/regsupply.html" class="ibtn1" target="_blank">我要买商标</a></li>
</ul>
</div>
</div>

<div class="clear"></div>
<!--导航 Start-->
<div class="menubox">
<div class="all-sort1">
<h2 id="div_h2" >适用行业分类 <img id="img1" src="../images/ico_down.png" align="absmiddle"></h2>
<div class="showbox" id="tip1" style="display:none;">
<!--所有分类 Start-->
<div class="all-sort-list">
<h4 class="t1">商品类</h4>
<div class="item bo">
<h3><span>·</span><a href="../tmClass/tmList.html">服装</a>、<a href="../tmClass/tmList.html">鞋</a>、<a href="../tmClass/tmList.html">皮具</a></h3>
<div class="item-list clearfix">
<div class="subitem">
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">服装</a><dfn>(25类2501)</dfn></em><em><a href="../tmClass/tmList.html">鞋</a><dfn>(25类2502)</dfn></em><em><a href="../tmClass/tmList.html">男女装</a><dfn>(25类2501\2502\2503\2504\0505)</dfn></em><em><a href="../tmClass/tmList.html">童装</a><dfn>(25类2503)</dfn></em><em><a href="../tmClass/tmList.html">孕妇装</a><dfn>(25类2505)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html" class="on">特种运动服装</a><dfn>(25类2501\2502\2503\2504\0505)</dfn></em><em><a href="../tmClass/tmList.html">不透水服装</a><dfn>(25类2501)</dfn></em><em><a href="../tmClass/tmList.html">戏装</a><dfn>(26类2601)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html" class="on">帽</a><dfn>(24类2410)</dfn></em><em><a href="../tmClass/tmList.html">袜</a><dfn>(20类2014)</dfn></em><em><a href="../tmClass/tmList.html">手套</a><dfn>(23类2310)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">领带</a><dfn>(20类2011)</dfn></em><em><a href="../tmClass/tmList.html" class="on">围巾</a><dfn>(5类0502\29类2907)</dfn></em><em><a href="../tmClass/tmList.html">披巾</a><dfn>(5类0502\29类2907)</dfn></em><em><a href="../tmClass/tmList.html">面纱</a><dfn>(5类0505\1类0113\1类0109)</dfn></em><em><a href="../tmClass/tmList.html" class="on">腰带</a><dfn>(9类0921)</dfn></em><em><a href="../tmClass/tmList.html">服装带</a><dfn>(11类1101)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">皮带</a><dfn>(15类1509)</dfn></em><em><a href="../tmClass/tmList.html">皮带扣</a><dfn>(13类1302)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">婚纱</a><dfn>(15类1512)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">皮具</a><dfn>(7类0712)</dfn></em><em><a href="../tmClass/tmList.html" class="on">皮包</a><dfn>(3类0310\1类0114)</dfn></em><em><a href="../tmClass/tmList.html" class="on">箱包</a><dfn>(5类0505/6类0603)</dfn></em><em><a href="../tmClass/tmList.html">袋</a><dfn>(8类0808\9类0902\2类0211)</dfn></em></dd>
</dl>
</div>
</div>
</div>
<div class="item">
<h3><span>·</span><a href="../tmClass/tmList.html">日化</a>、<a href="../tmClass/tmList.html">化妆品</a></h3>
<div class="item-list clearfix">
<div class="subitem">
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">洗涤类</a><dfn>(3类0301/0302)</dfn></em><em><a href="../tmClass/tmList.html">香皂</a><dfn>(3类0301/0302)</dfn></em><em><a href="../tmClass/tmList.html">洗衣粉</a><dfn>(35类3508)</dfn></em><em><a href="../tmClass/tmList.html">洗面奶</a><dfn>(23类2301/2302)</dfn></em><em><a href="../tmClass/tmList.html">洗发液</a><dfn>(3类0301/0302)</dfn></em><em><a href="../tmClass/tmList.html" class="on">去污剂</a><dfn>(19类1901/28类2802)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html" class="on">化妆品</a><dfn>(20类2001/45类4513)</dfn></em><em><a href="../tmClass/tmList.html">口红</a><dfn>(5类0505/6类0603)</dfn></em><em><a href="../tmClass/tmList.html">唇膏</a><dfn>(5类0505/6类0603)</dfn></em><em><a href="../tmClass/tmList.html">香水</a><dfn>(5类0505/6类0603)</dfn></em><em><a href="../tmClass/tmList.html">唇彩</a><dfn>(5类0505/6类0603)</dfn></em><em><a href="../tmClass/tmList.html">美容面膜</a><dfn>(5类0505/6类0603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">口腔清洁</a><dfn>(5类0505/6类0603)</dfn></em><em><a href="../tmClass/tmList.html">牙膏</a><dfn>(5类0505/6类0603)</dfn></em><em><a href="../tmClass/tmList.html">口香水</a><dfn>(5类0505/6类0603)</dfn></em><em><a href="../tmClass/tmList.html">漱口剂</a><dfn>(5类0505/6类0603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">香、精油</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">香草油</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">化妆品用香料</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">汽油</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">润滑剂</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">液体、气体燃料和照明燃料</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">化妆用品</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">理发用品材</a><dfn>(36类3603)</dfn></em></dd>
</dl>
</div>
</div>
</div>
<div class="item">
<h3><span>·</span><a href="../tmClass/tmList.html">药</a>、<a href="../tmClass/tmList.html">医疗器械</a>、<a href="../tmClass/tmList.html">保健品</a></h3>
<div class="item-list clearfix">
<div class="subitem">
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">药品</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">消毒剂</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">中药药材</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">药酒</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">婴儿食品</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">奶粉</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">婴儿食品</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">牛奶饮料</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">保健品</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">营养食品</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">医用营养品</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">人用膳食补充剂</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">茶</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">茶饮料</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">保健茶</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">药茶</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">医疗器械</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">医护工具</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">医用仪器及器械</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">假肢</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">整形用品</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">缝合用材料</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">成人用品</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">性爱娃娃</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">性用品</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">化学品</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">工业化工</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">气体</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">林业化工</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">肥料</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">动物肥料</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">化肥</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">农业化学</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">农药</a><dfn>(36类3603)</dfn></em></dd>
</dl>
</div>
</div>
</div>
<div class="item">
<h3><span>·</span><a href="../tmClass/tmList.html">3G类电子产品及眼镜</a></h3>
<div class="item-list clearfix">
<div class="subitem">
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">电子计算机及其外部设备</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">手机及配件</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">通讯设备</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">导航</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">手机贴膜</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">手机套</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">摄像</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">音响</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">音像设备</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">摄影、电影用具及仪器</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">行车记录仪品</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">眼镜及配件</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">电池及充电器</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">开关、插座、集成电路、电子原器件</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">电动工具及部件</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">各种电动机器及部件</a><dfn>(36类3603)</dfn></em></dd>
</dl>
</div>
</div>
</div>
<div class="item">
<h3><span>·</span><a href="../tmClass/tmList.html">家用电器</a>、<a href="../tmClass/tmList.html">车</a>、<a href="../tmClass/tmList.html">浴室配件</a></h3>
<div class="item-list clearfix">
<div class="subitem">
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">灯</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">照明用设备、器具</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">厨房电器</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">电炊具</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">烹调及民用电气加热设备</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">加温、蒸汽设备</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">消毒设备</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">水净化装置</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">饮水机</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">制冷、冷藏设备</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">冰箱</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">空调</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">空气净化设备</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">水暖管件</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">卫生设备</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">龙头</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">浴室装置</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">卫浴</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">取暖器</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">电暖器</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">小型取暖器</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">太阳能热水器</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">浴霸</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">厨房电动工具(电搅拌器\家用电动榨水果机\厨房用电动碾磨机)</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">洗衣机</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">干洗机</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">脱水机</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">乐器</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">汽车、摩托书、飞机、电车、自行车及相关的配件</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">自行车</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">电动车</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">摩托车</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">童车</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">学步车</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">婴儿车</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">车饰品</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">汽车用垫毯</a><dfn>(36类3603)</dfn></em></dd>
</dl>
</div>
</div>
</div>
<div class="item">
<h3><span>·</span><a href="../tmClass/tmList.html">食品</a>、<a href="../tmClass/tmList.html">饮料</a>、<a href="../tmClass/tmList.html">酒</a>、<a href="../tmClass/tmList.html">水果</a></h3>
<div class="item-list clearfix">
<div class="subitem">
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">肉</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">非活的家禽</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">野味</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">非活水产品</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">罐头肉制品</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">蔬菜罐头</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">腌渍</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">干制水果及制品</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">汤</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">加工过的坚果</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">菌类干制品</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">蛋品</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">食物蛋白，豆腐制品</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">奶及乳制品</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">奶茶</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">饮料</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">茶饮料</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">咖啡</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">食用油脂</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">色拉</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">食用果胶</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">茶</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">糖</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">调味品</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">面包</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">糕点</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">零食</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">方便食品</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">膨化食品</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">面条</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">米</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">豆粉</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">淀粉制品</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">五谷杂粮</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">雪糕</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">未加工的林业产品</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">未加工的谷物及农产品</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">鲜水果鲜干果鲜蔬菜</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">花卉，园艺产品，草木植物</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">活生物</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">鲜水果鲜干果鲜蔬菜</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">海藻</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">动物饲料</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">酒</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">啤酒</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">烟</a><dfn>(36类3603)</dfn></em></dd>
</dl>
</div>
</div>
</div>
<div class="item">
<h3><span>·</span><a href="../tmClass/tmList.html">饰品</a>、<a href="../tmClass/tmList.html">表</a>、<a href="../tmClass/tmList.html">花边饰品</a></h3>
<div class="item-list clearfix">
<div class="subitem">
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">首饰饰品</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">珠宝，首饰，宝石及贵重金属饰品</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">女生常用发型、衣服装饰品(非金属饰品类,如发夹、发帽等)</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">手表</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">钟表</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">花边</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">饰品</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">编带</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">服饰品</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">饰针</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">钮扣，领钩扣，拉链</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">假发，假胡须</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">假花</a><dfn>(36类3603)</dfn></em></dd>
</dl>
</div>
</div>
</div>
<div class="item">
<h3><span>·</span><a href="../tmClass/tmList.html">日杂</a>、<a href="../tmClass/tmList.html">工具</a>、<a href="../tmClass/tmList.html">五金</a>、<a href="../tmClass/tmList.html">文具</a></h3>
<div class="item-list clearfix">
<div class="subitem">
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">非金属建材</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">木材</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">土</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">沙</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">石</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">混凝土</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">石膏</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">砖瓦</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">沥青</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">非金属建筑材料及构件</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">涂料</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">油漆</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">颜料</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">油墨</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">色素</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">瓷砖</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">金属管、塑料管</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">玻璃</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">水晶制品</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">家具</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">金属门</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">非金属门</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">金属、非金属、玻璃、画、雕刻、藤编等艺术品</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">餐具</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">厨房用具</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">陶瓷器皿</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">餐具刀、叉、匙</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">茶具</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">家居日用器具(如：衣架、桶、抹布、保温袋等)</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">牙刷</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">绳索</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">网</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">渔线</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">袋子</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">包装用品</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">帐篷</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">纺织用纱和线</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">纺织品</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">布料</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">壁挂</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">毡</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">毛巾</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">浴巾</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">手帕</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">床上用品</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">枕头</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">室内遮盖物(桌布\门帘\家具罩)</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">睡袋</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">地毯</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">席类</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">垫及其他可移动铺地板用品</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">墙纸</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">非纺织品壁挂</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">卫生巾</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">尿布</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">卫生垫</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">消毒纸巾</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">卫生纸</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">生活用纸</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">纸巾</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">纸</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">办公用品</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">文具</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">保险柜</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">现金保险箱</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">日用五金</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">金属建筑材料</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">五金具</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">金属小五金具</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">锁</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">金属锁</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">电锁</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">手动工具及部件</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">小农具</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">林业、园艺用手工具</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">畜牧、渔业用手工具、非动力手工器具</a><dfn>(36类3603)</dfn></em></dd>
</dl>
</div>
</div>
</div>
<div class="item">
<h3><span>·</span><a href="../tmClass/tmList.html">玩具</a>、<a href="../tmClass/tmList.html">健身</a>、<a href="../tmClass/tmList.html">球类</a></h3>
<div class="item-list clearfix">
<div class="subitem">
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">娱乐物品</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">玩具</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">棋</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">牌</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">球类及器材</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">健身器材</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">射箭运动器材</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">体操、举重、田径、冰雪及其他运动器材</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">运动防护器具及冰鞋</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">钓具</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">烟花、爆竹</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">烟具</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">电子烟</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">打火机</a><dfn>(36类3603)</dfn></em></dd>
</dl>
</div>
</div>
</div>
<h4 class="t2">服务类</h4>
<div class="item">
<h3><span>·</span><a href="../tmClass/tmList.html">商业服务</a>、<a href="../tmClass/tmList.html">商业咨询</a></h3>
<div class="item-list clearfix">
<div class="subitem">
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">广告</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">外观</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">包装</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">建筑</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">服装设计</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">商业辅助</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">展览</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">研究</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">连锁</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">经营管理</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">商店</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">门头</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">进出口</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">市场营销</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">推销</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">办公事务</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">财会</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">保险</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">金融</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">担保</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">信托</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">典当</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">基金</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">估价</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">经纪</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">不动产事务</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">通讯</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">广播</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">计算机软件</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">网站</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">托管</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">编程</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">软件服务</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">APP</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">移动应用</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">IDC服务(互联网数据业务\电话语音通讯业务\基础互联网传输)</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">研究服务</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">法律服务</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">运输</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">快递</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">仓储</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">旅行社</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">导游</a><dfn>(36类3603)</dfn></em></dd>
</dl>
</div>
</div>
</div>
<div class="item">
<h3><span>·</span><a href="../tmClass/tmList.html">教育</a>、<a href="../tmClass/tmList.html">娱乐</a>、<a href="../tmClass/tmList.html">组织娱乐</a></h3>
<div class="item-list clearfix">
<div class="subitem">
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">教育</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">培训</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">安排和组织会议</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">节目制作</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">游乐园</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">夜总会</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">俱乐部</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">网络游戏</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">娱乐信息服务</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">演出座位预订</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">主持</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">票务</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">组织比赛</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">高尔夫</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">体育设施出租</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">体育场地</a><dfn>(36类3603)</dfn></em></dd>
</dl>
</div>
</div>
</div>
<div class="item">
<h3><span>·</span><a href="../tmClass/tmList.html">餐馆</a>、<a href="../tmClass/tmList.html">酒店</a>、<a href="../tmClass/tmList.html">酒吧</a></h3>
<div class="item-list clearfix">
<div class="subitem">
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">餐馆</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">旅馆</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">酒店</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">快餐店</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">酒吧</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">会议定出租</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">柜台出租</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">托儿所</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">养老院</a><dfn>(36类3603)</dfn></em></dd>
</dl>
</div>
</div>
</div>
<div class="item">
<h3><span>·</span><a href="../tmClass/tmList.html">与私人相关服务</a></h3>
<div class="item-list clearfix">
<div class="subitem">
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">医院</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">诊所</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">美容院</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">桑拿</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">理发店</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">花店</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">安全服务</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">私人保镖</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">家政服务</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">婚姻介绍</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">交友</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">人用药</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">兽药</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">批发及连锁</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">维修、保养、维护、安装(建设\建筑\开采\装饰\工程\供暖\机械\电器\钟表\轮胎\衣服等)</a><dfn>(36类3603)</dfn></em><em></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">汽车保养修理</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">汽车美容</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">服装皮革洗涤服务干洗服务</a><dfn>(36类3603)</dfn></em></dd>
</dl>
<dl>
<dt></dt>
<dd><em><a href="../tmClass/tmList.html">加工服务</a><dfn>(36类3603)</dfn></em><em><a href="../tmClass/tmList.html">材料处理</a><dfn>(36类3603)</dfn></em></dd>
</dl>
</div>
</div>
</div>
</div>
<!--所有分类 End-->
</div>
</div>




<div class="nav">
<ul class="clearfix">
<li><a href="../index.html">首页</a></li>
<li><a href="../good/tmList.html">精品商标</a></li>
<li><a href="../tmClass/tmSearch.html">商标搜索</a></li>
<li><a href="../tmClass/tmClassification.html">商标分类</a></li>
<li><a href="../fuzhuang/fzList.html">服装商标</a></li>
<li><a href="tmIndex.html" class="current">国内商标注册</a></li>
<li><a href="../tmRegInter/tmIndex.html">国外商标注册</a></li>
<li><a href="../tradeTm/tradeIndex.html">商品/服务分类表</a></li>
<li><a href="../tmClass/interTm.html">国际商标转让</a></li>
<li><a href="../tmClass/permisTm.html">许可商标</a></li>
</ul>
</div>
</div>
<!--导航 End-->
</div>

<div class="mainbox">
<ul id="crumbs">您所在的位置：<a href="../index.html">首页</a> &gt; 国内商标注册</ul>
<div class="tmregbox">
<div class="content">
<div class="clear"></div>
<div class="domestic">
<div class="dome_top">
<em></em>
<ul>
所在地区：<span>全部</span><i></i>
<dl>
<dd><a href="">全部</a></dd>
<dd><a href="">北京</a></dd>
<dd><a href="">上海</a></dd>
<dd><a href="">天津</a></dd>
<dd><a href="">重庆</a></dd>
<dd><a href="">浙江</a></dd>
<dd><a href="">江苏</a></dd>
<dd><a href="">广东</a></dd>
<dd><a href="">河北</a></dd>
<dd><a href="">山东</a></dd>
<dd><a href="">福建</a></dd>
<dd><a href="">台湾</a></dd>
<dd><a href="">湖南</a></dd>
<dd><a href="">湖北</a></dd>
<dd><a href="">江西</a></dd>
<dd><a href="">山西</a></dd>
<dd><a href="">云南</a></dd>
<dd><a href="">贵州</a></dd>
<dd><a href="">海南</a></dd>
<dd><a href="">四川</a></dd>
<dd><a href="">陕西</a></dd>
<dd><a href="">香港</a></dd>
<dd><a href="">内蒙古</a></dd>
<dd><a href="">河南</a></dd>
<dd><a href="">吉林</a></dd>
<dd><a href="">辽宁</a></dd>
<dd><a href="">宁夏</a></dd>
<dd><a href="">新疆</a></dd>
<dd><a href="">安徽</a></dd>
<dd><a href="">广西</a></dd>
<dd><a href="">青海</a></dd>
<dd><a href="">甘肃</a></dd>
<dd><a href="">澳门</a></dd>
<dd><a href="">黑龙江</a></dd>
</dl>
</ul>
<script>
$(document).ready(function(){
$(".dome_top ul").mouseover(function(){
$(".dome_top ul dl").show();
});
$(".dome_top ul").mouseout(function(){
$(".dome_top ul dl").hide();
});
});
</script>
<div class="dome_top_right">
热门搜索：
<a href="">商标知识</a>
<a href="">专利知识</a>
<a href="">在线申请</a>
<a href="">版权登记</a>
<a href="">商标案例</a>
<input value="请输入关键词" style="color: rgb(153, 153, 153);" onBlur="if(!value) {value='请输入关键词';$(this).css('color','#999')}else{$(this).css('color','#000000')}" onFocus="if(this.value=='请输入关键词') {this.value='';
}$(this).css('color',null)" class="top_text"><input type="submit" value="搜索" class="top_sub">
</div>
</div>
<div class="dome_box">
<div class="box_top">
<div class="box_top_img">
<div id="kinMaxShow">   
<div><a href="" target="_blank"><img src="images/dome_1.gif" /></a></div>
<div><a href="" target="_blank"><img src="images/dome_1.gif" /></a></div>		
</div>
<script src="js/jquery.kinMaxShow-1.1.min.js" type="text/javascript"></script>
<script type="text/javascript">
$(function(){
$("#kinMaxShow").kinMaxShow();
});
</script>
</div>
<dl class="box_top_new">
<dt>
<h2><a href="#" title="我国专利申请总量突破250万件" target="_blank">我国专利申请总量突破250万件</a></h2>
知识产权报讯　日前，国家知识产权局局长田力普在京透露，截至今年7月底，我国专利申请总量已经突破250万件。三种专利的申请、审批数量都有大幅度的增长。今年1月至8月，国家知识产权局共受理专利申请30.0085…
</dt>
<dd><span>14/01/15</span><a href="" title="商标查询具体流程是什么样的" target="_blank">商标查询具体流程是什么样的</a></dd>
<dd><span>14/01/15</span><a href="" title="企业未进行商标续展的风险" target="_blank">企业未进行商标续展的风险</a></dd>
<dd><span>14/01/15</span><a href="" title="使用什么渠道注册商标最为方便呢" target="_blank">使用什么渠道注册商标最为方便呢</a></dd>
<dd><span>14/01/15</span><a href="" title="把自己的名字注册成商标也是一种投资" target="_blank">把自己的名字注册成商标也是一种投资</a></dd>
</dl>
<dl class="dome_quick">
<dt><i></i><a href="">商标注册在线申请</a></dt>
<dd><a href=""><i></i>金牌代理</a></dd>
<dd><a href=""><i class="i_b"></i>商标设计</a></dd>
<dd><a href=""><i class="i_c"></i>商标代持</a></dd>
<dd><a href=""><i class="i_d"></i>商标监测</a></dd>
<dd><a href=""><i class="i_e"></i>查询报告</a></dd>
<dd><a href=""><i class="i_f"></i>商标问答</a></dd>
<dd><a href=""><i class="i_g"></i>商标转让</a></dd>
<dd><a href=""><i class="i_h"></i>加盟合作</a></dd>
<dd><a href=""><i class="i_i"></i>业务指南</a></dd>
<dd><a href=""><i class="i_j"></i>国家商标局</a></dd>
<dd><a href=""><i class="i_b"></i>一条龙服务</a></dd>
<dd><a href=""><i class="i_k"></i>商标新闻</a></dd>

</dl>
</div>
<div class="clear"></div>
<div class="box_left">
<dl>
<dt><h2>商标知识</h2><a href="">更多...</a></dt>
<dd class="dd_first">
<a href=""><img src="images/d1.jpg" alt="商标知识"><b title="为什么部分商标需要指定颜色">为什么部分商标需要指定颜色</b>
<p>对于一些由于颜色的运用搭配出的特殊图形，往往商标注册人在申请注册商标时就指定颜色注册。其他人在同种或类似商品上使用这种颜色搭配，会造成视觉上的近似，从而以颜色的指定，确定专用权保护的内容和范围，达到了注册的目的</p></a>
</dd>
<dd><span>14/01/15</span><a href="" title='中国"名牌"与"驰名商标"的区别' target="_blank">中国"名牌"与"驰名商标"的区别</a></dd>
<dd><span>14/01/15</span><a href="" title="商标上的TM是什么意思" target="_blank">商标上的TM是什么意思</a></dd>
<dd><span>14/01/15</span><a href="" title="商标与字号的区别" target="_blank">商标与字号的区别</a></dd>
<dd><span>14/01/15</span><a href="" title="服务商标的侵权行为有哪些" target="_blank">服务商标的侵权行为有哪些</a></dd>
<dd><span>14/01/15</span><a href="" title="商标有哪些种类？" target="_blank">商标有哪些种类？</a></dd>
</dl>
<dl class="dl_445">
<dt><h2>政策法规</h2><a href="">更多...</a></dt>
<dd><span>14/01/15</span><a href="" title="陕西省地理标志产品保护办法" target="_blank">陕西省地理标志产品保护办法</a></dd>
<dd><span>14/01/15</span><a href="" title="广州市查处冒充和假冒他人专利行为实施办法" target="_blank">广州市查处冒充和假冒他人专利行为实施办法</a></dd>
<dd><span>14/01/15</span><a href="" title="中华人民共和国专利法实施细则(2010修订)" target="_blank">中华人民共和国专利法实施细则(2010修订)</a></dd>
<dd><span>14/01/15</span><a href="" title="有色金属工业专利管理暂行规定" target="_blank">有色金属工业专利管理暂行规定</a></dd>
<dd><span>14/01/15</span><a href="" title="中国互联网信息中心域名争议解决办法" target="_blank">中国互联网信息中心域名争议解决办法</a></dd>
<dd><span>14/01/15</span><a href="" title="地理标志产品保护规定" target="_blank">地理标志产品保护规定</a></dd>
<dd><span>14/01/15</span><a href="" title="国家工商行政管理局关于印发《商标专用权质押登记程序》的通知" target="_blank">国家工商行政管理局关于印发《商标专用权质押登记程序》的通知</a></dd>
<dd><span>14/01/15</span><a href="" title="有色金属工业专利管理暂行规定" target="_blank">有色金属工业专利管理暂行规定</a></dd>
<dd><span>14/01/15</span><a href="" title="中国互联网信息中心域名争议解决办法" target="_blank">中国互联网信息中心域名争议解决办法</a></dd>
</dl>
<dl>
<dt><h2>专利知识</h2><a href="">更多...</a></dt>
<dd class="dd_first">
<a href=""><img src="images/d2.jpg" alt="专利知识"><b title="为什么部分商标需要指定颜色">为什么部分商标需要指定颜色</b>
<p>对于一些由于颜色的运用搭配出的特殊图形，往往商标注册人在申请注册商标时就指定颜色注册。其他人在同种或类似商品上使用这种颜色搭配，会造成视觉上的近似，从而以颜色的指定，确定专用权保护的内容和范围，达到了注册的目的</p></a>
</dd>
<dd><span>14/01/15</span><a href="" title='中国"名牌"与"驰名商标"的区别' target="_blank">中国"名牌"与"驰名商标"的区别</a></dd>
<dd><span>14/01/15</span><a href="" title="商标上的TM是什么意思" target="_blank">商标上的TM是什么意思</a></dd>
<dd><span>14/01/15</span><a href="" title="商标与字号的区别" target="_blank">商标与字号的区别</a></dd>
<dd><span>14/01/15</span><a href="" title="服务商标的侵权行为有哪些" target="_blank">服务商标的侵权行为有哪些</a></dd>
<dd><span>14/01/15</span><a href="" title="商标有哪些种类？" target="_blank">商标有哪些种类？</a></dd>
</dl>
<dl class="dl_445">
<dt><h2>公司注册</h2><a href="">更多...</a></dt>
<dd><span>14/01/15</span><a href="" title="陕西省地理标志产品保护办法" target="_blank">陕西省地理标志产品保护办法</a></dd>
<dd><span>14/01/15</span><a href="" title="广州市查处冒充和假冒他人专利行为实施办法" target="_blank">广州市查处冒充和假冒他人专利行为实施办法</a></dd>
<dd><span>14/01/15</span><a href="" title="中华人民共和国专利法实施细则(2010修订)" target="_blank">中华人民共和国专利法实施细则(2010修订)</a></dd>
<dd><span>14/01/15</span><a href="" title="有色金属工业专利管理暂行规定" target="_blank">有色金属工业专利管理暂行规定</a></dd>
<dd><span>14/01/15</span><a href="" title="中国互联网信息中心域名争议解决办法" target="_blank">中国互联网信息中心域名争议解决办法</a></dd>
<dd><span>14/01/15</span><a href="" title="地理标志产品保护规定" target="_blank">地理标志产品保护规定</a></dd>
<dd><span>14/01/15</span><a href="" title="国家工商行政管理局关于印发《商标专用权质押登记程序》的通知" target="_blank">国家工商行政管理局关于印发《商标专用权质押登记程序》的通知</a></dd>
<dd><span>14/01/15</span><a href="" title="有色金属工业专利管理暂行规定" target="_blank">有色金属工业专利管理暂行规定</a></dd>
<dd><span>14/01/15</span><a href="" title="中国互联网信息中心域名争议解决办法" target="_blank">中国互联网信息中心域名争议解决办法</a></dd>
</dl>
<div class="img_four">
<a href="" title="企业服务通" target="_blank"><img src="images/dome_3.jpg" alt="企业服务通"></a>
<a href="" title="国际品牌通" target="_blank"><img src="images/dome_4.jpg" alt="国际品牌通"></a>
<a href="" title="驰著名商标申请" target="_blank"><img src="images/dome_5.jpg" alt="驰著名商标申请"></a>
<a href="" title="专利资助" target="_blank"><img src="images/dome_6.jpg" alt="专利资助"></a>
</div>
<div class="clear"></div>
<dl>
<dt><h2>驰名商标认定</h2><a href="">更多...</a></dt>
<dd class="dd_first">
<a href=""><img src="images/d3.jpg" alt="专利知识"><b title="为什么部分商标需要指定颜色">为什么部分商标需要指定颜色</b>
<p>对于一些由于颜色的运用搭配出的特殊图形，往往商标注册人在申请注册商标时就指定颜色注册。其他人在同种或类似商品上使用这种颜色搭配，会造成视觉上的近似，从而以颜色的指定，确定专用权保护的内容和范围，达到了注册的目的</p></a>
</dd>
<dd><span>14/01/15</span><a href="" title='中国"名牌"与"驰名商标"的区别' target="_blank">中国"名牌"与"驰名商标"的区别</a></dd>
<dd><span>14/01/15</span><a href="" title="商标上的TM是什么意思" target="_blank">商标上的TM是什么意思</a></dd>
<dd><span>14/01/15</span><a href="" title="商标与字号的区别" target="_blank">商标与字号的区别</a></dd>
<dd><span>14/01/15</span><a href="" title="服务商标的侵权行为有哪些" target="_blank">服务商标的侵权行为有哪些</a></dd>
<dd><span>14/01/15</span><a href="" title="商标有哪些种类？" target="_blank">商标有哪些种类？</a></dd>
</dl>
<dl class="dl_445">
<dt><h2>经典商标案例</h2><a href="">更多...</a></dt>
<dd><span>14/01/15</span><a href="" title="陕西省地理标志产品保护办法" target="_blank">陕西省地理标志产品保护办法</a></dd>
<dd><span>14/01/15</span><a href="" title="广州市查处冒充和假冒他人专利行为实施办法" target="_blank">广州市查处冒充和假冒他人专利行为实施办法</a></dd>
<dd><span>14/01/15</span><a href="" title="中华人民共和国专利法实施细则(2010修订)" target="_blank">中华人民共和国专利法实施细则(2010修订)</a></dd>
<dd><span>14/01/15</span><a href="" title="有色金属工业专利管理暂行规定" target="_blank">有色金属工业专利管理暂行规定</a></dd>
<dd><span>14/01/15</span><a href="" title="中国互联网信息中心域名争议解决办法" target="_blank">中国互联网信息中心域名争议解决办法</a></dd>
<dd><span>14/01/15</span><a href="" title="地理标志产品保护规定" target="_blank">地理标志产品保护规定</a></dd>
<dd><span>14/01/15</span><a href="" title="国家工商行政管理局关于印发《商标专用权质押登记程序》的通知" target="_blank">国家工商行政管理局关于印发《商标专用权质押登记程序》的通知</a></dd>
<dd><span>14/01/15</span><a href="" title="有色金属工业专利管理暂行规定" target="_blank">有色金属工业专利管理暂行规定</a></dd>
<dd><span>14/01/15</span><a href="" title="中国互联网信息中心域名争议解决办法" target="_blank">中国互联网信息中心域名争议解决办法</a></dd>
</dl>
<dl>
<dt><h2>品牌文化</h2><a href="">更多...</a></dt>
<dd class="dd_first">
<a href=""><img src="images/d4.jpg" alt="专利知识"><b title="为什么部分商标需要指定颜色">为什么部分商标需要指定颜色</b>
<p>对于一些由于颜色的运用搭配出的特殊图形，往往商标注册人在申请注册商标时就指定颜色注册。其他人在同种或类似商品上使用这种颜色搭配，会造成视觉上的近似，从而以颜色的指定，确定专用权保护的内容和范围，达到了注册的目的</p></a>
</dd>
<dd><span>14/01/15</span><a href="" title='中国"名牌"与"驰名商标"的区别' target="_blank">中国"名牌"与"驰名商标"的区别</a></dd>
<dd><span>14/01/15</span><a href="" title="商标上的TM是什么意思" target="_blank">商标上的TM是什么意思</a></dd>
<dd><span>14/01/15</span><a href="" title="商标与字号的区别" target="_blank">商标与字号的区别</a></dd>
<dd><span>14/01/15</span><a href="" title="服务商标的侵权行为有哪些" target="_blank">服务商标的侵权行为有哪些</a></dd>
<dd><span>14/01/15</span><a href="" title="商标有哪些种类？" target="_blank">商标有哪些种类？</a></dd>
</dl>
<dl class="dl_445">
<dt><h2>品牌保护</h2><a href="">更多...</a></dt>
<dd><span>14/01/15</span><a href="" title="陕西省地理标志产品保护办法" target="_blank">陕西省地理标志产品保护办法</a></dd>
<dd><span>14/01/15</span><a href="" title="广州市查处冒充和假冒他人专利行为实施办法" target="_blank">广州市查处冒充和假冒他人专利行为实施办法</a></dd>
<dd><span>14/01/15</span><a href="" title="中华人民共和国专利法实施细则(2010修订)" target="_blank">中华人民共和国专利法实施细则(2010修订)</a></dd>
<dd><span>14/01/15</span><a href="" title="有色金属工业专利管理暂行规定" target="_blank">有色金属工业专利管理暂行规定</a></dd>
<dd><span>14/01/15</span><a href="" title="中国互联网信息中心域名争议解决办法" target="_blank">中国互联网信息中心域名争议解决办法</a></dd>
<dd><span>14/01/15</span><a href="" title="地理标志产品保护规定" target="_blank">地理标志产品保护规定</a></dd>
<dd><span>14/01/15</span><a href="" title="国家工商行政管理局关于印发《商标专用权质押登记程序》的通知" target="_blank">国家工商行政管理局关于印发《商标专用权质押登记程序》的通知</a></dd>
<dd><span>14/01/15</span><a href="" title="有色金属工业专利管理暂行规定" target="_blank">有色金属工业专利管理暂行规定</a></dd>
<dd><span>14/01/15</span><a href="" title="中国互联网信息中心域名争议解决办法" target="_blank">中国互联网信息中心域名争议解决办法</a></dd>
</dl>
</div>
<div class="box_left box_right">
<dl>
<dt><h2>版权登记</h2><a href="">更多...</a></dt>
<dd class="dd_first">
<a href=""><img src="images/d5.jpg" alt="专利知识"><b title="为什么部分商标需要指定颜色">为什么部分商标需要指定颜色</b>
<p>对于一些由于颜色的运用搭配出的特殊图形，往往商标注册人在申请注册商标时就指定颜色注册。其他人在同种或类似商品上使用这种颜色搭配，会造成视觉上的近似，从而以颜色的指定，确定专用权保护的内容和范围，达到了注册的目的</p></a>
</dd>
<dd><span>14/01/15</span><a href="" title='中国"名牌"与"驰名商标"的区别' target="_blank">中国"名牌"与"驰名商标"的区别</a></dd>
<dd><span>14/01/15</span><a href="" title="商标上的TM是什么意思" target="_blank">商标上的TM是什么意思</a></dd>
<dd><span>14/01/15</span><a href="" title="商标与字号的区别" target="_blank">商标与字号的区别</a></dd>
<dd><span>14/01/15</span><a href="" title="服务商标的侵权行为有哪些" target="_blank">服务商标的侵权行为有哪些</a></dd>
<dd><span>14/01/15</span><a href="" title="商标有哪些种类？" target="_blank">商标有哪些种类？</a></dd>
</dl>
<dl class="book">
<dt><h2>书式下载</h2><a href="">更多...</a></dt>
<dd><a href="">下载</a>商标代理委托书</dd>
<dd><a href="">下载</a>变更商标代理人申请书</dd>
<dd><a href="">下载</a>商标注册申请书</dd>
<dd><a href="">下载</a>商标注册申请书式（外）</dd>
<dd><a href="">下载</a>商标注销申请书</dd>
<dd><a href="">下载</a>撤回商标异议申请申请书</dd>
<dd><a href="">下载</a>商标异议申请书</dd>
<dd><a href="">下载</a>撤回商标注册申请申请书</dd>
</dl>
<dl>
<dt><h2>工商注册</h2><a href="">更多...</a></dt>
<dd class="dd_first">
<a href=""><img src="images/d6.jpg" alt="专利知识"><b title="为什么部分商标需要指定颜色">为什么部分商标需要指定颜色</b>
<p>对于一些由于颜色的运用搭配出的特殊图形，往往商标注册人在申请注册商标时就指定颜色注册。其他人在同种或类似商品上使用这种颜色搭配，会造成视觉上的近似，从而以颜色的指定，确定专用权保护的内容和范围，达到了注册的目的</p></a>
</dd>
<dd><span>14/01/15</span><a href="" title='中国"名牌"与"驰名商标"的区别' target="_blank">中国"名牌"与"驰名商标"的区别</a></dd>
<dd><span>14/01/15</span><a href="" title="商标上的TM是什么意思" target="_blank">商标上的TM是什么意思</a></dd>
<dd><span>14/01/15</span><a href="" title="商标与字号的区别" target="_blank">商标与字号的区别</a></dd>
<dd><span>14/01/15</span><a href="" title="服务商标的侵权行为有哪些" target="_blank">服务商标的侵权行为有哪些</a></dd>
<dd><span>14/01/15</span><a href="" title="商标有哪些种类？" target="_blank">商标有哪些种类？</a></dd>
</dl>
<dl>
<dt><h2>中国名牌</h2><a href="">更多...</a></dt>
<dd class="dd_first">
<a href=""><img src="images/d7.jpg" alt="专利知识"><b title="为什么部分商标需要指定颜色">为什么部分商标需要指定颜色</b>
<p>对于一些由于颜色的运用搭配出的特殊图形，往往商标注册人在申请注册商标时就指定颜色注册。其他人在同种或类似商品上使用这种颜色搭配，会造成视觉上的近似，从而以颜色的指定，确定专用权保护的内容和范围，达到了注册的目的</p></a>
</dd>
<dd><span>14/01/15</span><a href="" title='中国"名牌"与"驰名商标"的区别' target="_blank">中国"名牌"与"驰名商标"的区别</a></dd>
<dd><span>14/01/15</span><a href="" title="商标上的TM是什么意思" target="_blank">商标上的TM是什么意思</a></dd>
<dd><span>14/01/15</span><a href="" title="商标与字号的区别" target="_blank">商标与字号的区别</a></dd>
<dd><span>14/01/15</span><a href="" title="服务商标的侵权行为有哪些" target="_blank">服务商标的侵权行为有哪些</a></dd>
<dd><span>14/01/15</span><a href="" title="商标有哪些种类？" target="_blank">商标有哪些种类？</a></dd>
</dl>
<div class="clear"></div>
</div>
</div>
</div>
<!--国内商标注册结束-->
</div>
<div class="clear"></div>
</div>
</div>
<div class="clear"></div>

<!--底部-->
<div id="footer">
<div class="fLink">
<h2>友情链接</h2>
<ul>
<a href="#" target="_blank">华唯商标网</a><a href="#" target="_blank">发财网</a><a href="#" target="_blank">财神网</a><a href="#" target="_blank">中国商标网</a><a href="#" target="_blank">商标律师网</a><a href="#" target="_blank">著作权代理网</a><a href="#" target="_blank">华唯商标网</a><a href="#" target="_blank">发财网</a><a href="#" target="_blank">财神网</a><a href="#" target="_blank">中国商标网</a><a href="#" target="_blank">商标律师网</a><a href="#" target="_blank">著作权代理网</a><a href="#" target="_blank">华唯商标网</a><a href="#" target="_blank">发财网</a><a href="#" target="_blank">财神网</a><a href="#" target="_blank">中国商标网</a><a href="#" target="_blank">商标律师网</a><a href="#" target="_blank">著作权代理网</a>
</ul>
</div>
<div class="fonbox">
<div class="contact">
<h2><em>非工作时间也可以直接拨打手机热线：<strong>13360007519</strong><strong>13366415310</strong></em><b>24小时服务热线：400-888-1139</b></h2>
<ul>
<li class="phone"><h3>北京电话（仅办理手续）：</h3>010-62218730（三线）、62215195</li>
<li class="phone"><h3>广州电话（询价及办理手续）：</h3>020-38819075、38866371、38690351、38810791、38866172、38808153、38807996、38813114、38846890、38817890</li>
<li class="phone"><h3>杭州电话(仅办理手续）：</h3>0571-56278880（三线）、87850793</li>
<li class="phone"><h3>香港电话：</h3>00852-30788896 00852-30789989</li>
<li class="site"><h3>北京地址：</h3>北京市丰台区广安路9号院国投财富广场(4号楼)306 邮编：100073</li>
<li class="site"><h3>广州地址：</h3>广州市天河区体育西路111号建和中心29层（全层）邮编：510620</li>
<li class="site"><h3>杭州地址：</h3>杭州市下城区凤起路139号1栋202 邮编：310003</li>
<li class="site"><h3>香港地址：</h3>香港湾仔轩尼诗道289-295号朱钧记商业中心16楼</li>
</ul>
</div>
<div class="clear"></div>
<div class="copyright">
<p><em><a href="../service/about.html" target="_blank">关于我们</a></em> | <em><a href="../service/tmNews.html" target="_blank">新闻资讯</a></em> | <em><a href="../service/recruit.html" target="_blank">诚聘英才</a></em> | <em><a href="../service/copyright.html" target="_blank">版权声明</a></em> | <em><a href="../service/clause.html" target="_blank">服务条款</a></em> | <em><a href="../service/law.html" target="_blank">法律声明</a></em> | <em><a href="../service/help.html" target="_blank">帮助中心</a></em> | <em><a href="../service/contact.html" target="_blank">联系我们</a></em> | <em><a href="../service/sitemap.html" target="_blank">网站地图</a></em></p>
<p>商标转让广州中唯公司、杭州华唯知识产权　@北京华唯环球国际 <a href="http://www.miitbeian.gov.cn" target="_blank">粤ICP备13062556号-7</a></p>
<p>总部：华唯环球（武汉）科技有限公司　　电话：400-888-1139</p>
</div>
</div>
</div>
<!--底部 end-->

<script type="text/javascript" src="../js/leftmenu.js"></script>
</body>
</html>