<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$tmpl_info.title}</title>
<meta name="Keywords" content="{$tmpl_info.keywords}" />
<meta name="Description" content="{$tmpl_info.description}" />
<link rel="stylesheet" href="{:C('HTMLPATH')}css/main.css">
<link rel="stylesheet" href="{:C('HTMLPATH')}css/tmStyle.css">
<link rel="stylesheet" href="{:C('HTMLPATH')}css/ion.rangeSlider.css"/><!--滑块样式-->
<script type="text/javascript" src="{:C('HTMLPATH')}js/jquery-1.7.1.js"></script>
<script type="text/javascript" src="{:C('HTMLPATH')}js/common.js"></script>
<script type="text/javascript" src="{:C('HTMLPATH')}js/ion.rangeSlider.js"></script>
<script type='text/javascript' src="{:C('HTMLPATH')}js/dropdown.js"></script>
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<script type="text/javascript">
var trace_page_on = "{$trace_page_arr.on}";
if(trace_page_on){
function trace_close_time(){
	$.ajax({
		type:"POST",
		url:"{:U('Index/traceUrl')}",
		async: false,
		data:"id={$trace_page_arr.trace_id}",
		success: function(result){
			}
	});
}
function trace_update_time(){
	$.ajax({
		type:"POST",
		url:"{:U('Index/traceUrl')}",
		async: false,
		data:"type=1&id={$trace_page_arr.trace_id}",
		success: function(result){
			}
	});
}
window.onbeforeunload = function(){
	trace_close_time();
}
var time_limit_tmp = "{$trace_page_arr.limit_time|default=10000}";
time_limit_tmp = parseInt(time_limit_tmp);
time_limit_tmp = time_limit_tmp * 1000;
setInterval(trace_update_time, time_limit_tmp);
}
</script>
</head>

<body>
<!--登录-->
<include file="public/dlogin" />
<!--登录 end-->
<div class="header">
<div id="site-nav">
<ul class="leftsite">
<include file="public/usersession" />
<include file="public/header_nav" />
</div>

<div class="clear"></div>

<include file="public/header" />

<div class="clear"></div>
<!--导航 Start-->
<div class="menubox">
<div class="all-sort1">
<h2 id="div_h2" >适用行业分类 <img id="img1" src="{:C('HTMLPATH')}images/ico_down.png" align="absmiddle"></h2>
<div class="showbox" id="tip1" style="display:none;">
<!--所有分类 Start-->
<div class="all-sort-list">
<include file="public/fenlei" />
</div>
<!--所有分类 End-->
</div>
</div>
<div class="nav">
<ul class="clearfix">
<include file="public/nav" />
</ul>
</div>
</div>
<!--导航 End-->
</div>

<div class="mainbox">
<ul id="crumbs">您所在的位置：<a href="{:C('INDEXPATH')}">首页</a> &gt; 商标包</ul>

<div class="s_tabox">
<div class="title">
<dl>
<dt><a href="{:U('Index/search')}" class="com">返回商标高级搜索</a></dt>
<dt class="ot1"><a href="{:U('Index/sameSearch')}">同商标名多类</a></dt>
<dt class="ot1 hover"><a href="{:U('Index/tmWrapSearch')}">商标包</a></dt>
<dt class="ot1"><a href="{:U('Index/similarSearch')}">近似搜索</a></dt>
<dt class="ot1"><a href="{:U('Index/graphSearch')}">图形搜索</a></dt>
<dt class="ot1"><a href="{:U('Index/fzMold')}">25类适应风格类型搜索</a></dt>
</dl>
</div>
<div class="contable">
<ul class="tmBrand">
<div class="wrapbox">
<h3>共有<i>{$count}</i>个放在<i>{$_GET['name']}</i>商标包中：</h3>
<ul>
<volist name='info' id='voo'>
<div class="wrap">
<a href="{:U('Index/tmdetail',array('id'=>$voo['tm_id']))}" title="{$voo['tm_name']}" target="_blank"><img src="<eq name='voo.is_fine' value='1'>{:C('PIC9')}/{$voo.tm_id}<else />{:C('PIC4')}/{$voo.tm_id}</eq>" /></a>
<h4><a href="{:U('Index/tmdetail',array('id'=>$voo['tm_id']))}" title="{$voo['tm_name']}" target="_blank">{$voo['tm_name']}</a><em>ID:{$voo['tm_id']}</em></h4>
<if condition="$Think.session.id gt 0">
	<if condition="$voo['tm_categories'] eq 25">
	<php>
		if($voo[tm_price] > 0){
		echo '<p class="popbox">价格：￥'.$voo[tm_price].'万元</p>';
		}else{
		echo '<p class="popbox">面议</p>';
		}
	</php>
	<else />
<php>
$data=$voo['price_group']?$voo['price_group']:getprices($voo['tm_price']);
$urlname='Index/quxiantu?data='.$data.'&date='.$date;
		if($voo[tm_price] > 0){
		echo '
<div class="lop">
<em class="main_nav" onmouseover="showSubNav(this);" onmouseout="hideSubNav(this);">查看价格曲线
<div class="sub_nav_1">
<div class="a">
<iframe src="'.U($urlname).'" width="750" marginwidth="0" height="250" marginheight="0" align="top" scrolling="no" frameborder="0"></iframe>
</div>
</div>
</em>
</div>
';

		}else{
		echo '<p class="popbox">面议</p>';
		}
	</php>
	</p>
	</if>
<else />
<p class="popbox"><a href="###" class="blue" onclick="showDiv('loginPop')">登录查看价格</a></p>
</if>

<p class="grey">所属类别：<a href="<php>$urlname='Index/tmclass?id='.$voo["tm_categories"];echo U($urlname);</php>" target="_blank" title="<php>echo $sblist[$voo['tm_categories']];</php>" class="blue">第{$voo.tm_categories}类</a></p>
<p class="grey" title="类似群组：{$voo.belong_group}">类似群组：{$voo.belong_group|subtext=32}</p>
<p class="grey item" title="{$voo.belong_groupdetail}">服务项目：{$voo.belong_groupdetail}</p>
</div>
</volist>

</ul>
</div>
<div class="clear"></div>
</ul>
{$page}
</div>
</div>

<div class="clear"></div>
</div>


<!--底部-->
<div id="footer">
<include file="public/flink" />
<include file="public/footbox" />
</div>
<!--底部 end-->

<script type="text/javascript" src="{:C('HTMLPATH')}js/jquery-layer.js"></script>
<script type="text/javascript" src="{:C('HTMLPATH')}js/leftmenu.js"></script>

<!--背景层-->
<div id="bg" class="bg" style="display:none;"></div>
<iframe id="popIframe" class="popIframe" frameborder="0" ></iframe>
<!--背景层-->

</body>
</html>