<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>

<title>商标转让_服装商标转让_《华唯商标转让》 - 全国最大、最全的商标转让网</title>
<meta name="Keywords" content="商标转让,商标买卖,服装商标,商标交易,品牌转让" />
<meta name="Description" content="华唯商标转让网,全国最大、最全且更新最快的商标转让网站,最权威商标转让机构, 十年专业经验,服装,鞋商标转让量全国最大,北京,杭州,广州直属公司,打开网站！在线咨询！" />
<script type="text/javascript" src="../js/jquery-1.7.1.js"></script>
<script type="text/javascript">
$(document).ready(function(){
$('dt').click(function(){
$(this).parent(".sss").children("dd").slideToggle(400);
$(this).children("a").children("i").toggleClass("close");
});
});
</script>
<style>
body {font-size:12px; font-family:"微软雅黑"; color:#333; background:#FFF; padding:0 30px;}
a:link,a:visited {color:#5A5A5A; text-decoration:none;}
a:hover {color:#F00; text-decoration:none;}
.subnav {padding:20px; height:auto;}
.subnav dt {height:30px; line-height:30px;}
.subnav dd {display:none; margin-left:15px; padding-left:40px; line-height:26px; background:url(../images/tree.gif) 0px -12px no-repeat;}
.subnav dt i {float:left; display:inline-block; width:18px; height:18px; margin-top:5px; margin-right:7px; background:url(../images/icon-folder.gif) no-repeat;}
.subnav dt i.close {float:left; display:inline-block; width:18px; height:18px; margin-top:5px; margin-right:7px; background:url(../images/icon-folder-open.gif) no-repeat;}
</style>
</head>
<body>
<dl class="subnav">
<div class="sss">
<dt><a href="javascript:void(0)"><i></i>1 天体,自然现象,地图</a></dt>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />1.1 星,慧星 注:(a)包括表示军阶的星 (b)不包括火花(1.15.7)和星号(即*)(24.17.3)</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />1.11 星座,星群,星空,天球(仪),天体图</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />1.13 浑天仪,天象仪,天体运行轨道,原子模型,分子模型</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />1.15 自然现象</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />1.17 地图,平面球体图 注:不包括两半球世界地图(1.5.1和A1.5.4)</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />1.3 太阳 注:不包括由没有光线的单独一圆盘构成的太阳的图形,其列入26.1的适当项中.</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />1.5 地球,地球(仪),行星</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />1.7 月亮 注:包括带有星的月亮的图形</label></dd>
<dd><a href="javascript:void(0)"></a></dd>
</div>
<div class="sss">
<dt><a href="javascript:void(0)"><i></i>2 人类 注:(a)描绘成人的文词列入27.3.1 (b)人头列入2.1,2.3,2.5,2.7的适当项中,但不列入2.9.25</a></dt>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />2.1 男人</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />2.3 女人</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />2.5 儿童 注:不包括2.1,2.3或2.7中的青少年</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />2.7 混合组,场景 注:(a)混合组是指由男人,女人和/或儿童混合组成的群体.男人, 女人或儿童分别组成的群体列入2.1,2.3或2.5的适当项中 (b)但是,任何人群, 不论其组成,如果表现为一个场景,则列入2.7的适当项中</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />2.9 人体部分,骨骼,头颅</label></dd>
<dd><a href="javascript:void(0)"></a></dd>
</div><div class="sss">
<dt><a href="javascript:void(0)"><i></i>3 动物 注:(a)四足动物的头和灵长类动物的头列入3.1到3.5的适当项中,不列入 3.6.25 (b)以书写或印刷体文词描绘成的动物列入27.3.3</a></dt>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />3.1 四足动物(系列一)</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />3.11 爬行动物,两栖动物,蜗牛,海豹,海狮</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />3.13 昆虫,蜘蛛,微生物</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />3.15 其它动物,大型史前动物 注:不包括4.3和4.7中寓言中的动物</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />3.17 第3类中不同组类动物的组合</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />3.2 四足动物(系列二)</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />3.3 四足动物(系列三)</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />3.4 四足动物(系列四)</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />3.5 四足动物(系列五),灵长类动物</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />3.6 四足动物或灵长类动物体部分,骨骼,头颅</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />3.7 鸟,蝙蝠</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />3.9 水生动物,蝎 注:不包括3.7,3.11或3.13中的水生动物</label></dd>
<dd><a href="javascript:void(0)"></a></dd>
</div>
<div class="sss">
<dt><a href="javascript:void(0)"><i></i>4 超自然的,寓言中的,幻想的或无法辨别的生物 注:不包括由文字或图形组成的和列入27.3中适当项的人类和幻想的动物</a></dt>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />4.1 有翼或有角的人物</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />4.2 部分人体和部分动物体的生物</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />4.3 寓言中的动物</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />4.5 以植物,物体或几何图形描绘的人物或动物;面具;幻想中的或无法辨别的头</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />4.7 第4类中不同组类图形要素的组合</label></dd>
<dd><a href="javascript:void(0)"></a></dd>
</div>
<div class="sss">
<dt><a href="javascript:void(0)"><i></i>5 植物</a></dt>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />5.1 树,灌木</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />5.11 其它植物</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />5.13 植物组成的装饰</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />5.3 叶,针叶,带叶或针叶的树枝</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />5.5 花,果树花 注:包括花徽。</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />5.7 谷物,种子,果实</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />5.9 蔬菜</label></dd>
<dd><a href="javascript:void(0)"></a></dd>
</div>
<div class="sss">
<dt><a href="javascript:void(0)"><i></i>6 风景</a></dt>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />6.1 山,岩石,岩洞</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />6.19 其它风景</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />6.3 有水,河流或小溪的风景 注:不包括有水,河流或小溪的城市风景或乡村景色(6.7.11)</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />6.6 沙漠或热带风景</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />6.7 城市风景或乡村景色</label></dd>
<dd><a href="javascript:void(0)"></a></dd>
</div>
<div class="sss">
<dt><a href="javascript:void(0)"><i></i>7 建筑,广告设施,门或栅栏</a></dt>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />7.1 住宅,楼房,广告招贴板或柱,动物的笼或窝</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />7.11 建筑工程</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />7.15 建筑材料,墙,门或栅栏,脚手架</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />7.3 住宅或楼房的局部,室内</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />7.5 纪念性建筑物,体育场,喷泉</label></dd>
<dd><a href="javascript:void(0)"></a></dd>
</div>
<div class="sss">
<dt><a href="javascript:void(0)"><i></i>8 食品</a></dt>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />8.1 面包房制品,糕点,糖果,巧克力</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />8.3 牛奶,乳制品,奶酪</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />8.5 鲜肉,猪肉制品,鱼制品</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />8.7 其它食品</label></dd>
<dd><a href="javascript:void(0)"></a></dd>
</div>
<div class="sss">
<dt><a href="javascript:void(0)"><i></i>9 纺织品,服装,缝纫用配件,帽,鞋</a></dt>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />9.1 除服装外的纺织品,梭</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />9.3 服装 注:不包括帽(9.7)和(9.9)鞋.</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />9.5 缝纫用配件,裁剪纸样</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />9.7 帽</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />9.9 鞋</label></dd>
<dd><a href="javascript:void(0)"></a></dd>
</div>
<div class="sss">
<dt><a href="javascript:void(0)"><i></i>10 烟草制品,烟具,火柴,旅行用品,扇子,梳妆用具</a></dt>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />10.1 烟草制品,烟具,火柴</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />10.3 旅行用品,扇子,手提包</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />10.5 梳妆用具,镜子</label></dd>
<dd><a href="javascript:void(0)"></a></dd>
</div>
<div class="sss">
<dt><a href="javascript:void(0)"><i></i>11 家庭用具 注:不包括列入12,13或19类的家庭用具</a></dt>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />11.1 刀,叉和匙,厨房用具和设备</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />11.3 饮料容器,盘和碟,盛装,配制,烹调食品或饮料的厨房用具 注:不包括11.1中的厨房用具</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />11.7 其它家庭用具</label></dd>
<dd><a href="javascript:void(0)"></a></dd>
</div>
<div class="sss">
<dt><a href="javascript:void(0)"><i></i>12 家具,卫生设备</a></dt>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />12.1 家具 注:包括办公家具</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />12.3 卫生设备</label></dd>
<dd><a href="javascript:void(0)"></a></dd>
</div>
<div class="sss">
<dt><a href="javascript:void(0)"><i></i>13 照明设备,无线电电子管,供暖,炊事或冷藏设备,洗涤机,烘干设备</a></dt>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />13.1 照明设备,无线电电子管</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />13.3 供暖,炊事或冷藏设备,洗涤机,烘干设备</label></dd>
<dd><a href="javascript:void(0)"></a></dd>
</div>
<div class="sss">
<dt><a href="javascript:void(0)"><i></i>14 五金器具,工具,梯子</a></dt>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />14.1 管子,钢缆,重五金器材 注:包括非金属五金器具</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />14.11 梯子</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />14.3 小五金器材,弹簧</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />14.5 钥匙,锁,挂锁</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />14.7 工具 注:不包括14.9中的农业或园艺工具</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />14.9 农业或园艺工具,冰镐</label></dd>
<dd><a href="javascript:void(0)"></a></dd>
</div>
<div class="sss">
<dt><a href="javascript:void(0)"><i></i>15 机器,电动机,发动机</a></dt>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />15.1 工农业机械,工业设备,电动机,发动机,各种机器设备 注:不包括家用机器和纺车(15.3)或办公机器(15.5)</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />15.3 家用机器,纺车</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />15.5 办公机器</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />15.7 轮,轴承</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />15.9 电器设备 注:不包括电灯和无线电电子管(13.1.6,A13.1.17和A13.1.18)或电缆(14.1.5)</label></dd>
<dd><a href="javascript:void(0)"></a></dd>
</div>
<div class="sss">
<dt><a href="javascript:void(0)"><i></i>16 电信,音响录制或复制,计算机,摄影,电影摄影,光学</a></dt>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />16.1 电信,音响录制或复制,计算机</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />16.3 摄影,电影摄影,光学</label></dd>
<dd><a href="javascript:void(0)"></a></dd>
</div>
<div class="sss">
<dt><a href="javascript:void(0)"><i></i>17 钟表,珠宝,衡器和量器</a></dt>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />17.1 钟表和其它计时仪器</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />17.2 珠宝</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />17.3 天平,衡器</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />17.5 量器 注:包括计算器具</label></dd>
<dd><a href="javascript:void(0)"></a></dd>
</div>
<div class="sss">
<dt><a href="javascript:void(0)"><i></i>18 运输,畜具</a></dt>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />18.1 陆地运载工具</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />18.2 畜具</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />18.3 水上运载工具和两栖运载工具</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />18.4 锚,救生圈,救生带</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />18.5 航空或宇航运载工具</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />18.7 交通信号</label></dd>
<dd><a href="javascript:void(0)"></a></dd>
</div>
<div class="sss">
<dt><a href="javascript:void(0)"><i></i>19 容器和包装,各种混杂产品的图形</a></dt>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />19.1 大容器 注:不包括19.9中的容器</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />19.11 实验室和药房用容器</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />19.13 医疗或外科设备,仪器或器具,假体,药品</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />19.19 各种混杂产品的图形 注:包括不属其他类别的所有产品的图形</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />19.3 小容器 注:不包括11.3,19.7,19.9或19.11中的容器</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />19.7 瓶,长颈瓶</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />19.8 瓶的部分或附件</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />19.9 油罐,水罐,花瓶,花盆,花架</label></dd>
<dd><a href="javascript:void(0)"></a></dd>
</div>
<div class="sss">
<dt><a href="javascript:void(0)"><i></i>20 书写,绘画用品,办公用品,文具和书刊报纸</a></dt>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />20.1 书写,绘画用品,小型办公用品</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />20.5 纸张,文件</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />20.7 书,合订本,报纸</label></dd>
<dd><a href="javascript:void(0)"></a></dd>
</div>
<div class="sss">
<dt><a href="javascript:void(0)"><i></i>21 娱乐品,玩具,体育用品,旋转木马</a></dt>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />21.1 娱乐品,玩具</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />21.3 体育用品,旋转木马</label></dd>
<dd><a href="javascript:void(0)"></a></dd>
</div>
<div class="sss">
<dt><a href="javascript:void(0)"><i></i>22 乐器及其附件,音乐附属品,铃,图画,雕塑</a></dt>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />22.1 乐器,乐器附件,音乐附属品</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />22.3 铃</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />22.5 图画,雕塑</label></dd>
<dd><a href="javascript:void(0)"></a></dd>
</div>
<div class="sss">
<dt><a href="javascript:void(0)"><i></i>23 武器,弹药,盔甲 注:不包括军用坦克(18.1.14),军用飞机(18.5.1)和军舰(18.3)</a></dt>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />23.1 佩剑(刀),火器以外的其它武器</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />23.3 火器,弹药,炸药</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />23.5 盔甲</label></dd>
<dd><a href="javascript:void(0)"></a></dd>
</div>
<div class="sss">
<dt><a href="javascript:void(0)"><i></i>24 纹章,硬币,标志,符号</a></dt>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />24.1 盾</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />24.11 标志,徽章</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />24.13 十字架</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />24.15 箭</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />24.17 标记,记号,符号</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />24.3 印记,章戳</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />24.5 纪念章,硬币,奖章,勋章</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />24.7 旗</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />24.9 王冠,皇冠</label></dd>
<dd><a href="javascript:void(0)"></a></dd>
</div>
<div class="sss">
<dt><a href="javascript:void(0)"><i></i>25 装饰图案,装饰表面或背景</a></dt>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />25.1 装饰图案 注:不包括植物组成的装饰图案(5.13)或水平延伸的装饰面(25.3)</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />25.12 其它装饰覆盖的表面或背景</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />25.3 水平延伸的装饰面 注:不包括椭圆形延伸面(26.1)和三角形延伸面(26.3)和四边形延伸面(26.4)</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />25.5 二分或四分的背景 注:包括由线,带或不同形式的面二分或四分的背景</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />25.7 重复图案或文词覆盖的表面或背景</label></dd>
<dd><a href="javascript:void(0)"></a></dd>
</div>
<div class="sss">
<dt><a href="javascript:void(0)"><i></i>26 几何图形和立体 注:(a)包括人物,动物,植物或物体组成的几何图形和立体(b) 不包括组成几何图形的文词(27.1)</a></dt>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />26.1 圆,椭圆</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />26.11 线,带 注:不包括构成角的线或带(26.3.23)</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />26.13 其它几何图形,难以确定的图形</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />26.15 几何立体</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />26.2 圆或椭圆的弧形或扇形</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />26.3 三角形,构成角的线</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />26.4 四边形</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />26.5 其它多边形 注:不包括延伸的多边形(25.3.1和A25.3.9)</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />26.7 并置,连接或交叉的不同几何图形</label></dd>
<dd><a href="javascript:void(0)"></a></dd>
</div>
<div class="sss">
<dt><a href="javascript:void(0)"><i></i>27 书写体,数字</a></dt>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />27.1 组成几何图形的字母或数字,具有透视感的书写或印刷体 注:包括单个字母或数字,也包括一组字母或数字</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />27.3 描绘成人物,动物,植物或物体的字母或数字 注:(a)包括描绘成人物,动物,植物或物体的标点符号 (b)包括描绘成人物,动物,植物或物体的单个字母,数字或标点符号和一组字母,数字或标点符号</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />27.5 特殊书写形式的字母 注:包括一个或多个字母和组成一个字词的一组字母</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />27.7 特殊书写形式的数字</label></dd>
<dd><a href="javascript:void(0)"></a></dd>
</div>
<div class="sss">
<dt><a href="javascript:void(0)"><i></i>28 各种文字 注:一般地,就某一国家来说,其正常使用的文字,在该国不考虑为图形,此种情况,构成文字商标</a></dt>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />28.1 阿拉伯文字</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />28.11 拉丁文字</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />28.17 古文字</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />28.19 其它文字</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />28.3 中国或日本文字</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />28.5 西里尔文字</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />28.7 希腊文字</label></dd>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />28.9 希伯来文字</label></dd>
<dd><a href="javascript:void(0)"></a></dd>
</div>
<div class="sss">
<dt><a href="javascript:void(0)"><i></i>29 颜色</a></dt>
<dd><label><input type="checkbox" name="checkbox" value="checkbox" />29.1 颜色</label></dd>
<dd><a href="javascript:void(0)"></a></dd>
</div>
</dl>
</body>
</html>