<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$tmpl_info.title}</title>
<meta name="Keywords" content="{$tmpl_info.keywords}" />
<meta name="Description" content="{$tmpl_info.description}" />
<link rel="stylesheet" href="{:C('HTMLPATH')}css/main.css">
<link rel="stylesheet" href="{:C('HTMLPATH')}css/tmStyle.css">
<link rel="stylesheet" href="{:C('HTMLPATH')}css/ion.rangeSlider.css"/><!--滑块样式-->
<script type="text/javascript" src="{:C('HTMLPATH')}js/jquery-1.7.1.js"></script>
<script type="text/javascript" src="{:C('HTMLPATH')}js/common.js"></script>
<script type="text/javascript" src="{:C('HTMLPATH')}js/ion.rangeSlider.js"></script>
<script type='text/javascript' src="{:C('HTMLPATH')}js/dropdown.js"></script>
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<script type="text/javascript">
var trace_page_on = "{$trace_page_arr.on}";
if(trace_page_on){
function trace_close_time(){
	$.ajax({
		type:"POST",
		url:"{:U('Index/traceUrl')}",
		async: false,
		data:"id={$trace_page_arr.trace_id}",
		success: function(result){
			}
	});
}
function trace_update_time(){
	$.ajax({
		type:"POST",
		url:"{:U('Index/traceUrl')}",
		async: false,
		data:"type=1&id={$trace_page_arr.trace_id}",
		success: function(result){
			}
	});
}
window.onbeforeunload = function(){
	trace_close_time();
}
var time_limit_tmp = "{$trace_page_arr.limit_time|default=10000}";
time_limit_tmp = parseInt(time_limit_tmp);
time_limit_tmp = time_limit_tmp * 1000;
setInterval(trace_update_time, time_limit_tmp);
}
</script>
</head>

<body>
<!--登录-->
<include file="public/dlogin" />
<!--登录 end-->

<div class="header">
<div id="site-nav">
<ul class="leftsite">
<include file="public/usersession" />
<include file="public/header_nav" />
</div>

<div class="clear"></div>

<include file="public/header" />

<div class="clear"></div>
<!--导航 Start-->
<div class="menubox">
<div class="all-sort1">
<h2 id="div_h2" >适用行业分类 <img id="img1" src="{:C('HTMLPATH')}images/ico_down.png" align="absmiddle"></h2>
<div class="showbox" id="tip1" style="display:none;">
<!--所有分类 Start-->
<div class="all-sort-list">
<include file="public/fenlei" />
</div>
<!--所有分类 End-->
</div>
</div>
<div class="nav">
<ul class="clearfix">
<include file="public/nav" />
</ul>
</div>
</div>
<!--导航 End-->
</div>

<div class="mainbox">
<ul id="crumbs">您所在的位置：<a href="../index.html">首页</a> &gt; 我要卖商标</ul>
<div id="tmleftbox">
<div class="norbox">
<h2>我要卖商标<a href="#" target="_blank">批量发布商标转让</a><a href="http://www.tmsoon.org" target="_blank">查询中国商标数据库</a></h2>
<ul>
<p class="note">
请在商标信息框中填写每个商标的名称、注册号、类别、价格和商标创意，并填写您的详细信息，以便我们与您取得联系。<br/>
原则上我们会按照商标数据库的图片为客户登记时加入商标的图案，但如果你希望我们按指定要求的图案登记转让资料，请将商标注册号及图片发送邮件到：huaweitm@gmail.com 或加 QQ：759529641。<br/>
<i>(*) 为必填项</i>
</p>
<form action="{:U('Index/transfer')}" method="post">

<script type='text/javascript' src="{:C('HTMLPATH')}js/jquery.bgiframe.min.js"></script>
<link  href="{:C('HTMLPATH')}css/validate.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
$(function(){
	var xOffset = -20;
	var yOffset = 20;

	$("[reg],[tip]").hover(
		function(e) {
			if($(this).attr('tip') != undefined){
				var top = (e.pageY + yOffset);
				var left = (e.pageX + xOffset);
				$('body').append( '<p id="vtip"><img id="vtipArrow" src="{:C('HTMLPATH')}images/vtip_arrow.png"/>' + $(this).attr('tip') + '</p>' );
				$('body').append( '<p id="vtip">' + $(this).attr('tip') + '</p>' );
				$('p#vtip').css("top", top+"px").css("left", left+"px");
				$('p#vtip').bgiframe();
			}
		},
		function() {
			if($(this).attr('tip') != undefined){
				$("p#vtip").remove();
			}
		}
	).blur(function(){
		if($(this).attr("reg") != undefined){
			validate($(this));
		}
	});

	// 提交前验证
	$("form").submit(function(){
		var isSubmit = true;
		$(this).find("[reg]").each(function(){
			if(!validate($(this))){
				isSubmit = false;
			}
		});
		return isSubmit;
	});
});
// 验证函数
function validate(obj){
	var reg = new RegExp(obj.attr("reg"));
	var objValue = obj.attr("value");
	if(!reg.test(objValue)){
		obj.addClass("input_validation-failed");
		return false;
	}else{
		obj.removeClass("input_validation-failed");
		return true;
	}
}
</script>

<div id="aaa">
<dl>
<dl><dt><i>*</i>商标类别：</dt><dd><select class="n_select" style="width:374px; height:28px; line-height:28px; padding:0px;" name="cate_id[]">
<foreach name="sblist" item="vo">
<option value="{$key}">第{$key}类-{$vo}</option>
</foreach>
                    </select></dd></dl>
<dl><dt><i>*</i>商标名称：</dt><dd><input type="text" name="tm_name[]" class="ipt" reg="[^\s]+" tip="请输入商标名称"><p class="tem">例：洛朗骑士</p></dd></dl>
<dl><dt><i>*</i>注册号：</dt><dd><input type="text" name="regnum[]" class="ipt" reg="^\s*\d+\s*$" tip="请输入注册号"><p class="tem">例：4908272</p></dd></dl>
<dl><dt><i>*</i>申请人：</dt><dd><input type="text" name="applicant[]" class="ipt" reg="[^\s]+" tip="申请人不能为空"><p class="tem">例：xx有限公司</p></dd></dl>
<dl><dt><i>*</i>商标价格：</dt><dd><input type="text" name="price[]" class="ipt" reg="[^\s]+" tip="商标价格不能为空"><p class="tem">具体数字，例：2万 或者 面议</p></dd></dl>
<dl><dt>备注：</dt><dd><textarea name="note[]"></textarea>
<div class="tem">
<b>注意：</b><i>如果不记得注册号，可以点击这个链接查询你自已的商标 <a href="http://cx.ipsoon.cn/" target="_blank">http://cx.ipsoon.cn</a>；</i>
</div>
</dd></dl>
</dl>
</div>
<div id='bbb'></div>
<dl>
<dt><i>*</i>你的姓名：</dt><dd><input type="text" name="nick" class="ipt" reg="[^\s]+" tip="用户名不能为空"></dd>
</dl>
<dl>
<dt><i>*</i>联系电话：</dt><dd><input type="text" name="telephone" class="ipt" reg="[^\s]+" tip="联系电话不能为空">
<p class="tem">如果有多个电话,请用"|"分开写</p>
</dd>
</dl>
<dl>
<dt>手机号码：</dt><dd><input type="text" name="cellphone" class="ipt">
<p class="tem">例:13113328617</p>
</dd>
</dl>
<dl>
<dt>E-mail：</dt><dd><input type="email" name="email" class="ipt">
<p class="tem">例:ipsoon@gmail.com</p>
</dd>
</dl>
<dl>
<dt>QQ或MSN号：</dt><dd><input type="text" name="qq" class="ipt">
<p class="tem">例:516847603</p>
</dd>
</dl>
<dl>
<dt>公司：</dt><dd><input type="text" name="cname" class="ipt">
<p class="tem">例:北京华唯环球知识产权公司</p>
</dd>
</dl>
<dl>
<dt>传真：</dt><dd><input type="text" name="fax" class="ipt">
<p class="tem">例:020-38813114</p>
</dd>
</dl>
<dl>
<dt>地址：</dt><dd><input type="text" name="address" class="ipt">
<p class="tem">例:广州市天河区体育西路111号建和中心29楼</p>
</dd>
</dl>
<dl>
<dt>邮编：</dt><dd><input type="text" name="post" class="ipt">
<p class="tem">例:510620</p>
</dd>
</dl>
<p class="note1">
经常有商标持有人发布转让信息却更改了其联系方式，这样错失交易机会相当可惜，所以在此您最好提供多个联系方式，以便我们随时可以与您联络，不管您以前是否发过给我们您的联系方式：<i>不定时的在此提交您的最新联系方式或更新转让价格，有助于更快的达成商标的交易。</i>
</p>
<dl>
<dt></dt><dd><input type="submit" value="马上提交" class="btn"> <input type="reset" value="撤消重填" class="btn"> <input type="button" value="增加一条" class="btn" id="m_but"></dd>
</dl>
</form>
<script>
	var txt1 = $("#aaa").html(); 
	txt1 ='<div class="aaa">'+txt1+'</div>';
	$("#m_but").click(function(){
		$("#bbb").before(txt1);
		$("#aaa").css()
		});
</script>
</ul>
</div>
</div>
<div id="tmrightbox">
<!--联系电话-->
<div class="tmContact">
<h2>联系电话<a href="#" target="_blank" rel="nofollow">查看详细值班电话...</a></h2>
<ul>
<li><b>24小时询价热线（全国）：</b><strong>400-888-1139</strong></li>
<li><b>广州电话（询价及办理手续）：</b><em>020-38819075</em><em>020-38866371</em><em>020-38866172</em><em>020-38810791</em></li>
<li class="mobi"><b>24小时服务热线：</b><em>13925067333</em><em>13366415310</em></li>
<li><b>北京电话：仅办理手续</b><em>010-62218730</em><em>010-62215195</em></li>
<li><b>杭州电话：仅办理手续</b><em>0571-56278880</em><em>0571-87850793</em></li>
<li><b>香港电话：</b><em>00852-30788896</em></li>
</ul>
</div>
<!--联系电话 end-->
<!--浏览记录-->
<div class="cookisbox">
<h2>最近浏览的商标</h2>
<ul>
<li><a href="tmDetail.html" target="_blank">甲方乙方</a><em>2014-12-02</em></li>
<li><a href="tmDetail.html" target="_blank">DONGJINSEMICHEM</a><em>2014-12-02</em></li>
<li><a href="tmDetail.html" target="_blank">凯辉</a><em>2014-12-02</em></li>
<li><a href="tmDetail.html" target="_blank">蜡笔小新-LB</a><em>2014-12-02</em></li>
<li><a href="tmDetail.html" target="_blank">冒尖户超威肥料</a><em>2014-12-02</em></li>
</ul>
</div>
<!--浏览记录 end-->
</div>

<div class="clear"></div>
</div>

<!--底部-->
<div id="footer">
<div class="fLink">
<h2>友情链接</h2>
<ul>
<a href="#" target="_blank">华唯商标网</a><a href="#" target="_blank">发财网</a><a href="#" target="_blank">财神网</a><a href="#" target="_blank">中国商标网</a><a href="#" target="_blank">商标律师网</a><a href="#" target="_blank">著作权代理网</a><a href="#" target="_blank">华唯商标网</a><a href="#" target="_blank">发财网</a><a href="#" target="_blank">财神网</a><a href="#" target="_blank">中国商标网</a><a href="#" target="_blank">商标律师网</a><a href="#" target="_blank">著作权代理网</a><a href="#" target="_blank">华唯商标网</a><a href="#" target="_blank">发财网</a><a href="#" target="_blank">财神网</a><a href="#" target="_blank">中国商标网</a><a href="#" target="_blank">商标律师网</a><a href="#" target="_blank">著作权代理网</a>
</ul>
</div>
<div class="fonbox">
<div class="contact">
<h2><em>非工作时间也可以直接拨打手机热线：<strong>13360007519</strong><strong>13366415310</strong></em><b>24小时服务热线：400-888-1139</b></h2>
<ul>
<li class="phone"><h3>北京电话（仅办理手续）：</h3>010-62218730（三线）、62215195</li>
<li class="phone"><h3>广州电话（询价及办理手续）：</h3>020-38819075、38866371、38690351、38810791、38866172、38808153、38807996、38813114、38846890、38817890</li>
<li class="phone"><h3>杭州电话(仅办理手续）：</h3>0571-56278880（三线）、87850793</li>
<li class="phone"><h3>香港电话：</h3>00852-30788896 00852-30789989</li>
<li class="site"><h3>北京地址：</h3>北京市丰台区广安路9号院国投财富广场(4号楼)306 邮编：100073</li>
<li class="site"><h3>广州地址：</h3>广州市天河区体育西路111号建和中心29层（全层）邮编：510620</li>
<li class="site"><h3>杭州地址：</h3>杭州市下城区凤起路139号1栋202 邮编：310003</li>
<li class="site"><h3>香港地址：</h3>香港湾仔轩尼诗道289-295号朱钧记商业中心16楼</li>
</ul>
</div>
<div class="clear"></div>
<div class="copyright">
<p><em><a href="../service/about.html" target="_blank">关于我们</a></em> | <em><a href="../service/tmNews.html" target="_blank">新闻资讯</a></em> | <em><a href="../service/recruit.html" target="_blank">诚聘英才</a></em> | <em><a href="../service/copyright.html" target="_blank">版权声明</a></em> | <em><a href="../service/clause.html" target="_blank">服务条款</a></em> | <em><a href="../service/law.html" target="_blank">法律声明</a></em> | <em><a href="../service/help.html" target="_blank">帮助中心</a></em> | <em><a href="../service/contact.html" target="_blank">联系我们</a></em> | <em><a href="../service/sitemap.html" target="_blank">网站地图</a></em></p>
<p>商标转让广州中唯公司、杭州华唯知识产权　@北京华唯环球国际 <a href="http://www.miitbeian.gov.cn" target="_blank">粤ICP备13062556号-7</a></p>
<p>总部：华唯环球（武汉）科技有限公司　　电话：400-888-1139</p>
</div>
</div>
</div>
<!--底部 end-->

<script type="text/javascript" src="../js/leftmenu.js"></script>

</body>
</html>