<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$tmpl_info.title}</title>
<meta name="Keywords" content="{$tmpl_info.keywords}" />
<meta name="Description" content="{$tmpl_info.description}" />
<link rel="stylesheet" href="{:C('HTMLPATH')}css/main.css">
<link rel="stylesheet" href="{:C('HTMLPATH')}css/tmStyle.css">
<link rel="stylesheet" href="{:C('HTMLPATH')}css/ion.rangeSlider.css"/><!--滑块样式-->
<script type="text/javascript" src="{:C('HTMLPATH')}js/jquery-1.7.1.js"></script>
<script type="text/javascript" src="{:C('HTMLPATH')}js/common.js"></script>
<script type="text/javascript" src="{:C('HTMLPATH')}js/ion.rangeSlider.js"></script>
<script type='text/javascript' src="{:C('HTMLPATH')}js/dropdown.js"></script>
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<script type="text/javascript">
var trace_page_on = "{$trace_page_arr.on}";
if(trace_page_on){
function trace_close_time(){
	$.ajax({
		type:"POST",
		url:"{:U('Index/traceUrl')}",
		async: false,
		data:"id={$trace_page_arr.trace_id}",
		success: function(result){
			}
	});
}
function trace_update_time(){
	$.ajax({
		type:"POST",
		url:"{:U('Index/traceUrl')}",
		async: false,
		data:"type=1&id={$trace_page_arr.trace_id}",
		success: function(result){
			}
	});
}
window.onbeforeunload = function(){
	trace_close_time();
}
var time_limit_tmp = "{$trace_page_arr.limit_time|default=10000}";
time_limit_tmp = parseInt(time_limit_tmp);
time_limit_tmp = time_limit_tmp * 1000;
setInterval(trace_update_time, time_limit_tmp);
}
</script>
</head>

<body>
<!--登录-->
<include file="public/dlogin" />
<!--登录 end-->

<!--图形编码-->
<div id="graphicPop" class="ondiv" style="display:none;">
<div class="content">
<h2><span class="close"><input type="button" id="" value="" class="closebtn" title="关闭" subkey='25code' /></span>选择图形编码</h2>
<ul class="tree">
<volist name='txcode' id='vo'>
<php>
	$checked=(in_array($key,explode(',',$con['25code'])))?'checked="checked"':'';
</php>
<li><label><input type="checkbox" getkey='25code' value="{$key}" {$checked}> {$key} {$vo.name}</label>
<ul style="display:none;" attr_ul='toggle_ul'>
<php>$upkey=$key;</php>
<volist name='vo.down' id='vod'>
<li>{$upkey}.{$key} {$vod}</li>	
</volist>
</ul>
</li>
</volist>
</ul>
<p class="ptrbtm"><input type="button" subkey='25code' value="确定" class="btn"  /></p>
</div>
</div>
<!--图形编码 end-->
<div class="header">
<div id="site-nav">
<ul class="leftsite">
<include file="public/usersession" />
<include file="public/header_nav" />
</div>

<div class="clear"></div>

<include file="public/header" />

<div class="clear"></div>
<!--导航 Start-->
<div class="menubox">
<div class="all-sort1">
<h2 id="div_h2" >适用行业分类 <img id="img1" src="{:C('HTMLPATH')}images/ico_down.png" align="absmiddle"></h2>
<div class="showbox" id="tip1" style="display:none;">
<!--所有分类 Start-->
<div class="all-sort-list">
<include file="public/fenlei" />
</div>
<!--所有分类 End-->
</div>
<div id="container"></div>
</div>
<div class="nav">
<ul class="clearfix">
<include file="public/nav" />
</ul>
</div>
</div>
<!--导航 End-->
</div>
<script type="text/javascript">
var oldVal={$con.type};
function cate(k){
	    	var a='';
	    	var k=0;
    		$('[checkedkey=cate]').each(function(){
    			if($(this).attr('checked')=='checked'){
    				if(a==''){
    					a=$(this).val();
    				}else{
    					if(k<4){
    						a=a+','+$(this).val();
    					}
    					if(k==4){
    						a=a+',...';
    					}
    					k=k+1;
    					
    				}
    			}
    		});
    		if(a==''){
				$('#category_text').html('未选择商标分类');
    		}else{
    			$('#category_text').html('<b style="color:#f30;">'+'已选择了 '+a+' 类'+'</b>');
    		}
    		if(a=="25"){
    			openP('more50', 50, 50, 'more');
    		}else{
    			$('#more50').hide();
    		}
    		if(k==1){
    			che='{$con.25group}';
    		}else{
    			var b='';
    			$('[getkey=25group]').each(function(){
	    			if($(this).attr('checked')=='checked'){
	    				if(b==''){
	    					b=$(this).val();
	    				}else{
	    					b=b+','+$(this).val();
	    				}
	    			}
			});
    			che=b;
    		}
}
$(document).ready(function(){
	var type='#wl-'+{$con.type};
	$(type).show();
	cate(1);
	// 默认全选
	if("<php>echo $_GET['skey'] ? '' : 1;</php>"){
		$("#j_dd_hover label").each(function(){
			var chk = $(this).find('input[type=checkbox]');
			if(chk){
				$(this).addClass('s_tabox_dfn_hover');
				chk.attr('checked', true);
			}
		});
	}
	$("#j_dd_hover label").click(function(){
		var chk = $(this).find('input[type=checkbox]').attr('checked');
		if(typeof(chk) == 'undefined'){
			$(this).removeClass('s_tabox_dfn_hover');
		}else{
			$(this).addClass('s_tabox_dfn_hover');
		}	
	});
	$('[subkey=25code]').click(function(){
		var a='';
		$('[getkey=25code]').each(function(){
    			if($(this).attr('checked')=='checked'){
    				if(a==''){
    					a=$(this).val();
    				}else{
    					a=a+','+$(this).val();
    				}
    			}
    		});
		$('[name=25code]').val(a);
		closeDiv('graphicPop'); 
	});
	$('#selCity').change(function(){
		$(type).hide();
		if($(this).val()<6){
			$('#content').attr('name','content');
			$('#content').val('请输入查询关键字');
			$('#bianma').hide();
		}else{
			$('#content').attr('name','25code');
			$('#content').val('请输入商标图形编码');
			$('#bianma').show();
		}
		ei();
	});
    $('[checkedkey=cate]').each(function(){
    	$(this).click(function(){
    	cate(0);
    	})
    });
	$('[getkey=25code]').click(function(){
		var ul = $(this).parent().parent().find('ul');
		if(!$(this).attr('checked')){
			//ul.show();
			ul.toggle('slow');
		}else{
			//ul.hide();
			ul.toggle('slow');
		}
	});
	$('[attr_ul=toggle_ul]').click(function(){$(this).toggle('slow');});
});

function ei(){
var newVal=document.getElementById("selCity").value;
if(newVal!=oldVal){
document.getElementById("wl-"+oldVal).style.display="none";
document.getElementById("wl-"+newVal).style.display="block";
oldVal=newVal;
}
}
</script>
<div class="mainbox">
<ul id="crumbs">您所在的位置：<a href="{:C('INDEXPATH')}">首页</a> &gt; 近似商标搜索</ul>

<div class="s_tabox">
<div class="title">
<dl>
<dt><a href="{:U('Index/search')}" class="com">返回商标高级搜索</a></dt>
<dt class="ot1"><a href="{:U('Index/sameSearch')}">同商标名多类</a></dt>
<dt class="ot1"><a href="{:U('Index/tmWrapSearch')}">商标包</a></dt>
<dt class="ot1 hover"><a href="{:U('Index/similarSearch')}">近似搜索</a></dt>
<dt class="ot1"><a href="{:U('Index/graphSearch')}">图形搜索</a></dt>
<dt class="ot1"><a href="{:U('Index/fzMold')}">25类适应风格类型搜索</a></dt>

</dl>
</div>
<form method="post" action='{:U("Index/similarSearch")}' >
<div class="contable">
<ul class="pad">
<dl>
<dt>商标类别</dt>
<dd class="m1"><span style='margin-right:5px' id='category_text'>{$category_text | default='未选择商标分类'}</span><span class="slipbox" data-kone="cho"><a href="###" class="blue">重新选择商标类型</a>
<div class="slipmore" style='display:none'>
<div class="mold">
<h4>请选择商标类型</h4>
<ul>
<volist name='sblist' id='vo' >
<php>
	$checked=(in_array($key,explode(',',$con['category'])))?'checked="checked"':'';
</php>
<eq name='key' value='25' >
<label><input  checkedkey='cate' type="checkbox" name="category[]" value="{$key}" {$checked}/> <span>第25类</span></label>
<else />
<label><input checkedkey='cate' type="checkbox" name="category[]" value="{$key}" {$checked}/>第{$key}类</label>
</eq>
</volist>
</ul>
<div class="clear"></div>
</div>
</div>
</span></dd>
</dl>
<dl>
<php>
	$type=array(1=>'汉字（不超过8个字）',2=>'拼音',3=>'英文',4=>'数字',5=>'字头',6=>'图形');
	$hanzi=array(1=>'换序',2=>'减汉字（三个字以上）',3=>'任意位置加汉字',4=>'完全相同',5=>'部分相同',7=>'读音相同',8=>'逆序');
	$pingyin=array(1=>'换序',2=>'任意位置加字母',3=>'完全相同',4=>'部分相同',5=>'逆序');
	$yingwen=array(1=>'换序',2=>'减字母',3=>'完全相同',4=>'部分相同',5=>'任意位置加字母',6=>'逆序');
	$shuzi=array(1=>'换序',2=>'完全相同',3=>'部分相同',4=>'变任一个数字');
	$zitou=array(1=>'完全相同',2=>'换序相同',3=>'（指定）字形相近');
	$tuxing=array(1=>'包含查询',2=>'完全查询');
</php>
<dt>查询方式</dt>
<dd class="m1">
<select class="may_select" id="selCity" name='type'>
<volist name='type' id='vo'>
<php>$selected=($key==$con['type'])?'selected':'';</php>
	<option value="{$key}" {$selected}>{$vo}</option>
</volist>
</select>
</dd>
</dl>
<dl>
<dt>查询类型</dt>
<dd class="m1" id="j_dd_hover">
<div class="may_box" id="wl-1" style="display:none">
<ul class="labox">
<volist name='hanzi' id='vo'>
	<php>
		if($con['type']==1){
		$arr=explode(',',$con['ways']);
		$checked=(in_array($key,$arr))?'checked':'';
		}
	</php>
	<if condition="$checked">
	<label class="s_tabox_dfn_hover"><input name='ways1[]' value="{$key}" checked type="checkbox">{$vo}</label>
	<else/>
	<label><input name='ways1[]' value="{$key}" type="checkbox">{$vo}</label>
	</if>
</volist>
</ul>
<p>请在查询内容中输入简体汉字,多个汉字之间不能有空格。</p>
</div>
<div class="may_box" id="wl-2" style="display:none">
<ul class="labox">
<volist name='pingyin' id='vo'>
	<php>
		if($con['type']==2){
		$arr=explode(',',$con['ways']);
		$checked=(in_array($key,$arr))?'checked':'';
		}
	</php>
	<if condition="$checked">
	<label class="s_tabox_dfn_hover"><input name='ways2[]' value="{$key}" checked type="checkbox">{$vo}</label>
	<else/>
	<label><input name='ways2[]' value="{$key}" type="checkbox">{$vo}</label>
	</if>
</volist>
</ul>
<p>请在查询内容中输入拼音，每个字的拼音之间加空格；例如：tong ren tang。</p>
</div>
<div class="may_box" id="wl-3" style="display:none">
<ul class="labox">
<volist name='yingwen' id='vo'>
	<php>
		if($con['type']==3){
		$arr=explode(',',$con['ways']);
		$checked=(in_array($key,$arr))?'checked':'';
		}
	</php>
	<if condition="$checked">
	<label class="s_tabox_dfn_hover"><input name='ways3[]' value="{$key}" checked type="checkbox">{$vo}</label>
	<else/>
	<label><input name='ways3[]' value="{$key}" type="checkbox">{$vo}</label>
	</if>
</volist>
</ul>
<p>请在查询内容中输入3个或3个以上的英文字母('&amp;'或'.'小数点等符号也可以接受),3个以下的英文字母请选择字头查询</p>
</div>
<div class="may_box" id="wl-4" style="display:none">
<ul class="labox">
<volist name='shuzi' id='vo'>
	<php>
		if($con['type']==4){
		$arr=explode(',',$con['ways']);
		$checked=(in_array($key,$arr))?'checked':'';
		}
	</php>
	<if condition="$checked">
	<label class="s_tabox_dfn_hover"><input name='ways4[]' value="{$key}" checked type="checkbox">{$vo}</label>
	<else/>
	<label><input name='ways4[]' value="{$key}" type="checkbox">{$vo}</label>
	</if>
</volist>
</ul>
<p>请在查询内容中输入阿拉伯数字。</p>
</div>
<div class="may_box" id="wl-5" style="display:none">
<ul class="labox">
<volist name='zitou' id='vo'>
	<php>
		if($con['type']==5){
		$arr=explode(',',$con['ways']);
		$checked=(in_array($key,$arr))?'checked':'';
		}
	</php>
	<if condition="$checked">
	<label class="s_tabox_dfn_hover"><input name='ways5[]' value="{$key}" checked type="checkbox">{$vo}</label>
	<else/>
	<label><input name='ways5[]' value="{$key}" type="checkbox">{$vo}</label>
	</if>
</volist>
</ul>
<p>请在查询内容中输入一个或者两个英文字母，三个以上英文字母请另选英文查询。</p>
</div>
<div class="may_box" id="wl-6" style="display:none">
<ul class="labox">
<volist name='tuxing' id='vo'>
	<php>
		if($con['type']==6){
		$arr=explode(',',$con['ways']);
		$checked=(in_array($key,$arr))?'checked':'';
		}
	</php>
	<if condition="$checked">
	<label class="s_tabox_dfn_hover"><input name='ways6[]' value="{$key}" checked type="checkbox">{$vo}</label>
	<else/>
	<label><input name='ways6[]' value="{$key}" type="checkbox">{$vo}</label>
	</if>
</volist>
</ul>
<p>请在查询内容中输入图形编码，编码之间以';'(英文状态下的)分隔,具体请看图形编码帮助</p>
</div>
<script>

</script>
</dd>
</dl>
<dl>
<dt>查询内容</dt>
<dd class="m1">

<if condition='$con["25code"] neq ""'>
<input type="text" value="{$con.25code|default='请输入商标图形编码'}" name='content' id='content' onfocus="if(this.value==this.attributes.attr_val.value)this.value='';" onblur="if(!this.value)this.value=this.attributes.attr_val.value;" attr_val="请输入商标图形编码" class="ipt2"/>
<else />
<input type="text" value="{$con.content|default='请输入查询关键字'}" name='content' id='content' onfocus="if(this.value==this.attributes.attr_val.value)this.value='';" onblur="if(!this.value)this.value=this.attributes.attr_val.value;" attr_val="请输入查询关键字" class="ipt2"/>
</if>


<a href="##" class="blue" style='display:none' id='bianma' onclick="showDiv('graphicPop')">选择图形编码</a>
</dd>
</dl>
<div class="clear"></div>
</ul>
<p class="btm1"><input type="submit" name="Submit" value="提交搜索" class="btn"/></p>
</div>
</div>
<if condition="$info eq ''" >
<input type='hidden' name="discu" value="1" />
</form>
<elseif condition='$info eq 1' />
<input type='hidden' name="discu" value="1" />
</form>
<div class='clear'></div>
<center><h1 style="font-size:24px;margin:20px;">查无结果，如果你的各种搜索条件有矛盾，可能导致无结果，<br>
本站包括所有市面上可以卖的商标，如不知道如何查询，请咨询我们的在线客服
</h1></center>
<else />
<input type='hidden' name="discu" value="1" />
</form>
<div id="tmleftbox">
<!--查询结果列表-->
<php>
    $con['price']=explode(',',$con['price']);
</php>
<script type="text/javascript">
    /*拖动滑块*/
$(document).ready(function(){
    $("#range_5").ionRangeSlider({
        min: 0,
        max: 50,
        from:{$con.price.0|default=0},
        to: {$con.price.1|default=50},
        type: 'double',//设置类型
        step: 1,
        prefix: "",//设置数值前缀
        postfix: "",//设置数值后缀
        prettify: true,
        hasGrid: true,
        onChange: function(obj){        // function-callback, is called on every change
        $('#price1').val($('.irs-from').text());
        $('#price2').val($('.irs-to').text());
        }
    }); 
     $(".slipbox").children(".slipmore").css("display","none");
});

/*拖动滑块 end*/
</script>
<form method="get">
<input type='hidden' value="<php>echo $_GET['skey'];</php>" name='skey' />
<div class="resultbox">
<div class="sortbox">排序：
<button type="submit" name='zh' value='1'  class="ascbtn" />综合</button>
<button type="submit" name='pf' value="<eq name='con.pf' value='1'>2<else/>1</eq>" class="<eq name='con.pf' value='1'>desbtn<else/>ascbtn</eq>" />评分</button>
<button type="submit" name='sj' value="<eq name='con.sj' value='1'>2<else/>1</eq>" class="<eq name='con.sj' value='1'>desbtn<else/>ascbtn</eq>" />更新时间</button>
<button type="submit" name='sl' value="<eq name='con.sl' value='1'>2<else/>1</eq>" class="<eq name='con.sl' value='1'>desbtn<else/>ascbtn</eq>" />浏览数量</button>
<button type="submit" name='jg' value="<eq name='con.jg' value='1'>2<else/>1</eq>" class="<eq name='con.jg' value='1'>desbtn<else/>ascbtn</eq>" />价格</button>
<span class="slipbox" data-kone="groom"><input type="text" name="pricea[]" id='price1' value="{$con.price.0}" class="ipt" /> - <input type="text" name="pricea[]"  value="{$con.price.1}" id='price2' class="ipt" /> 万元
<div class="slipmore">
<div class="ranSlider"><input type="text" id="range_5" /><p><input type="Submit" name="Submit" value="确定" class="btn1" /></p></div>
<dl class="groom">
<dt><a href="{$url}?price=0,3">特价商标</a></dt><dd>27.2%选择</dd>
<dt><a href="{$url}?price=4,6">五万左右商标</a></dt><dd>35.3%选择</dd>
<dt><a href="{$url}?price=8,12">十万左右商标</a></dt><dd>23.4%选择</dd>
<dt><a href="{$url}?price=10,1000">十万以上商标</a></dt><dd>14.1%选择</dd>
</dl>
</div>
</span>
<em>
<input type='hidden' value="1" name='qqq' />
<label><input type="checkbox" name="discu" value="1" <eq name="con.discu" value='1'>checked</eq> /> 包括面议</label>
<label><input type="checkbox" name="outsale" value="1" <eq name="con.outsale" value='1'>checked</eq>/> 推荐特价</label>
<label><input type="checkbox" name="recommend" value="1" <eq name="con.recommend" value='1'>checked</eq>/> 推荐</label>
<input type="Submit" name="Submit" value="确定" class="btn" />
</em>
</div>
</form>
<ul>

<div class="home_hot" >
    <div class="pub_title"><h2>商标展示  <span style='margin-left:10px;font-size:80%'>查询{$category_text}(总数<strong style='color:red'>{$classes}</strong>个，按您的条件得到<strong style='color:red'>{$count|default=0}</strong>条数据，{$discu})</span></h2></div>
<ul class="logo_img">
   <volist name='info' id='vo'>
<li><span class="slipbox" data-kone="c"><a href="<php>$urlname='Index/tmdetail?id='.$vo["tm_id"];echo U($urlname);</php>" title="{$vo.tm_name}" target="_blank"><img src="<eq name='vo.is_fine' value='1'>{:C('PIC9')}/{$vo.tm_id}<else />{:C('PIC4')}/{$vo.tm_id}</eq>" /></a>
<p><a href="<php>$urlname='Index/tmdetail?id='.$vo["tm_id"];echo U($urlname);</php>" title="{$vo.tm_name}" class="title" target="_blank">{$vo.tm_name}</a></p><div class="lop">
<if condition="$Think.session.id gt 0">
ID：{$vo.tm_id}
	<if condition="$vo['tm_categories'] eq 25">
	<php>
		if($vo[tm_price] > 0){
		echo '<em class="main_nav">价格：￥'.$vo[tm_price].'万元</em>';
		}else{
		echo '<em class="main_nav">面议</em>';
		}
	</php>
	</span></p>
	<else />
<php>
$data=$vo['price_group']?$vo['price_group']:getprices($vo['tm_price']);
$urlname='Index/quxiantu?data='.$data.'&date='.$date;
		if($vo[tm_price] > 0){
		echo '
<em class="main_nav" onmouseover="showSubNav(this);" onmouseout="hideSubNav(this);">查看价格曲线
<div class="sub_nav">
<div class="a">
<h4>价格曲线（单位：万元）</h4>
<iframe src="'.U($urlname).'" scrolling="no" frameborder="0" width="100%" height="300" id="mainFrame" onload=\'IFrameReSize("mainFrame");IFrameReSizeWidth("mainFrame");\'></iframe>
</div>
</div>
</em>';

		}else{
		echo '<em class="main_nav">面议</em>';
		}
	</php>
	</p>
	</if>
<else />
<a href="###" class="log" onclick="showDiv('loginPop')">登录查看价格</a>
</if>
</div>
<p class="grey">所属类别：<a href="<php>$urlname='Index/tmclass?id='.$vo["tm_categories"];echo U($urlname);</php>" target="_blank" title="<php>echo $sblist[$vo['tm_categories']];</php>">第{$vo.tm_categories}类</a></p>
<p class="grey" title="类似群组：{$vo.belong_group}">类似群组：{$vo.belong_group|subtext=18}</p>
<p class="grey" title="{$vo.belong_groupdetail}">{$vo.belong_groupdetail|subtext=14}</p>
<div class="slipmore imgmore">
<em><a href="{:U('Index/tmlike',array('id'=>$vo['tm_id']))}" target="_blank" class="i1">查找近似商标</a><span style="display:none">{$vo.tm_id}</span><a href="###" class="i2">收藏</a></em>
</div>
</span>
</li>
   </volist>
   </ul> 
</div>

</ul>
</div>
<!--查询结果列表 end-->

<!--分页-->
{$page}
<!--分页 end-->
</div>

<include file="public/search_r" />
</if>
<div class="clear"></div>
</div>

<!--底部-->
<div id="footer">
<include file="public/flink" />
<include file="public/footbox" />
</div>
<!--底部 end-->

<script type="text/javascript" src="{:C('HTMLPATH')}js/jquery-layer.js"></script>
<script type="text/javascript" src="{:C('HTMLPATH')}js/leftmenu.js"></script>

<!--背景层-->
<div id="bg" class="bg" style="display:none;"></div>
<iframe id="popIframe" class="popIframe" frameborder="0" ></iframe>
<!--背景层-->
<script type="text/javascript">
	$(function(){
		$('.i2').click(function(){
			var tm_id = $(this).prev().html();
			$.post("{:U('User/collect_tm')}",{'tm_id':tm_id},function(msg){
				if(msg == '收藏成功！'){
					alert(msg+'进入个人中心，编缉你收藏过的商标，可以整理成不同的文件夹，导出成excel');
					$.post("{:U('User/createcolltm')}",{'id':tm_id},function(msg){
						if(msg != '-1'){
							var lileng= $('.mycollection ul li').length;
							if(lileng == 0){
								$('.mycollection ul').append(msg);
							}else if(lileng == 6){
								$('.mycollection ul li').eq(5).remove();
								$('.mycollection ul li').eq(0).before(msg);
							}else{
								$('.mycollection ul li').eq(0).before(msg);
							}
							var count = Number($('.collecttmnum').html()) + 1;
							$('.collecttmnum').html(count);
						}
					});
				}else if(msg == '请先登录！'){
					showDiv('loginPop');
				}else{
					alert(msg);
				}
			});
		});
	});
</script>
</body>
</html>