<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$tmpl_info.title}</title>
<meta name="Keywords" content="{$tmpl_info.keywords}" />
<meta name="Description" content="{$tmpl_info.description}" />
<link rel="stylesheet" href="{:C('HTMLPATH')}css/main.css">
<link rel="stylesheet" href="{:C('HTMLPATH')}css/tmStyle.css">
<link rel="stylesheet" href="{:C('HTMLPATH')}css/ion.rangeSlider.css"/><!--滑块样式-->
<script type="text/javascript" src="{:C('HTMLPATH')}js/jquery-1.7.1.js"></script>
<script type="text/javascript" src="{:C('HTMLPATH')}js/common.js"></script>
<script type="text/javascript" src="{:C('HTMLPATH')}js/ion.rangeSlider.js"></script>
<script type='text/javascript' src="{:C('HTMLPATH')}js/dropdown.js"></script>
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<script type="text/javascript">
var trace_page_on = "{$trace_page_arr.on}";
if(trace_page_on){
function trace_close_time(){
	$.ajax({
		type:"POST",
		url:"{:U('Index/traceUrl')}",
		async: false,
		data:"id={$trace_page_arr.trace_id}",
		success: function(result){
			}
	});
}
function trace_update_time(){
	$.ajax({
		type:"POST",
		url:"{:U('Index/traceUrl')}",
		async: false,
		data:"type=1&id={$trace_page_arr.trace_id}",
		success: function(result){
			}
	});
}
window.onbeforeunload = function(){
	trace_close_time();
}
var time_limit_tmp = "{$trace_page_arr.limit_time|default=10000}";
time_limit_tmp = parseInt(time_limit_tmp);
time_limit_tmp = time_limit_tmp * 1000;
setInterval(trace_update_time, time_limit_tmp);
}
</script>
<script type="text/javascript">
	function sendrecord(){
		$.post("{:U('Index/cookieids')}",{id:"{$res.self.tm_id}"});
	}
	$(function(){
		setTimeout('sendrecord()', 10000);
		$('#collecttm').click(function(){
			var tm_id={$res.self.tm_id};
			var data={'tm_id':tm_id};
			$.post("{:U('User/collect_tm')}",data,function(msg){
				if(msg == '收藏成功！'){
					alert(msg+'进入个人中心，编缉你收藏过的商标，可以整理成不同的文件夹，导出成excel');
					$.post("{:U('User/createcolltm')}",{'id':tm_id},function(msg){
						if(msg != '-1'){
							var lileng= $('.mycollection ul li').length;
							if(lileng == 0){
								$('.mycollection ul').append(msg);
							}else if(lileng == 6){
								$('.mycollection ul li').eq(5).remove();
								$('.mycollection ul li').eq(0).before(msg);
							}else{
								$('.mycollection ul li').eq(0).before(msg);
							}
							var count = Number($('.collecttmnum').html()) + 1;
							$('.collecttmnum').html(count);
						}
					});
				}else if(msg == '请先登录！'){
					showDiv('loginPop');
				}else{
					alert(msg);
				}
			});
		});
	});
</script>
</head>

<body>
<!--登录-->
<include file="public/dlogin" />
<!--登录 end-->

<div class="header">
<div id="site-nav">
<ul class="leftsite">
<include file="public/usersession" />
<include file="public/header_nav" />
</div>

<div class="clear"></div>

<include file="public/header" />

<div class="clear"></div>
<!--导航 Start-->
<div class="menubox">
<div class="all-sort1">
<h2 id="div_h2" >适用行业分类 <img id="img1" src="{:C('HTMLPATH')}images/ico_down.png" align="absmiddle"></h2>
<div class="showbox" id="tip1" style="display:none;">
<!--所有分类 Start-->
<div class="all-sort-list">
<include file="public/fenlei" />
</div>
<!--所有分类 End-->
</div>
</div>
<div class="nav">
<ul class="clearfix">
<include file="public/nav" />
</ul>
</div>
</div>
<!--导航 End-->
</div>

<div class="mainbox">
<ul id="curmbd">您所在的位置：<a href="{:C('INDEXPATH')}">首页</a> &gt; <a href="{:U('Index/tmclass',array('id'=>$res['self']['tm_categories']))}">第{$res.self.tm_categories}类商标</a> &gt; {$res.self.tm_name}</ul>
<div id="tmleftbox">
<div class="tminfo">
<ul class="info">
<div class="bimg"><img src="<eq name='res.self.is_fine' value='1'>{:C('PIC12')}/{$res.self.tm_id}<else />{:C('PIC4')}/{$res.self.tm_id}</eq>" /></div>
<div class="rightinfo">
<ul>
<h2>{$res.self.tm_name}<span class="online"><a href="{:U('Hwtm/Kefu/index')}">在线询价</a></span></h2>

<if condition="$Think.session.id gt 0">
	<if condition="$res['self']['tm_categories'] eq 25">
	<php>
		if($res[self][tm_price] > 0){
		echo '<li>价格：￥'.$res[self][tm_price].'万元</li>';
		}else{
		echo '<li>面议</li>';
		}
	</php>
	</span></p>
	<else />
<php>
$data=$res['self']['price_group']?$res['self']['price_group']:getprices($res['self']['tm_price']);
$urlname='Index/quxiantu?data='.$data.'&date='.$date;
		if($res[self][tm_price] > 0){
		echo '<li>H价格综合指数（该指数根据商标价格、时间、评价等超过50个的参数综合计算）</li>
          <li>H.$综合指数：<em class="main_nav" onmouseover="showSubNav(this);" onmouseout="hideSubNav(this);">查看价格曲线
<div class="sub_nav">
<div class="a">
<h4>价格曲线（单位：万元）</h4>
<iframe src="'.U($urlname).'" width="100%" height="300" align="top" scrolling="no" frameborder="0"></iframe>
</div>
</div>
</em></li>';

		}else{
		echo '<li>面议</li>';
		}
	</php>
	</p>
	</if>
<else />
<li><a href="javascript:;" onclick="showDiv('loginPop')" class="price">价格：登陆后查看具体价格</a></li>
</if>
<dl>
<dt>商标分类：</dt><dd><a href="{:U('Index/tmclass',array('id'=>$res['self']['tm_categories']))}" class="red" title="<php>echo $sblist[$res['self']['tm_categories']]</php>">第{$res.self.tm_categories}类</a></dd>
<dt>交易类型：</dt><dd>{$res.self.trans_type}</dd>
<dt>商标状态：</dt><dd>{$res.self.tm_status}</dd>
<dt>商标编号：</dt><dd><i>{$res.self.tm_id}</i></dd>
<dt>专用期限：</dt><dd>{$res.self.end_date}</dd>
<dt>商标类型：</dt><dd>{$res.self.tm_nametype}</dd>
</dl>
<li><dfn>联系电话：<volist name='tel' id='vo'>
{$vo.tel}&nbsp;&nbsp;
</volist></dfn></li>
<li>
<p><i>020-38819075 020-38866371</i> （广州，询价及办理手续）</p>
<p><i>010-62218730</i>（三线） （北京，仅办理手续）</p>
<p><i>0571-56278880</i>（三线） （杭州，仅办理手续）</p>
</li>
</ul>
</div>
</ul>
<ul class="otinfo">
<li><p>类似群组：</p>{$res.self.belong_group}</li>
<li><p>服务项目：</p>{$res.self.belong_groupdetail}</li>
<li><p>华唯商标网(Www.Hw-Tm.cn)商标设计理念：</p>
{$res.self.tm_name}商标是商品的“形象代言人”，是产品的无形资产。{$res.self.tm_name}商标是你产品形象的最好的代言人，{$res.self.tm_name}商标有助于更多人对你的产品一见钟情，从而为你打开市场。购买{$res.self.tm_name}商标，给您无穷的商机回报。</li>
<li><p>关注{$res.self.tm_name}商标的热门区域：</p><a href="#" target="_blank" class="blue">江苏无锡</a> <a href="#" target="_blank" class="blue">上海</a> <a href="#" target="_blank" class="blue">广东湛江</a> <a href="#" target="_blank" class="blue">广东广州</a> <a href="#" target="_blank" class="blue">浙江湖州</a></li>
</ul>
</div>
<div class="pcbtn">
<dl>
<dt>上一商标：<a href="{:U('Index/tmdetail',array('id'=>$res['self']['up_id']))}" class="blue" target="_blank">{$res.self.up_name}</a></dt>
<dt class="cen"><a id="collecttm" href="###" class="laud">收藏</a></dt>
<dd>下一商标：<a href="{:U('Index/tmdetail',array('id'=>$res['self']['down_id']))}" class="blue" target="_blank">{$res.self.down_name}</a></dd>
</dl>
</div>
<div class="tmreu">
<h2>与“{$res.self.tm_name}”相关的商标<a href="{:U('Index/tmlike',array('id'=>$res['self']['tm_id']))}">更多...</a></h2>
<ul>
<foreach name="res['same_row']" item="vo">
<li><span class="slipbox" data-kone="c"><a href="{:U('Index/tmdetail',array('id'=>$vo['tm_id']))}" title="{$vo.tm_name}" target="_blank"><img src="<eq name='vo.is_fine' value='1'>{:C('PIC9')}/{$vo.tm_id}<else />{:C('PIC4')}/{$vo.tm_id}</eq>" /></a>
<p><a href="{:U('Index/tmdetail',array('id'=>$vo['tm_id']))}" title="{$vo.tm_name}" class="title" target="_blank">{$vo.tm_name}</a></p>
</span>
</li>
</foreach>
</ul>
</div>
<div class="tmreu">
<h2>除了“{$res.self.tm_name}”商标，华唯还有更多！<a href="{:U('Index/tmlike',array('id'=>$res['self']['tm_id'],'type'=>2))}">更多...</a></h2>
<ul>
<foreach name="res['different_row']" item="vo">
<li><span class="slipbox" data-kone="c"><a href="{:U('Index/tmdetail',array('id'=>$vo['tm_id']))}" title="{$vo.tm_name}" target="_blank"><img src="<eq name='vo.is_fine' value='1'>{:C('PIC9')}/{$vo.tm_id}<else />{:C('PIC4')}/{$vo.tm_id}</eq>" /></a>
<p><a href="{:U('Index/tmdetail',array('id'=>$vo['tm_id']))}" title="{$vo.tm_name}" class="title" target="_blank">{$vo.tm_name}</a></p>
</span>
</li>
</foreach>
</ul>
</div>

<div class="discuss">
<h2>评论</h2>
<form action="{:U('Index/addPost',array('id'=>$res['self']['tm_id']))}" method="post">
<ul>
<p>发表评论或者购买咨询留言，购买与咨询“{$res.self.tm_name}”商标请留下你的详细联系方式。</p>
<li>电子邮件地址：<input type="email" name="email" class="ipt" /></li>
<li>评价等级：<input type="radio" name="level" value="1" id="star1" /><label for="star1"><span class="star01">一星</span></label>
<input type="radio" name="level" value="2" id="star2" /><label for="star2"><span class="star02">二星</span></label>
<input type="radio" name="level" value="3" id="star3" /><label for="star3"><span class="star03">三星</span></label>
<input type="radio" name="level" value="4" id="star4" /><label for="star4"><span class="star04">四星</span></label>
<input type="radio" name="level" value="5" id="star5" /><label for="star5"><span class="star05">五星</span></label></li>
<li>关于“{$res.self.tm_name}”的评论内容：</li>
<li><textarea name="content"></textarea></li>
<li><input type="submit" value="提交" class="btn" /></li>
</ul>
</form>
</div>

</div>
<div id="tmrightbox">
<!--联系电话-->
<div class="tmContact">
<include file='public/lianxi' />
</div>
<!--联系电话 end-->
<!--推荐商标-->
<div class="recombox">
<h2>推荐商标</h2>
<ul>
<volist name='tuijianneiye' id='vo'>
	<li><a href="{:U('Index/tmdetail',array('id'=>$vo['tm_id']))}" target="_blank" title="{$vo.tm_name}"><img src="<eq name='vo.is_fine' value='1'>{:C('PIC9')}/{$vo.tm_id}<else />{:C('PIC4')}/{$vo.tm_id}</eq>" alt="{$vo.tm_name}" /></a><p><a href="{:U('Index/tmdetail',array('id'=>$vo['tm_id']))}" target="_blank">{$vo.tm_name}</a></p></li>
</volist>
</ul>
</div>
<!--推荐商标 end-->
<!--收藏夹-->
<div class="mycollection">
<h2>未处理收藏夹<neq name="Think.session.uid" value=""><span>(<span class="collecttmnum">{$coll_num|default="0"}</span> )</span><a href="{:U('User/collection')}" target="_blank">查看更多</a><else/><a href="###" onclick="showDiv('loginPop')">登录查看收藏夹</a></neq></h2>
<ul>
<neq name="Think.session.uid" value="">
<volist name="colltminfo" id="vo" >
<li>
<a href="{:U('Index/tmdetail',array('id'=>$vo['tm_id']))}" target="_blank" title=""><img src="{$vo.img}" alt="" />
<div>
<em>商标名称：</em>{$vo.tm_name}<br />
<em>商标ID：</em>{$vo.tm_id}<br />
<em>商标类别：</em>第{$vo.tm_categories}类<br />
<em>商品或服务：</em>{$vo.belong_groupdetail}</div>
</a>
<span></span></li>
</volist>
</neq>
</ul>
<script>
$(".mycollection ul li span").click(function(){
$(this).parent().children("a").hide();
$(this).hide();
});
</script>
</div>
<!--收藏夹 end-->
<!--浏览记录-->
<div class="recombox hm_history">
<h2>最近浏览的商标<a href="{:U('Index/myhistory')}">查看更多</a></h2>
<ul>
<volist name='history' id='vo'>
<li><a href="{:U('Index/tmdetail',array('id'=>$vo['tm_id']))}" target="_blank" title="{$vo.tm_name}"><img src="http://7vzoco.com2.z0.glb.qiniucdn.com/{$vo.tm_id}" alt="{$vo.tm_name}" /></a></li>
</volist>
</ul>
</div>
<!--浏览记录 end-->
<!--二维码-->
<div class="qrCode">
<h2>关注华唯微信 时刻掌握最新商标资讯</h2>
<ul>
<a href="http://www.hw-tm.cn/weixin/" target="_blank"><img src="{:C('HTMLPATH')}images/weixin.jpg" alt="关注华唯微信" /></a>
<p>对准上面微信二维码、"扫一扫" 即可关注！</p>
<p><a href="{:C('HTMLPATH')}weixin/index.html" target="_blank">不会？点击查看详细教程！</a></p>
</ul>
</div>
<!--二维码 end-->
</div>
<div class="clear"></div>
</div>

<!--底部-->
<div id="footer">
<include file="public/flink" />
<include file="public/footbox" />
</div>
<!--底部 end-->

<script type="text/javascript" src="{:C('HTMLPATH')}js/jquery-layer.js"></script>
<script type="text/javascript" src="{:C('HTMLPATH')}js/leftmenu.js"></script>

<!--背景层-->
<div id="bg" class="bg" style="display:none;"></div>
<iframe id="popIframe" class="popIframe" frameborder="0" ></iframe>
<!--背景层-->

</body>
</html>