<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$tmpl_info.title}</title>
<meta name="Keywords" content="{$tmpl_info.keywords}" />
<meta name="Description" content="{$tmpl_info.description}" />
<link rel="stylesheet" href="{:C('HTMLPATH')}css/main.css">
<link rel="stylesheet" href="{:C('HTMLPATH')}css/tmStyle.css">
<link rel="stylesheet" href="{:C('HTMLPATH')}css/ion.rangeSlider.css"/><!--滑块样式-->
<style>
body {background:#000;}
.header {width:100%; height:40px;}
#site-nav {width:100%;}
.leftsite {margin-left:10px;}
.phone {margin-right:10px;}

.mainbox, .fullbox {width:100%;}

.fullTabox {width:100%; margin-bottom:10px;}
.fullTabox .title {width:100%; height:40px; border-bottom:solid 4px #666;}
.fullTabox .title dl {padding:0 8px; margin:0;}
.fullTabox .title dl dt {float:left; text-align:center; padding:0 20px; margin-right:5px; cursor:pointer; font-size:16px; background:#f5f5f5; height:39px; line-height:39px; border:solid 1px #ccc; border-bottom:0; color:#333; z-index:200;}
.fullTabox .title dl dt.hover {background:#666; font-weight:bold; color:#fff; height:42px; line-height:42px; border:solid 1px #666; border-top-width:2px; border-bottom:0;}
.fullTabox .title dl dt.hover a {color:#ff0;}
.fullTabox .title dl dt a {font-size:14px; font-weight:normal; color:#06c; margin-left:5px;}
.column label {color:#333;}
.fullTabox .contable {width:100%; padding:0; position:relative; margin:0; color:#fff;}
.fullTabox .contable a {color:#fff;}
.fullTabox .contable ul.pad {padding:0;}
.fullTabox .contable dl {width:100%; float:left; height:30px; line-height:30px; padding:5px 0; border-bottom:dashed 1px #444; font-size:12px;;}
.fullTabox .contable dl dt {width:150px; line-height:2em; font-weight:bold; font-size:14px; text-align:right; padding-right:20px; float:left;}
.fullTabox .contable dl dd {margin-right:2px; float:left; height:30px; line-height:30px; text-align:left;}
.fullTabox .contable dl label {cursor:pointer;}
.fullTabox .contable dl .ipt {width:50px;}
.fullTabox .contable dl .ipt1 {width:400px;}
.fullTabox .contable dl .ipt2 {width:180px; margin-right:5px;}
.fullTabox .contable p.btm {text-align:center; position:absolute; right:0; top:0; padding-top:20px; width:200px; height:105px; background:#000;}
.fullTabox .contable p.btm .btn {width:70px; height:70px; background:#e4393c; text-align:center; font-size:16px; font-weight:bold; border:0; color:#FFF; cursor:pointer;}
.fullTabox .contable p.btm a {text-align:center; width:200px; height:24px; line-height:24px; cursor:pointer; float:left; color:#fff;}
.fullTabox .contable p .btn:hover {background:#F60;}
.fullTabox .contable .cloth {width:100%; float:left; margin:5px 0; border:solid 1px #ff0;}
.fullTabox .contable dl i {margin-right:20px; font-style:normal;}
.fullTabox .contable .blue {color:#ff0; margin-right:20px;}

.fullres {width:100%; margin:0;}
.fullres h4 {background:#333; color:#fff; margin-top:5px; padding:5px 10px; font-size:16px;}
.fullres h4 span {font-size:14px; font-weight:normal; margin-left:20px;}
.fullres h4 strong {margin:0 3px; color:#f60;}
.fullres h4 a {float:right; font-size:14px; color:#ff0;}
.fullres ul {padding:10px 0; display:inline-table;}
.fullres ul li {width:200px; float:left; margin:7px 10px; padding:3px;}
.fullres ul li a img {width:200px; height:168px;}
.fullres ul li p {height:22px; line-height:22px; overflow:hidden; text-align:left; padding:0 5px;}
.fullres ul li .lop {height:22px; line-height:22px; text-align:left; padding:0 5px; color:#999;}
.fullres ul li .lop em {margin-left:10px; color:#f60; float:right;}
.fullres ul li p img {height:13px;}
.fullres ul li p a {color:#fff;}
.fullres ul li p a:hover {color:#f60;}
.fullres ul li p a.title {width:190px; text-align:center; font-size:14px; overflow:hidden; float:left;}
.fullres ul li .lop a.log {color:#F60;}
.fullres ul li p.grey, .fullres ul li p.grey a {color:#999;}

.page {color:#fff; border-top:solid 1px #444; padding:20px 0;}
</style>
<script type="text/javascript" src="{:C('HTMLPATH')}js/jquery-1.7.1.js"></script>
<script type="text/javascript" src="{:C('HTMLPATH')}js/common.js"></script>
<script type='text/javascript' src="{:C('HTMLPATH')}js/dropdown.js"></script>
<script type="text/javascript" src="{:C('HTMLPATH')}js/ion.rangeSlider.js"></script>

<script>
/*
$(document).ready(function(){
$("ul.tree").checkTree({
});
});*/
</script>
<script type="text/javascript">
var trace_page_on = "{$trace_page_arr.on}";
if(trace_page_on){
function trace_close_time(){
	$.ajax({
		type:"POST",
		url:"{:U('Index/traceUrl')}",
		async: false,
		data:"id={$trace_page_arr.trace_id}",
		success: function(result){
			}
	});
}
function trace_update_time(){
	$.ajax({
		type:"POST",
		url:"{:U('Index/traceUrl')}",
		async: false,
		data:"type=1&id={$trace_page_arr.trace_id}",
		success: function(result){
			}
	});
}
window.onbeforeunload = function(){
	trace_close_time();
}
var time_limit_tmp = "{$trace_page_arr.limit_time|default=10000}";
time_limit_tmp = parseInt(time_limit_tmp);
time_limit_tmp = time_limit_tmp * 1000;
setInterval(trace_update_time, time_limit_tmp);
}
</script>
<link rel="shortcut icon" href="{:C('HTMLPATH')}favicon.ico" type="image/x-icon" />
</head>

<body>
<!--登录-->
<include file="public/dlogin" />
<!--登录 end-->

<script type="text/javascript">

function owkey(){
	var b='';
	var k=0;
	$('[owkey]').each(function(){
    			if($(this).attr('checked')=='checked'){
    					if(k<6){
    						b=b+'<i>'+$(this).parent().text()+'</i>';
    					}else{
    						if(k==6){
    							b=b+'<i>...</i>';
    						}
    					}
    					k=k+1;
    			}
		});
		if(b==''){
			$('#25lei_text').html('<i>暂无选择条件</i>');	
		}else{
			$('#25lei_text').html(b);	
		}
}

function sag25(v){
		var a='';
		var b='';
		var k=0;
		$('[getkey=25service]').each(function(){
			if($(this).val()!='如：手机'){
    					a=a+'<i>'+$(this).val()+'</i>';
			}
		});
		if(a==''){
			$('[getkey=25group]').each(function(){
    			if($(this).attr('checked')=='checked'){
    					if(k<4){
    						b=b+'<i>'+$(this).val()+'</i>';
    					}else{
    						if(k==4){
    							b=b+'<i>...</i>';
    						}
    					}
    					k=k+1;
    			}
			});
			if(b==''){
				if(v==1){
					che='{$con.25group}';
					if(che!=''){
						che=che.replace(',','</i><i>');
						che='<i>'+che+'</i>';
						$('#25sag').html(che);						
					}else{
						$('#25sag').html('<i>暂无定义</i>');
					}
				}else{
					$('#25sag').html('<i>暂无定义</i>');
				}
			}else{
				$('#25sag').html(b);
			}
			
		}else{
			$('#25sag').html(a);
		}
}
function sbtype(){
	var b='';
	$('#ch_num').hide();
	$('#en_num').hide();
	$('#chaxuntuxing').hide();
	$('[key]').each(function(){
    			if($(this).attr('checked')=='checked'){
    				var name=$(this).attr('name');
    				switch(name){
    					case 'chun_ch':
    						$('#ch_num').show();
    						break;
    					case 'chun_en':
    						$('#en_num').show();
    						break;
    					case 'chun_tx':
    						$('#chaxuntuxing').show();
    						break;
    					case 'chinese':
    						$('#ch_num').show();
    						break;
    					case 'english':
    						$('#en_num').show();
    						break;
    					case 'tuxing':
    						$('#chaxuntuxing').show();
    						break;
    				}
    						if(b==''){
    							b=$(this).parent().text();
    						}else{
    							b=b+','+$(this).parent().text();
    						}	
    			}
		});
		if(b==''){
			$('#sbtype').html('商标类型（中文/英文/图形/数字）');	
		}else{
			$('#sbtype').html("已选择"+b);	
		}
}
function ch_num(){
	var b='';
		$('[name=ch_num]').each(function(){
    			if($(this).attr('checked')=='checked'){
    						if(b==''){
    							b=$(this).parent().text();
    						}else{
    							b=b+','+$(this).parent().text();
    						}	
    			}
		});
		if(b==''){
			$('#ch_num').html('汉字字数');	
		}else{
			if($('[name=hzall]').attr('checked')=='checked'){
				b=b+"(包含以上)";
			}
			$('#ch_num').html("已选择"+b);	
		}
}
function en_num(){
	var b='';
		$('[name=en_num]').each(function(){
    			if($(this).attr('checked')=='checked'){
    						if(b==''){
    							b=$(this).parent().text();
    						}else{
    							b=b+','+$(this).parent().text();
    						}	
    			}
		});
		if(b==''){
			$('#en_num').html('字母字数');	
		}else{
			if($('[name=zmall]').attr('checked')=='checked'){
				b=b+"(包含以上)";
			}
			$('#en_num').html("已选择"+b);	
		}
}
function regdate(){
	var b='';
		$('[name=regdate]').each(function(){
    			if($(this).attr('checked')=='checked'){
    						if(b==''){
    							b=$(this).parent().text();
    						}else{
    							b=b+','+$(this).parent().text();
    						}	
    			}
		});
		if(b==''){
			$('#regdate').html('注册年限');	
		}else{
			$('#regdate').html("已选择"+b);	
		}
}
function cate(k){
	    	var a='';
	    	var k=<if condition='$con.25group neq ""'>1<else/>0</if>;
    		$('[checkedkey=cate]').each(function(){
    			if($(this).attr('checked')=='checked'){
    				if(a==''){
    					a=$(this).val();
    				}else{
    					if(k<4){
    						a=a+','+$(this).val();
    					}
    					if(k==4){
    						a=a+',...';
    					}
    					k=k+1;
    					
    				}
    			}
    		});
    		if(a==''){
				$('#category_text').html('未选择商标分类');
    		}else{
    			$('#category_text').html('已选择了'+a+'类');
    		}
    		if(a=="25"){
    			openP('more50', 50, 50, 'more');
    		}else{
    			$('#more50').hide();
    		}
    		if(k==1){
    			che='{$con.25group}';
    		}else{
    			var b='';
    			$('[getkey=25group]').each(function(){
	    			if($(this).attr('checked')=='checked'){
	    				if(b==''){
	    					b=$(this).val();
	    				}else{
	    					b=b+','+$(this).val();
	    				}
	    			}
			});
    			che=b;
    		}
    		$.get("{:U('Index/getqunzu')}?cate="+a+"&checked="+che,function(data,status){
				    $('#qunzu').html(data);
				  });
}
<php>
	$price=explode(',',$con['price']);
</php>
$(document).ready(function(){
	var k1={$price.0|default=0};
	var k2={$price.1|default=50};
		if(k1==0 && k2==50){

		}else{
			$('.irs-min').show();
			$('.irs-max').show();
		}
    	$('.irs-from').text(k1);
    	$('.irs-to').text(k2);
    	var a1=8+k1*3.72+'px';
    	var a2=(194-(k1*3.72)-(50-k2)*3.72)+'px';
    	var a3=(194-(50-k2)*3.72)+'px';
    	var a4=k1*3.72+'px';
    	var a5=3+k1*3.66+'px';
    	var a6=(186-(50-k2)*3.66)+'px';
    	$('.irs-diapason').css({'left':a1,'width':a2});
    	$('.irs-slider.from').css('left',a4);
    	$('.irs-slider.to').css('left',a3);
    	$('.irs-from').css('left',a5);
    	$('.irs-to').css('left',a6);
	cate(1);
	owkey();
	sag25(1);
	sbtype();
	ch_num();
	en_num();
	regdate();
	var k25={$owkey};
	if(k25==1){
		$('#more50').show();
	}
	//初始化
	$('[subkey=25lei]').click(function(){
		owkey();
		closeDiv('fzPop');
	});
	$('[unkey]').click(function(){
		var a=$(this).attr("unkey");
		$('[owkey='+a+']').removeAttr('checked');
            ch_num();
            en_num();
            regdate();
	});
	$('[name=ch_num]').click(function(){
		ch_num();
	})
	$('[name=hzall]').click(function(){
		ch_num();
	})
	$('[name=en_num]').click(function(){
		en_num();
	})
	$('[name=zmall]').click(function(){
		en_num();
	})
	$('[name=regdate]').click(function(){
		regdate();
	})
	$('[subkey=25service]').click(function(){
		sag25(0);
		closeDiv('groupPop');
	});
	$('[subkey=25code]').click(function(){
		var a='';
		$('[getkey=25code]').each(function(){
    			if($(this).attr('checked')=='checked'){
    				if(a==''){
    					a=$(this).val();
    				}else{
    					a=a+','+$(this).val();
    				}
    			}
    		});
		$('[name=25code]').val(a);
		closeDiv('graphicPop'); 
	});
    $('[key]').click(function(){
            if($(this).attr('key')==1){
                var name=$(this).attr('name');
                $('[key]').each(function(){
                    if($(this).attr('name') != name){
                        $(this).removeAttr('checked');
                    }
                });
            }
            if($(this).attr('key')==2){
                $('[key=1]').each(function(){
                        $(this).removeAttr('checked');
                });
            }
            sbtype();
        });
    $('[checkedkey=cate]').each(function(){
    	$(this).click(function(){
    	cate(0);
    	})
    });
	$('[getkey=25code]').click(function(){
		var ul = $(this).parent().parent().find('ul');
		if(!$(this).attr('checked')){
			//ul.show();
			ul.toggle('slow');
		}else{
			//ul.hide();
			ul.toggle('slow');
		}
	});
	$('[attr_ul=toggle_ul]').click(function(){$(this).toggle('slow');});
});

</script>
<!--定义群组-->
<form action='{:U("Index/funsearch")}' method="post" />
<div id="groupPop" class="ondiv" style="display:none;">
<div class="content">
<script type="text/javascript">
$(function(){
// 选择控制
$("#qunzu").click(function(){
	chk_status(2);
});
// 输入控制
$("[getkey=25service]").change(function(){
	chk_status(1);
});
// 选择和输入只能选择一种控制
function chk_status(type){
	if(!type){return ;}
	if(type == 1){
		var chk = false;
		$("[getkey=25service]").each(function(){
			var val = $(this).attr('value');
			var def = $(this).attr('attr_val');
			if(val && val != def){
				chk = true;
				return false;
			}
		});
		$("#qunzu").find('input').each(function(){
			$(this).attr('disabled', chk);
		});
		return ;
	}
	if(type==2){
		var chk = false;
		$('[getkey=25group]').each(function(){
			if($(this).attr('checked')=='checked'){
				chk = true; return false;
			}
		});
		$("[getkey=25service]").each(function(){
			$(this).attr('disabled', chk);
		});
		return ;
	}
}
});
</script>
<h2><span class="close"><input type="botton" id="" value="" subkey='25service' class="closebtn" title="关闭" onclick="closeDiv('groupPop')" /></span>选择群组</h2>
<ul class="cluster">
<div class="note">请选择直接输入商标或选择群组号：</div>
<div class="gro">包含具体商标/服务：
<php>
    if($con['25service']){
    $servicelist=explode(',',$con['25service']);
    }
    for($i=0;$i<5;$i++){
        if(!$servicelist[$i]){
            $servicelist[$i]='';
        }
    }
</php>
<volist name='servicelist' id='vo'>
  <input type="text" value="{$vo | default='如：手机'}" name='25service[]' getkey='25service' onfocus="if(this.value==this.attributes.attr_val.value)this.value='';" onblur="if(!this.value)this.value=this.attributes.attr_val.value;" attr_val="如：手机"/>  
</volist>
</div>

<div id='qunzu'>
	<center>还未选择分类</center>
</div>
<div class="clear"></div>
</ul>
<p class="ptrbtm"><input type="button" subkey='unlimi'  unkey='12' value="不限" class="btn"  style='margin-right:10px;'/><input type="button" subkey='25service' value="确定" class="btn" onclick="closeDiv('groupPop')" /></p>

</div>
</div>
<!--定义群组 end-->
<!--图形编码-->
<div id="graphicPop" class="ondiv" style="display:none;">
<div class="content">
<h2><span class="close"><input type="button" id="" value="" class="closebtn" title="关闭" subkey='25code' onclick="closeDiv('graphicPop')" /></span>选择图形编码</h2>
<ul class="tree">
<volist name='txcode' id='vo'>
<php>
	$checked=(in_array($key,explode(',',$con['25code'])))?'checked="checked"':'';
</php>
<li><label><input type="checkbox" getkey='25code' owkey='13' value="{$key}" {$checked}> {$key} {$vo.name}</label>
<ul style="display:none;" attr_ul='toggle_ul'>
<php>$upkey=$key;</php>
<volist name='vo.down' id='vod'>
<li>{$upkey}.{$key} {$vod}</li>	
</volist>
</ul>
</li>
</volist>
</ul>
<p class="ptrbtm"><input type="button" subkey='unlimi'  unkey='13' value="不限" class="btn"  style='margin-right:10px;'/><input type="button" subkey='25code' value="确定" class="btn"  /></p>
</div>
</div>
<!--图形编码 end-->

<!--25类条件-->

<!--25类条件-->
<div id="fzPop" class="ondiv" style="display:none;">
<div class="content">
<h2><span class="close"><input type="button" id="" subkey='25lei' value="" class="closebtn" title="关闭" onclick="closeDiv('fzPop')" /></span>25类适应风格类型搜索</h2>
<ul>
<dl>
<dt>适合性别</dt>
<dd class="unlimi"><label subkey='unlimi' unkey='1' class="on">不限</label></dd>
<dd><label><input type="checkbox" owkey='1' name='man' <eq name="con.man" value='1'>checked</eq> value="1"/> 男性</label></dd>
<dd><label><input type="checkbox" owkey='1' name='women' <eq name="con.women" value='1'>checked</eq> value="1" /> 女性</label></dd>
<dd><label><input type="checkbox" owkey='1' name='normal' <eq name="con.normal" value='1'>checked</eq> value="1" /> 中性</label></dd>
</dl>
<dl>
<dt>大类风格</dt>
<dd class="unlimi"><label subkey='unlimi' unkey='2' class="on">不限</label></dd>
<dd><label><input type="checkbox" owkey='2' name='europe' <eq name="con.europe" value='1'>checked</eq> value="1" /> 欧式</label></dd>
<dd><label><input type="checkbox" owkey='2' name='tradition' <eq name="con.tradition" value='1'>checked</eq> value="1" /> 传统</label></dd>
</dl>
<dl>
<dl>
<dt>适合产品</dt>
<dd class="unlimi"><label subkey='unlimi' unkey='3' class="on">不限</label></dd>
<dd><label><input type="checkbox" owkey='3' name="clothes" <eq name="con.clothes" value='1'>checked</eq> value="1" /> 服装</label></dd>
<dd><label><input type="checkbox" owkey='3' name="shoes" <eq name="con.shoes" value='1'>checked</eq> value="1" /> 鞋类</label></dd>
<dd><label><input type="checkbox" owkey='3' name="kids" <eq name="con.kids" value='1'>checked</eq> value="1" /> 童装</label></dd>
</dl>
<dl>
<dt>产品风格</dt>
<dd class="unlimi"><label subkey='unlimi' unkey='4' class="on">不限</label></dd>
<dd><label><input type="checkbox" owkey='4'  name="formal" <eq name="con.formal" value='1'>checked</eq> value="1" /> 正装/皮鞋/商务</label></dd>
<dd><label><input type="checkbox" owkey='4' name="relax" <eq name="con.relax" value='1'>checked</eq> value="1"/> 休闲</label></dd>
<dd><label><input type="checkbox" owkey='4' name="sport" <eq name="con.sport" value='1'>checked</eq> value="1"/> 运动</label></dd>
<dd><label><input type="checkbox" owkey='4'  name="tide" <eq name="con.tide" value='1'>checked</eq> value="1"/> 潮流/现代</label></dd>
<dd><label><input type="checkbox" owkey='4'  name="rihan" <eq name="con.rihan" value='1'>checked</eq> value="1"/> 日韩/卡娃依</label></dd>
<dd><label><input type="checkbox" owkey='4'  name="nation" <eq name="con.nation" value='1'>checked</eq> value="1"/> 民族/古典</label></dd>
<dd><label><input type="checkbox" owkey='4'  name="street" <eq name="con.street" value='1'>checked</eq> value="1"/> 街头/嬉皮士</label></dd>
<dd onclick="openP('more3', 3, 5, 'more')" class="more">更多<span id="state3" class="arrow-down"></span></dd>
<div class="subContent" id="more3" style="display:none;">
<ul>
<li><label><input type="checkbox" owkey='4'  name="tongqin" <eq name="con.tongqin" value='1'>checked</eq> value="1"/> 通勤/OL</label></li>
<li><label><input type="checkbox" owkey='4'  name="china" <eq name="con.china" value='1'>checked</eq> value="1"/> 中华元素</label></li>
<li><em class="other"><label><input type="checkbox" owkey='' name="qinlv" <eq name="con.qinlv" value='1'>checked</eq> value="1"/> 波西米亚/情侣/小调</label></em></li>
</ul>
</div>
</dl>
<dl>
<dt>服装产品</dt>
<dd class="unlimi"><label subkey='unlimi' unkey='5' class="on">不限</label></dd>
<dd><label><input type="checkbox" owkey='5' name="underwear" <eq name="con.underwear" value='1'>checked</eq> value="1"/> 内衣/卫衣</label></dd>
<dd><label><input type="checkbox" owkey='5' name="down" <eq name="con.down" value='1'>checked</eq> value="1"/> 羽绒/毛衣/针织</label></dd>
<dd><label><input type="checkbox" owkey='5' name="uniform" <eq name="con.uniform" value='1'>checked</eq> value="1"/> 制服/工作服</label></dd>
<dd><label><input type="checkbox" owkey='5' name="leather" <eq name="con.leather" value='1'>checked</eq> value="1"/> 皮衣/西装/衬衫</label></dd>
<dd><label><input type="checkbox" owkey='5' name="pants" <eq name="con.pants" value='1'>checked</eq> value="1"/> 裤子</label></dd>
<dd><label><input type="checkbox" owkey='5' name="skirt" <eq name="con.skirt" value='1'>checked</eq> value="1"/> 裙子</label></dd>
<dd><label><input type="checkbox" owkey='5' name="elder" <eq name="con.elder" value='1'>checked</eq> value="1"/> 中老年服装</label></dd>
<dd onclick="openP('more4', 4, 5, 'more')" class="more">更多<span id="state4" class="arrow-down"></span></dd>
<div class="subContent" id="more4" style="display:none;">
<ul>
<li><label><input type="checkbox" owkey='' name="jeans" <eq name="con.jeans" value='1'>checked</eq> value="1"/> 牛仔</label></li>
<li><label><input type="checkbox" owkey='' name="other" <eq name="con.other" value='1'>checked</eq> value="1"/> 其它</label></li>
</ul>
</div>
</dl>
<dl>
<dt>鞋类产品</dt>
<dd class="unlimi"><label subkey='unlimi' unkey='6' class="on">不限</label></dd>
<dd><label><input type="checkbox" owkey='6' name="sneaker" <eq name="con.sneaker" value='1'>checked</eq> value="1"/> 波鞋/运动鞋</label></dd>
<dd><label><input type="checkbox" owkey='6' name="slipper" <eq name="con.slipper" value='1'>checked</eq> value="1"/> 拖鞋/家居鞋</label></dd>
<dd><label><input type="checkbox" owkey='6' name="workshoes" <eq name="con.workshoes" value='1'>checked</eq> value="1"/> 功能鞋/工作鞋</label></dd>
</dl>
<dl>
<dt>童装产品</dt>
<dd class="unlimi"><label subkey='unlimi' unkey='7' class="on">不限</label></dd>
<dd><label><input type="checkbox" owkey='7' name="midchild" <eq name="con.midchild" value='1'>checked</eq> value="1"/> 中童</label></dd>
<dd><label><input type="checkbox" owkey='7' name="youngchild" <eq name="con.youngchild" value='1'>checked</eq> value="1" /> 幼童</label></dd>
<dd><label><input type="checkbox" owkey='7' name="cartoon" <eq name="con.cartoon" value='1'>checked</eq> value="1"/> 卡通</label></dd>
<dd><label><input type="checkbox" owkey='7' name="fairy" <eq name="con.fairy" value='1'>checked</eq> value="1"/> 童话故事</label></dd>
</dl>
<dl>
<dt>商标特点</dt>
<dd class="unlimi"><label subkey='unlimi' unkey='8' class="on">不限</label></dd>
<dd class="o1"><label><input type="checkbox" owkey='8' name="foreign" <eq name="con.foreign" value='1'>checked</eq> value="1"/> 有外文商标（除英文外）</label></dd>
<dd class="o1"><label><input type="checkbox" owkey='8'  name="story" <eq name="con.story" value='1'>checked</eq> value="1"/> 有商标故事</label></dd>
<dd class="o1"><label><input type="checkbox" owkey='8' name="tophigh" <eq name="con.tophigh" value='1'>checked</eq> value="1"/> 跟国际大牌商标擦边</label></dd>
<dd class="o1"><label><input type="checkbox" owkey='8' name="common" <eq name="con.common" value='1'>checked</eq> value="1"/> 跟有名的商标擦边</label></dd>
</dl>
<div class="clear"></div>
<p><input type="button" name="Submit" value="确定" subkey='25lei' class="btn" onclick="closeDiv('fzPop')" /></p>
</ul>
</div>
</div>
<!--25类条件 end-->
<!-- ----这里----- -->
<div class="header">
<div id="site-nav">
<ul class="leftsite">
<include file="public/usersession" />
</ul>
<ul class="quick-menu">
<li><a href="/">首页</a></li>
<li><a href="{:U('Index/quality')}">精品商标</a></li>
<li><a href="{:U('Index/search')}">商标搜索</a></li>
<li><a href="{:U('Index/sblist')}">商标分类</a></li>
<li><a href="{:U('Index/tmclass',array('id'=>25))}">服装商标</a></li>
<li class="phone">400-888-1139</li>
</ul>
</div>
</div>

<div class="mainbox">
<div class="fullTabox">
<div class="title">
<dl>
<dt class="hover"><span id='category_text'>{$category_text | default='未选择商标分类'}</span> <span class="slipbox" data-kone="b1"><a href="###">重新选择商标类型</a>
<div class="slipmore" style='display:none'>
<div class="mold">
<h4>请选择商标类型</h4>
<ul>
<volist name='sblist' id='vo' >
<php>
	$checked=(in_array($key,explode(',',$con['category'])))?'checked="checked"':'';
</php>
<eq name='key' value='25' >
<label><input  checkedkey='cate' type="checkbox" name="category[]" value="{$key}" {$checked}/> <span>第25类</span></label>
<else />
<label><input checkedkey='cate' type="checkbox" name="category[]" value="{$key}" {$checked}/>第{$key}类</label>
</eq>
</volist>
</ul>
<div class="clear"></div>
<p><input type="submit" name="Submit" value="确定" class="sbtn" /></p>
</div>
</div>
</span></dt>
<div class="clear"></div>
</dl>
</div>
<div class="clear"></div>
<div class="contable" style="display:block;">
<ul>
<dl>
<dt>关键字</dt>
<dd>
<input type="text" value="{$con.content|default='中文/英文/注册号/ID号'}" name='content' class="ipt2" onfocus="if(this.value==this.attributes.attr_val.value)this.value='';" onblur="if(!this.value)this.value=this.attributes.attr_val.value;" attr_val="中文/英文/注册号/ID号"/>
<dfn><label><input type="checkbox"  name='before'<eq name="con.before" value='1'>checked</eq> value="1"/> 前包含</label></dfn>
<dfn><label><input type="checkbox" name='middle' value="1" <eq name="con.middle" value='1'>checked</eq>/> 任意包含</label></dfn>
<dfn><label><input type="checkbox"  name='end' value='1' <eq name="con.end" value='1'>checked</eq>  /> 结尾包含</label></dfn>
<dfn><label><input type="checkbox" name='like' value="1"  <eq name="con.like" value='1'>checked</eq> /> 包含近似商标</label></dfn>
</dd>
<div class="clear"></div>
</dl>
<dl>
<dt>商标类型</dt>
<dd class="m1">
<div>
<ul id="jDropDown">
<li><a id='sbtype' href="#">商标类型（中文/英文/图形/数字）</a>
<div class="column_3">
<div class="column">
<ul>
<li><label><input type="checkbox" name='chun_ch' key='1' value="1" <eq name="con.chun_ch" value='1'>checked</eq>/>纯中文</label></li>
<li><label><input type="checkbox" name='chun_en' <eq name="con.chun_en" value='1'>checked</eq> key='1' value="1" />纯英文</label></li>
<li><label><input type="checkbox" <eq name="con.chun_tx" value='1'>checked</eq> name='chun_tx' key='1' value="1" />纯图形</label></li>
<li><label><input type="checkbox" <eq name="con.chun_num" value='1'>checked</eq> key='1' name='chun_num' value="1"/>纯数字</label></li>
<li><label><input type="checkbox" key='2' name='chinese' <eq name="con.chinese" value='1'>checked</eq> value='1' />包含中文</label></li>
<li><label><input type="checkbox" key='2'  name='english' <eq name="con.english" value='1'>checked</eq> value='1' />包含英文</label></li>
<li><label><input type="checkbox" key='2' <eq name="con.tuxing" value='1'>checked</eq>  name='tuxing' value='1'/>包含图形</label></li>
<li><label><input type="checkbox" key='2' <eq name="con.numbers" value='1'>checked</eq>  name='numbers' value='1' />包含数字</label></li>
</ul>
</div>
</div>
</li>
<li><a id='ch_num' href="#" style='display:none;'></a>
<div class="column_3">
<div class="column">
<ul>
<php>
                $hz_arr=array('1个汉字'=>'1,1','2个汉字'=>'2,2','3个汉字'=>'3,3','4个汉字'=>'4,999');
                $con['ch_num']=explode(',', $con['ch_num']);
                $con['ch_num'][1]=$con['ch_num'][0];
                if($con['ch_num'][0]==4){
                    $con['ch_num'][1]=999;
                }
                $con['ch_num']=join(',',$con['ch_num']);
            </php>
<volist name='hz_arr' id='vo'><php>$checked=($con['ch_num']==$vo)?'checked':'';</php>
<li><label><input type="radio" name="ch_num" owkey='9' value="{$vo}" {$checked}/>{$key}</label></li>
</volist>
<li><label><input type="checkbox"  name="hzall" value='1' <eq name="con.hzall" value='1'>checked</eq>/>包含所选及以上</label></li>
</ul>
</div>
</div>
</li>
<li><a id='en_num' href="#" style='display:none;'></a>
<div class="column_3">
<div class="column">
<ul>
<php>
                $zm_arr=array('1个字母'=>'1,1','2个字母'=>'2,2','3个字母'=>'3,3','4个字母'=>'4,4','5个字母'=>'5,5','6个字母'=>'6,6','7个字母'=>'7,7','8个字母'=>'8,999');
                $con['en_num']=explode(',', $con['en_num']);
                $con['en_num'][1]=$con['en_num'][0];
                if($con['en_num'][0]==4){
                    $con['en_num'][1]=999;
                }
                $con['en_num']=join(',',$con['en_num']);
            </php>
<volist name='zm_arr' id='vo'><php>$checked=($con['en_num']==$vo)?'checked':'';</php>
<li><label><input type="radio" owkey='10' name="en_num" value="{$vo}" {$checked}/>{$key}</label></li>
</volist> 
<li><label><input type="checkbox"  name="zmall" value='1' <eq name="con.zmall" value='1'>checked</eq>/>包含所选及以上</label></li>
</ul>
</div>
</div>
</li>
<li><a id='regdate' href="#"></a>
<div class="column_3">
<div class="column">
<ul>
<php>
                $zc_arr=array('已注册1年以下'=>'0,1','已注册1年以上'=>'1,999','已注册2年以上'=>'2,999','已注册3年以上'=>'3,999','已注册4年以上'=>'4,999','已注册5年以上'=>'5,999');
            </php>
<volist name='zc_arr' id='vo'><php>$checked=($con['regdate']==$vo)?'checked':'';</php>
<li><label><input  type="radio" name="regdate" owkey='11' value="{$vo}" {$checked}/>{$key}</label></li>
</volist>

</ul>
</div>
</div>
</li>
</ul>
</div>
</dd>
</dl>

<dl>
<dt>查询内容</dt>
<dd class="m3">查询内容：
<input type="text" name='25code' value="{$con.25code|default='请输入商标图形编码'}" onfocus="if(this.value==this.attributes.attr_val.value)this.value='';" onblur="if(!this.value)this.value=this.attributes.attr_val.value;" attr_val="请输入商标图形编码" class="ipt2"/>
<a href="##" class="blue" onclick="showDiv('graphicPop')">选择图形编码</a>
<!-- </dd>
 <dd>定义群组：
<i>2501</i><i>2502</i><i>2503</i>... <a href="##" class="blue" onclick="showDiv('groupPop')">选择群组</a>
</dd>-->
<dd class="m3">定义群组/服务：
<span id='25sag'><i>暂无定义</i></span><a href="##" class="blue" onclick="showDiv('groupPop')">选择群组</a>
</dd>
</dl>
<dl class="cloth" id="more50" style="display:none;">
<dt>25类商标</dt>
<dd class="m2"><span id='25lei_text'><i>暂无选择条件</i></span> <a href="##" class="blue" onclick="showDiv('fzPop')">重新选择搜索条件</a>
</dd>
</dl>
<div class="clear"></div>
</ul>
<p class="btm"><input type="submit" name="Submit" value="提交&#13;&#10;搜索" class="btn" />
<a href="{:U('Index/funsearch')}">清空所有条件</a>
</p>
<div class="clear"></div>
</div>
</div>
<div class="clear"></div>
</div>
</form>




<div id="fullbox">
<!--查询结果列表-->
<div class="fullres">
<h4>商标展示<span style='margin-left:10px;font-size:80%'>共<strong style='color:red'>{$count|default=0}</strong>个商标</span><a href="<php>$url=U('Index/search?skey='.$_GET['skey']);echo $url;</php>">返回正常浏览</a></h4>
<div class="clear"></div>
<ul>
<volist name='info' id='vo'>
<li><span class="slipbox" data-kone="c"><a href="<php>$urlname='Index/tmdetail?id='.$vo["tm_id"];echo U($urlname);</php>" title="{$vo.tm_name}" target="_blank"><img src="<eq name='vo.is_fine' value='1'>{:C('PIC9')}/{$vo.tm_id}<else />{:C('PIC4')}/{$vo.tm_id}</eq>" /></a>
<p><a href="<php>$urlname='Index/tmdetail?id='.$vo["tm_id"];echo U($urlname);</php>" title="{$vo.tm_name}" class="title" target="_blank">{$vo.tm_name}</a></p>
</span>
</li>
</volist>
</ul>
</div>
<!--查询结果列表 end-->

<!--分页-->
{$page}
</div>
<!--分页 end-->
</div>
<div class="clear"></div>

<script type="text/javascript" src="{:C('HTMLPATH')}js/jquery-layer.js"></script>
<script type="text/javascript" src="{:C('HTMLPATH')}js/leftmenu.js"></script>

<!--背景层-->
<div id="bg" class="bg" style="display:none;"></div>
<iframe id="popIframe" class="popIframe" frameborder="0" ></iframe>
<!--背景层-->
</body>
</html>