<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$tmpl_keywords}</title>
<meta name="Keywords" content="{$tmpl_keywords}" />
<meta name="Description" content="{$tmpl_description}" />
<script type="text/javascript" src="{:C('HTMLPATH')}js/jquery-1.7.1.js"></script>
</head>
<body>
<div style="text-align:center;">
	<h1>测试页面</h1>
</div>
<div>
	<p>{$value}</p>
</div>
<script>
</script>
<script type="text/javascript">
	function getId(id){
		$('#singleid').val(id);
	}
	function select_all(){
		$('.filebox ul input[name="ids[]"]').attr('checked','checked');
	}
	

	$(function(){
		//alert('a');
	});
	
</script>

</body>
</html>