<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>商标转让_服装商标转让_《华唯商标转让》 - 全国最大、最全的商标转让网</title>
<meta name="Keywords" content="商标转让,商标买卖,服装商标,商标交易,品牌转让" />
<meta name="Description" content="华唯商标转让网,全国最大、最全且更新最快的商标转让网站,最权威商标转让机构, 十年专业经验,服装,鞋商标转让量全国最大,北京,杭州,广州直属公司,打开网站！在线咨询！" />
<link rel="stylesheet" href="../css/main.css">
<link rel="stylesheet" href="../css/service.css">
</head>

<body>
<div class="s_head">
<div class="logo">
<h1><a href="http://www.hw-tm.cn" target="_blank" title="华唯商标转让网">华唯商标转让网</a></h1>
</div>
<div class="phone">
<p></p>
<p>您好，blues.liang, 欢迎来到华唯商标网! [ <a href="../member/personInfo.html" class="red">我的会员中心</a> ] [ <a href="../member/register.html">免费注册</a> ] [ <a href="../member/login.html">会员登录</a> ] [ <a href="../member/login.html">退出</a> ] | <a href="about.html" target="_blank">联系我们</a> | <a href="help.html" target="_blank">帮助中心</a> | <a href="duty.html" target="_blank">详细值班表</a></p>
<p><span>7*24小时服务热线：</span><strong>400-888-1139</strong></p>
</div>
<div class="clear"></div>
<div class="nav">
<a href="../index.html">首页</a><a href="../good/tmList.html">精品商标</a><a href="../tmClass/tmSearch.html">商标搜索</a><a href="../tmClass/tmClassification.html">商标分类</a><a href="../fuzhuang/fzList.html">服装商标</a><a href="../tmRegHome/tmIndex.html">国内商标注册</a><a href="../tmRegInter/tmIndex.html">国外商标注册</a><a href="../tradeTm/tradeIndex.html">商品/服务分类表</a><a href="../tmClass/interTm.html">国际商标转让</a><a href="../tmClass/permisTm.html">许可商标</a>
</div>
<div class="adbox"><img src="../images/banner1.jpg" /></div>
<div class="clear"></div>
</div>

<div class="s_main">
<div class="s_leftbox">
<ul>
<li><a href="about.html">关于华唯</a></li>
<li><a href="scope.html">业务范围</a></li>
<li><a href="tmNews.html">新闻资讯</a></li>
<li><a href="duty.html">详细值班表</a></li>
<li><a href="case.html">成功案例</a></li>
<li><a href="purchase.html">求购信息</a></li>
<li><a href="joinUs.html">加盟合作</a></li>
<li><a href="copyright.html">版权声明</a></li>
<li><a href="clause.html" class="on">服务条款</a></li>
<li><a href="law.html">法律声明</a></li>
<li><a href="contact.html">联系我们</a></li>
<li><a href="recruit.html">诚聘英才</a></li>
<li><a href="sitemap.html">网站地图</a></li>
<li><a href="help.html">帮助中心</a></li>
</ul>
</div>

<div class="s_rightbox">
<div class="crumbs">您所在的位置：<a href="../index.html">首页</a> &gt; <a href="about.html">关于华唯</a> &gt; 服务条款</div>
<ul>
<h2>服务条款</h2>
<p>本服务协议内容包括协议正文及华唯商标转让网已经发布的或将来可能发布的各类规则。所有规则为协议不可分割的一部分，与协议正文具有同等法律效力。</p>
<p>用户在使用华唯商标转让网提供的各项服务的同时，承诺接受并遵守各项相关规则的规定。华唯商标转让网有权根据需要进一步制定、修改本协议或各类规则，如本协议有任何变更，华唯商标转让网将在网站上刊载公告，通知予用户。如用户不同意相关变更，必须停止使用“服务”。经修订的协议一经在华唯商标转让网公布后，立即自动生效。各类规则会在发布后生效，亦成为本协议的一部分。登录或继续使用“服务”将表示用户接受经修订的协议。除另行明确声明外，任何使“服务”范围扩大或功能增强的新内容均受本协议约束。</p>
<p>用户确认本服务协议后，本服务协议即在用户和华唯商标转让网之间产生法律效力。请用户务必在注册之前认真阅读全部服务协议内容，如有任何疑问，可向华唯商标转让网咨询。</p>
<p>（1）无论用户事实上是否在注册之前认真阅读了本服务协议，只要用户点击协议正本下方的“确认”按钮并按照华唯商标转让网注册程序成功注册为用户，用户的行为仍然表示其同意并签署了本服务协议。<br />
（2）本协议不涉及用户与华唯商标转让网其它用户之间因网上交易而产生的法律关系及法律纠纷。</p>
<p><b>一、定义</b></p>
<p>“华唯商标转让网”表示华唯商标转让网及其实体公司－北京华唯环球国际知识产权代理有限公司。用户必须是具备完全民事行为能力的自然人，或者是具有合法经营资格的实体组织。无民事行为能力人、限制民事行为能力人以及无经营或特定经营资格的组织不当注册为华唯商标转让网用户或超过其民事权利或行为能力范围从事交易的，其与华唯商标转让网之间的服务协议自始无效，华唯商标转让网一经发现，有权立即注销该用户，并追究其使用华唯商标转让网“服务”的一切法律责任。</p>
<p><b>二、注册用户享有的权利</b></p>
<p>（一）一般权利：<br />
用户有权利拥有自己在华唯商标转让网的用户名及密码，并有权利使用自己的用户名及密码随时登陆华唯商标转让网交易平台。<br />
1.免费浏览知识产权最新资讯<br />
2.免费查询相关法律法规、格式合同<br />
3.免费咨询专家相关问题<br />
4.参与知识产权交易论坛服务</p>
<p>（二）卖家权利：<br />
1.上传商标<br />
2.委托华唯商标转让网出售商标<br />
3.在华唯商标转让网竞拍区拍卖商标<br />
4.委托华唯商标转让网办理商标交易手续<br />
5.发生法律纠纷，申请专业律师提供法律帮助</p>
<p>（三）买家权利：<br />
1.发布商标需求信息<br />
2.委托华唯商标转让网购买商标<br />
3.委托华唯商标转让网办理商标交易手续<br />
4.发生法律纠纷，申请专业律师提供法律帮助</p>
<p><b>三、注册用户承担义务</b></p>
<p>1.按要求填写注册信息；用户不得以任何形式擅自转让或授权他人使用自己的华唯商标转让网用户名；<br />
2.其所填写的电子邮件地址、联系电话、联系地址、邮政编码等联系方式真实、准确，确保华唯商标转让网和其他用户能与其及时联系，联系方式变更的，应当及时更新；<br />
3.需要办理实名认证时，应如实上传身份证件（营业执照），禁止冒用他人证件；<br />
4.保证其享有转让、许可使用该知识产权的权利；<br />
5.保证其转让、许可使用的知识产权真实、合法、有效，并且不侵犯他人的知识产权和其他民事权利；<br />
6.保证遵守中华人民共和国的著作权法、商标法、专利法等知识产权法律法规；<br />
7.不得实施对他人的知识产权进行恶意评价、抵毁他人商誉等其他不正当竞争行为；<br />
8.不得在华唯商标转让网上发布违法言论；<br />
9.不对华唯商标转让网上任何数据作商业性利用，包括但不限于在未经华唯商标转让网事先书面批准的情况下，以复制、传播等方式使用在华唯商标转让网站上展示的任何资料。<br />
10.注册用户违反上述规定而导致本交易中心或其他用户损害的，应当承担相应的法律责任。</p>
<p><b>四、华唯商标转让网的权利、义务、责任</b></p>
<p>（一）华唯商标转让网的权利和责任</p>
<p>1.对于用户在华唯商标转让网上交易平台上的不当行为或其它任何华唯商标转让网认为应当终止服务的情况，华唯商标转让网有权随时作出删除相关信息、终止服务提供等处理，而无须征得用户的同意；</p>
<p>2.因网上交易平台的特殊性，华唯商标转让网没有义务对所有用户的注册数据、所有的交易行为以及与交易有关的其它事项进行事先审查，但如存在下列情况：</p>
<p>（1）用户或其它第三方通知华唯商标转让网，认为某个具体用户或具体交易事项可能存在重大问题；<br />
（2）用户或其它第三方向华唯商标转让网告知交易平台上有违法或不当行为的，华唯商标转让网以普通非专业交易者的知识水平标准对相关内容进行判别，可以明显认为这些内容或行为具有违法或不当性质的；<br />
华唯商标转让网有权根据不同情况选择保留或删除相关信息或继续、停止对该用户提供服务，并追究相关法律责任。</p>
<p>3. 华唯商标转让网有权对用户的注册数据及交易行为进行查阅，发现注册数据或交易行为中存在任何问题或怀疑，均有权向用户发出询问及要求改正的通知或者直接作出删除等处理；</p>
<p>4.经国家生效法律文书或行政处罚决定确认用户存在违法行为，或者华唯商标转让网有足够事实依据可以认定用户存在违法或违反服务协议行为的，华唯商标转让网有权在华唯商标转让网交易平台及所在网站上以网络发布形式公布用户的违法行为；</p>
<p>5.对于用户在华唯商标转让网平台发布的下列各类信息，华唯商标转让网有权在不通知用户的前提下进行删除或采取其它限制性措施，包括但不限于以规避费用为目的的信息；以炒作信用为目的的信息；华唯商标转让网有理由相信存在欺诈等恶意或虚假内容的信息；华唯商标转让网有理由相信与网上交易无关或不是以交易为目的的信息；华唯商标转让网有理由相信存在恶意竞价或其它试图扰乱正常交易秩序因素的信息；华唯商标转让网有理由相信该信息违反公共利益或可能严重损害华唯商标转让网和其它用户合法利益的；</p>
<p>6.用户以此授予华唯商标转让网独家的、全球通用的、永久的、免费的许可使用权利 (并有权对该权利进行再授权)，使华唯商标转让网有权(全部或部份地) 使用、复制、修订、改写、发布、翻译、分发、执行和展示用户公示于网站的各类信息或制作其派生作品，和/或以现在已知或日后开发的任何形式、媒体或技术，将上述信息纳入其它作品内；</p>
<p>7. 华唯商标转让网会在用户的计算机上设定或取用华唯商标转让网cookies. 华唯商标转让网允许那些在华唯商标转让网页上发布广告的公司到用户计算机上设定或取用cookies.在用户登录时获取数据，华唯商标转让网使用cookies可为用户提供个性化服务。如果拒绝所有cookies，用户将不能使用需要登录的华唯商标转让网产品及服务内容。</p>
<p>8. 华唯商标转让网不对因下述任一情况而导致的任何损害赔偿承担责任，包括但不限于利润、商誉、使用、数据等方面的损失或其它无形损失的损害赔偿 (无论华唯商标转让网是否已被告知该等损害赔偿的可能性)：</p>
<p>（1）第三方未经批准的接入或第三方更改用户的传输数据或数据；<br />
（2）第三方对“服务”的声明或关于“服务”的行为；或非因华唯商标转让网的原因而引起的与“服务”有关的任何其它事宜，包括疏忽。<br />
如因其违反有关法律或者本协议之规定，使华唯商标转让网遭受任何损失，受到任何第三方的索赔，或任何行政管理部门的处罚，用户应对华唯商标转让网提供补偿，包括合理的律师费用。</p>
<p>（二）华唯商标转让网的义务</p>
<p>1. 华唯商标转让网有义务在现有技术上维护整个网上交易平台的正常运行，并努力提升和改进技术，使用户网上交易活动得以顺利进行；<br />
2.对用户在注册使用华唯商标转让网上交易平台中所遇到的与交易或注册有关的问题及反映的情况，华唯商标转让网应及时作出回复；<br />
3.用户因在华唯商标转让网上交易与其它用户产生诉讼的，用户通过司法部门或行政部门依照法定程序要求华唯商标转让网提供相关数据，华唯商标转让网应积极配合并提供有关资料；</p>
<p><b>五、服务的中断和终止</b></p>
<p>用户同意，在华唯商标转让网未向用户收取服务费的情况下，华唯商标转让网可自行全权决定以任何理由 (包括但不限于华唯商标转让网认为用户已违反本协议的字面意义和精神，或以不符合本协议的方式行事，或用户在超过90天的时间内未以用户的账号及密码登录网站等) 终止用户的“服务”密码、账户 (或其任何部份) 或用户对“服务”的使用，并删除（不再保存）用户在使用“服务”中提交的任何资料。同时华唯商标转让网可自行全权决定，在发出通知或不发出通知的情况下，随时停止提供“服务”或其任何部份。账号终止后，华唯商标转让网没有义务为用户保留原账号中或与之相关的任何信息，或转发任何未曾阅读或发送的信息给用户或第三方。此外，用户同意，华唯商标转让网不就终止用户接入“服务”而对用户或任何第三者承担任何责任；</p>
<p>如用户向华唯商标转让网提出注销华唯商标转让网注册用户身份时，经华唯商标转让网审核同意，由华唯商标转让网注销该注册用户，用户即解除与华唯商标转让网的服务协议关系。但注销该用户账号后，华唯商标转让网仍保留下列权利：</p>
<p>（1）用户注销后，华唯商标转让网有权保留该用户的注册数据及以前的交易行为记录。<br />
（2）用户注销后，如用户在注销前在华唯商标转让网交易平台上存在违法行为或违约行为，华唯商标转让网仍可行使本协议规定的权利；</p>
<p><b>在下列情况下，华唯商标转让网可以通过注销用户的方式终止服务：</b></p>
<p>1.在用户违反本协议相关规定时，华唯商标转让网有权终止向该用户提供服务。华唯商标转让网将在中断服务时通知用户。但如该用户在被华唯商标转让网终止提供服务后，再一次直接或间接或以他人名义注册为华唯商标转让网用户的，华唯商标转让网有权再次单方面终止向该用户提供服务；</p>
<p>2.如华唯商标转让网通过用户提供的信息与用户联系时，发现用户在注册时填写的电子邮箱已不存在或无法接收电子邮件的，经华唯商标转让网以其它联系方式通知用户更改，而用户在三个工作日内仍未能提供新的电子邮箱地址的，华唯商标转让网有权终止向该用户提供服务；</p>
<p>3.一旦华唯商标转让网发现用户注册数据中主要内容是虚假的，华唯商标转让网有权随时终止向该用户提供服务；</p>
<p>4.本服务协议终止或更新时，用户明示不愿接受新的服务协议的；</p>
<p>5.其它华唯商标转让网认为需终止服务的情况。</p>
<p>服务中断、终止之前用户交易行为的处理因用户违反法律法规或者违反服务协议规定而致使华唯商标转让网中断、终止对用户服务的，对于服务中断、终止之前用户交易行为依下列原则处理：</p>
<p>（1）服务中断、终止之前，用户已经上传至华唯商标转让网的知识产权尚未交易或尚未交易完成的，华唯商标转让网有权在中断、终止服务的同时删除此项知识产权的相关信息；<br />
（2）服务中断、终止之前，用户已经就其它用户出售的具体知识产权作出要约，但交易尚未结束，华唯商标转让网有权在中断或终止服务的同时删除该用户的相关要约；<br />
（3）服务中断、终止之前，用户已经与另一用户就具体交易达成一致，华唯商标转让网可以不删除该项交易，但华唯商标转让网有权在中断、终止服务的同时将用户被中断或终止服务的情况通知用户的交易对方。</p>
</ul>
</div>
<div class="clear"></div>
</div>

<!--底部-->
<div id="footer">
<div class="fonbox">
<div class="contact">
<h2><em>非工作时间也可以直接拨打手机热线：<strong>13360007519</strong><strong>13366415310</strong></em><b>24小时服务热线：400-888-1139</b></h2>
<ul>
<li class="phone"><h3>北京电话（仅办理手续）：</h3>010-62218730（三线）、62215195</li>
<li class="phone"><h3>广州电话（询价及办理手续）：</h3>020-38819075、38866371、38690351、38810791、38866172、38808153、38807996、38813114、38846890、38817890</li>
<li class="phone"><h3>杭州电话(仅办理手续）：</h3>0571-56278880（三线）、87850793</li>
<li class="phone"><h3>香港电话：</h3>00852-30788896 00852-30789989</li>
<li class="site"><h3>北京地址：</h3>北京市丰台区广安路9号院国投财富广场(4号楼)306 邮编：100073</li>
<li class="site"><h3>广州地址：</h3>广州市天河区体育西路111号建和中心29层（全层）邮编：510620</li>
<li class="site"><h3>杭州地址：</h3>杭州市下城区凤起路139号1栋202 邮编：310003</li>
<li class="site"><h3>香港地址：</h3>香港湾仔轩尼诗道289-295号朱钧记商业中心16楼</li>
</ul>
</div>
<div class="clear"></div>
<div class="copyright">
<p><em><a href="about.html" target="_blank">关于我们</a></em> | <em><a href="tmNews.html" target="_blank">新闻资讯</a></em> | <em><a href="recruit.html" target="_blank">诚聘英才</a></em> | <em><a href="copyright.html" target="_blank">版权声明</a></em> | <em><a href="clause.html" target="_blank">服务条款</a></em> | <em><a href="law.html" target="_blank">法律声明</a></em> | <em><a href="help.html" target="_blank">帮助中心</a></em> | <em><a href="contact.html" target="_blank">联系我们</a></em> | <em><a href="sitemap.html" target="_blank">网站地图</a></em></p></a></em></p>
<p>商标转让广州中唯公司、杭州华唯知识产权　@北京华唯环球国际 <a href="http://www.miitbeian.gov.cn" target="_blank">粤ICP备13062556号-7</a></p>
<p>总部：华唯环球（武汉）科技有限公司　　电话：400-888-1139</p>
</div>
</div>
</div>
<!--底部 end-->

</body>
</html>