<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>商标转让_服装商标转让_《华唯商标转让》 - 全国最大、最全的商标转让网</title>
<meta name="Keywords" content="商标转让,商标买卖,服装商标,商标交易,品牌转让" />
<meta name="Description" content="华唯商标转让网,全国最大、最全且更新最快的商标转让网站,最权威商标转让机构, 十年专业经验,服装,鞋商标转让量全国最大,北京,杭州,广州直属公司,打开网站！在线咨询！" />
<link rel="stylesheet" href="../css/main.css">
<link rel="stylesheet" href="../css/service.css">
<script type="text/javascript" src="../js/jquery-1.7.1.js"></script>
<script type="text/javascript" src="../js/jquery1.3.2.js"></script>
<script type="text/javascript" src="../js/common.js"></script>
</head>

<body>
<div class="s_head">
<div class="logo">
<h1><a href="http://www.hw-tm.cn" target="_blank" title="华唯商标转让网">华唯商标转让网</a></h1>
</div>
<div class="phone">
<p></p>
<p>您好，blues.liang, 欢迎来到华唯商标网! [ <a href="../member/personInfo.html" class="red">我的会员中心</a> ] [ <a href="../member/register.html">免费注册</a> ] [ <a href="../member/login.html">会员登录</a> ] [ <a href="../member/login.html">退出</a> ] | <a href="about.html" target="_blank">联系我们</a> | <a href="help.html" target="_blank">帮助中心</a> | <a href="duty.html" target="_blank">详细值班表</a></p>
<p><span>7*24小时服务热线：</span><strong>400-888-1139</strong></p>
</div>
<div class="clear"></div>
<div class="nav">
<a href="../index.html">首页</a><a href="../good/tmList.html">精品商标</a><a href="../tmClass/tmSearch.html">商标搜索</a><a href="../tmClass/tmClassification.html">商标分类</a><a href="../fuzhuang/fzList.html">服装商标</a><a href="../tmRegHome/tmIndex.html">国内商标注册</a><a href="../tmRegInter/tmIndex.html">国外商标注册</a><a href="../tradeTm/tradeIndex.html">商品/服务分类表</a><a href="../tmClass/interTm.html">国际商标转让</a><a href="../tmClass/permisTm.html">许可商标</a>
</div>
<div class="adbox"><img src="../images/banner1.jpg" /></div>
<div class="clear"></div>
</div>

<div class="s_main">
<div class="s_leftbox">
<ul>
<li><a href="about.html">关于华唯</a></li>
<li><a href="scope.html">业务范围</a></li>
<li><a href="tmNews.html">新闻资讯</a></li>
<li><a href="duty.html">详细值班表</a></li>
<li><a href="case.html">成功案例</a></li>
<li><a href="purchase.html">求购信息</a></li>
<li><a href="joinUs.html">加盟合作</a></li>
<li><a href="copyright.html">版权声明</a></li>
<li><a href="clause.html">服务条款</a></li>
<li><a href="law.html">法律声明</a></li>
<li><a href="contact.html">联系我们</a></li>
<li><a href="recruit.html">诚聘英才</a></li>
<li><a href="sitemap.html">网站地图</a></li>
<li><a href="help.html" class="on">帮助中心</a></li>
</ul>
</div>

<div class="s_rightbox">
<div class="crumbs">您所在的位置：<a href="../index.html">首页</a> &gt; <a href="about.html">关于华唯</a> &gt; <a href="help.html">帮助中心</a> &gt; 商标文书下载</div>
<ul>
<div class="subnav">
<a href="help.html">常见问题</a><a href="buyhelp.html">买家帮助</a><a href="sellhelp.html">卖家帮助</a><a href="notice.html">交易须知</a><a href="download.html" class="on">商标文书下载</a>
<div class="clear"></div>
</div>
<h2>商标文书下载专区</h2>
<dl class="download">
<a href="download/sbdlwts.doc" target="_blank">商标代理委托书</a>
<a href="download/bgsbdlrsqs.doc" target="_blank">变更商标代理人申请书</a>
<a href="download/sbzcsqs.doc" target="_blank">商标注册申请书</a>
<a href="download/sbzcsqs2.doc" target="_blank">商标注册申请书式（外）</a>
<a href="download/sbzxsqs.doc" target="_blank">商标注销申请书</a>
<a href="download/chsbyysqsqs.doc" target="_blank">撤回商标异议申请申请书</a>
<a href="download/sbyysqs.doc" target="_blank">商标异议申请书</a>
<a href="download/chsbzcsqsqs.doc" target="_blank">撤回商标注册申请申请书</a>
<a href="download/zrzcsbsqs.doc" target="_blank">转让注册商标申请书</a>
<a href="download/chzcsbfssqs.doc" target="_blank">撤销注册商标复审申请书</a>
<a href="download/tsbzdjsqs.doc" target="_blank">特殊标志登记申请书</a>
<a href="download/gzhshb.doc" target="_blank">更正商标申请/注册事项申请书</a>
<a href="download/tgsbzczmsqs.doc" target="_blank">提供商标注册证明申请书</a>
<a href="download/sjsb_fwxmsqs.doc" target="_blank">删减商品_服务项目申请书</a>
<a href="download/sbyyfhsqs.doc" target="_blank">商标异议复审申请书</a>
<a href="download/sbpsdlwts.doc" target="_blank">商标评审代理委托书</a>
<a href="download/yyfs.doc" target="_blank">商标复审申请书</a>
<a href="download/sbqzyht.doc" target="_blank">商标权质押合同</a>
<a href="download/zcsbzycdsqs.doc" target="_blank">注册商标争议裁定申请书</a>
<a href="download/sbsyxkhtbasqs.doc" target="_blank">商标使用许可合同备案申请书</a>
<a href="download/sbxzzcsqs.doc" target="_blank">商标续展注册申请书</a>
<a href="download/sbzyqzydjsqs.doc" target="_blank">商标专用权质押登记申请书</a>
<a href="download/cxlxsntzsyzcsbsqs.doc" target="_blank">撤销连续三年停止使用注册商标申请书</a>
<a href="download/sbsyxk.doc" target="_blank">商标使用许可合同备案变更_提前终止申请书</a>
<a href="download/bfbg_zr_xzzmsqs.doc" target="_blank">补发变更_转让_续展证明申请书</a>
<a href="download/bhsbzcsqfssqs.doc" target="_blank">驳回商标注册申请复审申请书</a>
<a href="download/bgsbsqrzcrmydzsqs.doc" target="_blank">变更商标申请人注册人名义地址申请书</a>
<a href="download/zcrsw_zzzxsbsqs.doc" target="_blank">注册人死亡_终止注销商标申请书</a>
<a href="download/tgyxqzmwjsqs.doc" target="_blank">提供优先权证明文件申请书</a>
<a href="download/chsbpssqs.doc" target="_blank">撤回商标评审申请书</a>
<a href="download/补正书.doc" target="_blank">补正书</a>
<a href="download/撤回优先权声明.doc" target="_blank">撤回优先权声明</a>
<a href="download/撤回专利申请声明.doc" target="_blank">撤回专利申请声明</a>
<a href="download/窗口递交文件回执.doc" target="_blank">窗口递交文件回执</a>
<a href="download/发明专利请求书.doc" target="_blank">发明专利请求书</a>
<a href="download/发明专利请求提前公布声明.doc" target="_blank">发明专利请求提前公布声明</a>
<a href="download/发明专利申请优先审查请求书.doc" target="_blank">发明专利申请优先审查请求书</a>
<a href="download/放弃专利权声明.doc" target="_blank">放弃专利权声明</a>
<a href="download/费用减缓请求书.doc" target="_blank">费用减缓请求书</a>
<a href="download/附页.doc" target="_blank">附页</a>
<a href="download/复审程序恢复专利权请求书.doc" target="_blank">复审程序恢复专利权请求书</a>
<a href="download/复审请求书.doc" target="_blank">复审请求书</a>
<a href="download/复审无效程序意见陈述书.doc" target="_blank">复审无效程序意见陈述书</a>
<a href="download/更正错误请求书.doc" target="_blank">更正错误请求书</a>
<a href="download/恢复权利请求书.doc" target="_blank">恢复权利请求书</a>
<a href="download/技术方案说明书.doc" target="_blank">技术方案说明书</a>
<a href="download/强制许可请求书.doc" target="_blank">强制许可请求书</a>
<a href="download/权利要求书.doc" target="_blank">权利要求书</a>
<a href="download/实用新型专利检索报告请求书.doc" target="_blank">实用新型专利检索报告请求书</a>
<a href="download/实用新型专利请求书.doc" target="_blank">实用新型专利请求书</a>
<a href="download/实质审查请求书.doc" target="_blank">实质审查请求书</a>
<a href="download/说明书.doc" target="_blank">说明书</a>
<a href="download/说明书附图.doc" target="_blank">说明书附图</a>
<a href="download/说明书摘要.doc" target="_blank">说明书摘要</a>
<a href="download/外观设计简要说明.doc" target="_blank">外观设计简要说明</a>
<a href="download/外观设计图片或照片.doc" target="_blank">外观设计图片或照片</a>
<a href="download/外观设计专利请求书.doc" target="_blank">外观设计专利请求书</a>
<a href="download/向外国申请专利保密审查请求书.doc" target="_blank">向外国申请专利保密审查请求书</a>
<a href="download/延长期限请求书.doc" target="_blank">延长期限请求书</a>
<a href="download/意见陈述书.doc" target="_blank">意见陈述书</a>
<a href="download/意见陈述书（关于费用）.doc" target="_blank">意见陈述书（关于费用）</a>
<a href="download/摘要附图.doc" target="_blank">摘要附图</a>
<a href="download/中止程序请求书.doc" target="_blank">中止程序请求书</a>
<a href="download/著录项目变更申报书.doc" target="_blank">著录项目变更申报书</a>
<a href="download/延长期限请求书.doc" target="_blank">专利代理委托书</a>
<a href="download/专利代理委托书.doc" target="_blank">专利代理委托书</a>
<a href="download/专利代理委托书（中英文）.doc" target="_blank">专利代理委托书（中英文）</a>
<a href="download/专利权评价报告请求书.doc" target="_blank">专利权评价报告请求书</a>
<a href="download/专利权无效宣告请求书.doc" target="_blank">专利权无效宣告请求书</a>
<a href="download/专利权质押合同文本.doc" target="_blank">专利权质押合同文本</a>
</dl>
</ul>
</div>
<div class="clear"></div>
</div>

<!--底部-->
<div id="footer">
<div class="fonbox">
<div class="contact">
<h2><em>非工作时间也可以直接拨打手机热线：<strong>13360007519</strong><strong>13366415310</strong></em><b>24小时服务热线：400-888-1139</b></h2>
<ul>
<li class="phone"><h3>北京电话（仅办理手续）：</h3>010-62218730（三线）、62215195</li>
<li class="phone"><h3>广州电话（询价及办理手续）：</h3>020-38819075、38866371、38690351、38810791、38866172、38808153、38807996、38813114、38846890、38817890</li>
<li class="phone"><h3>杭州电话(仅办理手续）：</h3>0571-56278880（三线）、87850793</li>
<li class="phone"><h3>香港电话：</h3>00852-30788896 00852-30789989</li>
<li class="site"><h3>北京地址：</h3>北京市丰台区广安路9号院国投财富广场(4号楼)306 邮编：100073</li>
<li class="site"><h3>广州地址：</h3>广州市天河区体育西路111号建和中心29层（全层）邮编：510620</li>
<li class="site"><h3>杭州地址：</h3>杭州市下城区凤起路139号1栋202 邮编：310003</li>
<li class="site"><h3>香港地址：</h3>香港湾仔轩尼诗道289-295号朱钧记商业中心16楼</li>
</ul>
</div>
<div class="clear"></div>
<div class="copyright">
<p><em><a href="about.html" target="_blank">关于我们</a></em> | <em><a href="tmNews.html" target="_blank">新闻资讯</a></em> | <em><a href="recruit.html" target="_blank">诚聘英才</a></em> | <em><a href="copyright.html" target="_blank">版权声明</a></em> | <em><a href="clause.html" target="_blank">服务条款</a></em> | <em><a href="law.html" target="_blank">法律声明</a></em> | <em><a href="help.html" target="_blank">帮助中心</a></em> | <em><a href="contact.html" target="_blank">联系我们</a></em> | <em><a href="sitemap.html" target="_blank">网站地图</a></em></p></a></em></p>
<p>商标转让广州中唯公司、杭州华唯知识产权　@北京华唯环球国际 <a href="http://www.miitbeian.gov.cn" target="_blank">粤ICP备13062556号-7</a></p>
<p>总部：华唯环球（武汉）科技有限公司　　电话：400-888-1139</p>
</div>
</div>
</div>
<!--底部 end-->

</body>
</html>