<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>商标转让_服装商标转让_《华唯商标转让》 - 全国最大、最全的商标转让网</title>
<meta name="Keywords" content="商标转让,商标买卖,服装商标,商标交易,品牌转让" />
<meta name="Description" content="华唯商标转让网,全国最大、最全且更新最快的商标转让网站,最权威商标转让机构, 十年专业经验,服装,鞋商标转让量全国最大,北京,杭州,广州直属公司,打开网站！在线咨询！" />
<link rel="stylesheet" href="../css/main.css">
<link rel="stylesheet" href="../css/service.css">
</head>

<body>
<div class="s_head">
<div class="logo">
<h1><a href="http://www.hw-tm.cn" target="_blank" title="华唯商标转让网">华唯商标转让网</a></h1>
</div>
<div class="phone">
<p></p>
<p>您好，blues.liang, 欢迎来到华唯商标网! [ <a href="../member/personInfo.html" class="red">我的会员中心</a> ] [ <a href="../member/register.html">免费注册</a> ] [ <a href="../member/login.html">会员登录</a> ] [ <a href="../member/login.html">退出</a> ] | <a href="about.html" target="_blank">联系我们</a> | <a href="help.html" target="_blank">帮助中心</a> | <a href="duty.html" target="_blank">详细值班表</a></p>
<p><span>7*24小时服务热线：</span><strong>400-888-1139</strong></p>
</div>
<div class="clear"></div>
<div class="nav">
<a href="../index.html">首页</a><a href="../good/tmList.html">精品商标</a><a href="../tmClass/tmSearch.html">商标搜索</a><a href="../tmClass/tmClassification.html">商标分类</a><a href="../fuzhuang/fzList.html">服装商标</a><a href="../tmRegHome/tmIndex.html">国内商标注册</a><a href="../tmRegInter/tmIndex.html">国外商标注册</a><a href="../tradeTm/tradeIndex.html">商品/服务分类表</a><a href="../tmClass/interTm.html">国际商标转让</a><a href="../tmClass/permisTm.html">许可商标</a>
</div>
<div class="adbox"><img src="../images/banner1.jpg" /></div>
<div class="clear"></div>
</div>

<div class="s_main">
<div class="s_leftbox">
<ul>
<li><a href="about.html">关于华唯</a></li>
<li><a href="scope.html">业务范围</a></li>
<li><a href="tmNews.html">新闻资讯</a></li>
<li><a href="duty.html">详细值班表</a></li>
<li><a href="case.html">成功案例</a></li>
<li><a href="purchase.html">求购信息</a></li>
<li><a href="joinUs.html">加盟合作</a></li>
<li><a href="copyright.html">版权声明</a></li>
<li><a href="clause.html">服务条款</a></li>
<li><a href="law.html" class="on">法律声明</a></li>
<li><a href="contact.html">联系我们</a></li>
<li><a href="recruit.html">诚聘英才</a></li>
<li><a href="sitemap.html">网站地图</a></li>
<li><a href="help.html">帮助中心</a></li>
</ul>
</div>

<div class="s_rightbox">
<div class="crumbs">您所在的位置：<a href="../index.html">首页</a> &gt; <a href="about.html">关于华唯</a> &gt; 法律声明</div>
<ul>
<h2>法律声明</h2>
<p><b>华唯商标转让网隐私保护</b></p>
<p>隐私权是您的重要权利。向我们提供您的个人信息是基于对我们的信任，相信我们会负责的态度对待您的个人信息。我们认为您提供的信息只能用于帮助我们为您提供更好的服务。因此，我们制定了华唯商标转让网网上个人信息保密制度以保护您的个人信息。我们的个人信息保密制度摘要如下：</p>
<p><b>我们收集哪类个人信息</b></p>
<p>通常，您能在匿名的状态下访问我们的网站并获取信息。在我们请求您提供有关信息之前，我们会解释这些信息的用途我们有些站点需要注册才能加入。在通常情况下，这类注册只要求您提供一个电子邮件地址和一些诸如您的工作，职务一类的基本信息。有时我们也会请您提供更多的信息。我们这样做是为了使我们更好的理解您的需求，以便向您提供有效的服务。我们站点收集的信息包括姓名，地址和电话号码。您有权随时决定不接受来自我们的任何资料。</p>
<p><b>保护您的隐私</b></p>
<p>我们将采取适当的步骤保护您的隐私。每当您提供给我们敏感信息时，我们将采取合理的步骤保护您的敏感信息，我们也将采取合理的安全手段保护已存储的个人信息。除非根据法律或政府的强制性规定，在未得到您的许可之前，我们不会把您的任何个人信息提供给无关的第三方（包括公司或个人）。但是，如果您要求我们提供特定客户支援服务或把一些物品送交给您，我们则需要把您的姓名和地址提供给第三者如快递公司。我们的网站将会提供第三者网站的链接。由于我们不能控制这些网站，所以我们建议您细阅这些第三者网站的个人信息保密制度。</p>
<p><b>隐私权原则</b></p>
<p>由于您的隐私权对我们而言是相当重要的，因此，公布这份隐私权声明的华唯商标转让网会根据下列五项原则管理涉及隐私的信息。</p>
<p><b>原则1</b></p>
<p>每当华唯商标转让网网需要识别您的身份或与您联络时，会明确的询问所需的资料，即个人资料。一般而言，当您在网站上注册，要求提供特别服务，或是如参加奖金竞赛，便会被询问到这项资料。可能的话，华唯商标转让网网会利用一些方法，确认您的个人资料的正确性与时效性。</p>
<p><>b原则2</p></p>
<p>华唯商标转让网及其必要的服务伙伴使用您的个人资料来运作网站和服务，并且会通知您各项新的功能与服务，以及华唯商标转让网网和其附属公司的各类产品。华唯商标转让网网也会谨慎地挑选来自其他公司的产品或服务资料传送给您，通常是有关于站点本身的服务，但对作业并非必要（次要用途）</p>
<p><b>原则3</b></p>
<p>如果华唯商标转让网网想要将个人资料用在次要用途上，华唯商标转让网会提供您如何拒绝这项服务的说明。您可以依照华唯商标转让网网寄给您的资料或促销信件上的说明，终止这些信件的发送。</p>
<p><b>原则4</b></p>
<p>华唯商标转让网网也许会因法律要求公开个人资料，或者因善意确信这样的作法对于下列各项有其必要性：</p>
<p>（1）符合法律公告或遵守适用于华唯商标转让网站点的合法程序；<br />
（2）保护华唯商标转让网网的用户之权利或财产；<br />
（3）在紧急的情况下，为了保护华唯商标转让网及其用户之个人或公众安全。</p>
<p><b>原则5</b></p>
<p>任何时候如果您认为华唯商标转让网没有遵守这些原则时，请利用电子邮件 <a href="mailto:ipsoon@gmail.com" target="_blank" class="blue">ipsoon@gmail.com</a> 通知我们，我们会尽一切努力，请合理适当的范围内立即改善这个问题。</p>
<p><b>Cookies的用途</b></p>
<p>华唯商标转让网有时会使用cookies以便我们知道哪些内容受欢迎，使您在访问我们的网站时得到更好的服务。cookies不会跟踪个人信息。当您注册我们的网站程式时，华唯商标转让网亦会使用cookies。在这种情况下，会存储有用信息，使我们的网站在您再次访问我们的网站时可辨认您的身份。来自华唯商标转让网的cookies只能被华唯商标转让网读取。如果您的浏览器被设置为拒绝cookies，您仍然能够访问我们的网站。</p>
<p><b>如何更新您已经提供给华唯商标转让网的个人信息</b></p>
<p>如果您的地址，电话或e_mail地址发生变化，您可以按华唯商标转让网中公布的联系方式通知华唯商标转让网，以帮助我们保持您的资料的准确性。你也可以通过登录(华唯商标转让网网用户注册页面的更新会员资料栏)的方式自行更新您的个人信息。 华唯商标转让网欢迎您对这项保密制度给予评论并提出质疑。我们将致力于保护您的个人信息，尽全力保证这些信息的安全。由于网上技术的发展突飞猛进，我们会随时更新我们的信息保密制度。所有的修订将在此站点公布。请将与本声明有关的所有评论和质疑发往。 华唯商标转让网欢迎您对这项保密制度给予评论并提出质疑。我们将致力于保护您的个人信息，尽全力保证这些信息的安全。由于网上技术的发展突飞猛进，我们会随时更新我们的信息保密制度。所有的修订将在此站点公布。请将与本声明有关的所有评论和质疑发往 <a href="mailto:ipsoon@gmail.com" target="_blank" class="blue">ipsoon@gmail.com</a> 。</p>
</ul>
</div>
<div class="clear"></div>
</div>

<!--底部-->
<div id="footer">
<div class="fonbox">
<div class="contact">
<h2><em>非工作时间也可以直接拨打手机热线：<strong>13360007519</strong><strong>13366415310</strong></em><b>24小时服务热线：400-888-1139</b></h2>
<ul>
<li class="phone"><h3>北京电话（仅办理手续）：</h3>010-62218730（三线）、62215195</li>
<li class="phone"><h3>广州电话（询价及办理手续）：</h3>020-38819075、38866371、38690351、38810791、38866172、38808153、38807996、38813114、38846890、38817890</li>
<li class="phone"><h3>杭州电话(仅办理手续）：</h3>0571-56278880（三线）、87850793</li>
<li class="phone"><h3>香港电话：</h3>00852-30788896 00852-30789989</li>
<li class="site"><h3>北京地址：</h3>北京市丰台区广安路9号院国投财富广场(4号楼)306 邮编：100073</li>
<li class="site"><h3>广州地址：</h3>广州市天河区体育西路111号建和中心29层（全层）邮编：510620</li>
<li class="site"><h3>杭州地址：</h3>杭州市下城区凤起路139号1栋202 邮编：310003</li>
<li class="site"><h3>香港地址：</h3>香港湾仔轩尼诗道289-295号朱钧记商业中心16楼</li>
</ul>
</div>
<div class="clear"></div>
<div class="copyright">
<p><em><a href="about.html" target="_blank">关于我们</a></em> | <em><a href="tmNews.html" target="_blank">新闻资讯</a></em> | <em><a href="recruit.html" target="_blank">诚聘英才</a></em> | <em><a href="copyright.html" target="_blank">版权声明</a></em> | <em><a href="clause.html" target="_blank">服务条款</a></em> | <em><a href="law.html" target="_blank">法律声明</a></em> | <em><a href="help.html" target="_blank">帮助中心</a></em> | <em><a href="contact.html" target="_blank">联系我们</a></em> | <em><a href="sitemap.html" target="_blank">网站地图</a></em></p></a></em></p>
<p>商标转让广州中唯公司、杭州华唯知识产权　@北京华唯环球国际 <a href="http://www.miitbeian.gov.cn" target="_blank">粤ICP备13062556号-7</a></p>
<p>总部：华唯环球（武汉）科技有限公司　　电话：400-888-1139</p>
</div>
</div>
</div>
<!--底部 end-->

</body>
</html>