<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>商标转让_服装商标转让_《华唯商标转让》 - 全国最大、最全的商标转让网</title>
<meta name="Keywords" content="商标转让,商标买卖,服装商标,商标交易,品牌转让" />
<meta name="Description" content="华唯商标转让网,全国最大、最全且更新最快的商标转让网站,最权威商标转让机构, 十年专业经验,服装,鞋商标转让量全国最大,北京,杭州,广州直属公司,打开网站！在线咨询！" />
<link rel="stylesheet" href="../css/main.css">
<link rel="stylesheet" href="../css/service.css">
<script type="text/javascript" src="../js/common.js"></script>
</head>

<body>
<div class="s_head">
<div class="logo">
<h1><a href="http://www.hw-tm.cn" target="_blank" title="华唯商标转让网">华唯商标转让网</a></h1>
</div>
<div class="phone">
<p></p>
<p>您好，blues.liang, 欢迎来到华唯商标网! [ <a href="../member/personInfo.html" class="red">我的会员中心</a> ] [ <a href="../member/register.html">免费注册</a> ] [ <a href="../member/login.html">会员登录</a> ] [ <a href="../member/login.html">退出</a> ] | <a href="about.html" target="_blank">联系我们</a> | <a href="help.html" target="_blank">帮助中心</a> | <a href="duty.html" target="_blank">详细值班表</a></p>
<p><span>7*24小时服务热线：</span><strong>400-888-1139</strong></p>
</div>
<div class="clear"></div>
<div class="nav">
<a href="../index.html">首页</a><a href="../good/tmList.html">精品商标</a><a href="../tmClass/tmSearch.html">商标搜索</a><a href="../tmClass/tmClassification.html">商标分类</a><a href="../fuzhuang/fzList.html">服装商标</a><a href="../tmRegHome/tmIndex.html">国内商标注册</a><a href="../tmRegInter/tmIndex.html">国外商标注册</a><a href="../tradeTm/tradeIndex.html">商品/服务分类表</a><a href="../tmClass/interTm.html">国际商标转让</a><a href="../tmClass/permisTm.html">许可商标</a>
</div>
<div class="adbox"><img src="../images/banner1.jpg" /></div>
<div class="clear"></div>
</div>

<div class="s_main">
<div class="s_leftbox">
<ul>
<li><a href="about.html">关于华唯</a></li>
<li><a href="scope.html">业务范围</a></li>
<li><a href="tmNews.html">新闻资讯</a></li>
<li><a href="duty.html">详细值班表</a></li>
<li><a href="case.html">成功案例</a></li>
<li><a href="purchase.html">求购信息</a></li>
<li><a href="joinUs.html">加盟合作</a></li>
<li><a href="copyright.html">版权声明</a></li>
<li><a href="clause.html">服务条款</a></li>
<li><a href="law.html">法律声明</a></li>
<li><a href="contact.html">联系我们</a></li>
<li><a href="recruit.html">诚聘英才</a></li>
<li><a href="sitemap.html">网站地图</a></li>
<li><a href="help.html" class="on">帮助中心</a></li>
</ul>
</div>

<div class="s_rightbox">
<div class="crumbs">您所在的位置：<a href="../index.html">首页</a> &gt; <a href="about.html">关于华唯</a> &gt; <a href="help.html">帮助中心</a> &gt; 交易须知</div>
<ul>
<div class="subnav">
<a href="help.html">常见问题</a><a href="buyhelp.html">买家帮助</a><a href="sellhelp.html">卖家帮助</a><a href="notice.html" class="on">交易须知</a><a href="download.html">商标文书下载</a>
<div class="clear"></div>
</div>
<h2>交易须知</h2>
<li class="question">转让须知</li>
<li class="answer">
<p>1.购买转让的注册商标要办哪些手续？<br />
(1)转让人和受让人要签定一份转让协议，协议签定以后受让人即可使用此商标，同时办理转让申请手续的，可以作为注册商标使用，即在商标上 打上“注册商标”的字样或“R”的符号，但权利还是转让人的。因为转让注册商标需要核准公告，受让人自公告之日起享有商标专用权。<br />
(2)受让人要办理注册商标转让申请。</p>
<p>2.办理注册商标转让申请要提交哪些资料以及商标法对商标转让是如何规定的？<br />
(1)转让注册商标的，转让人和受让人应当向商标局提交转让注册商标申请书(转让人和受让人在转让申请书盖章)、商标注册证复印件、转让人 和受让人营业执照或身份证复印件，委托代理机构的还需要盖上受让人公章的商标代理委托书。转让注册商标申请手续由受让人办理。商标局核准转让注册商标申请 后，发给受让人相应证明。<br />
(2)转让注册商标的，商标转让人对其在同一种商品或类似商品上注册的相同或近似的商标，必须一并办理转让。未一并转让的，由商标局通知其限期 改正，期满不改正的，视为放弃转让该注册商标的申请，商标局应当书面通知申请人。 对可能产生误认、混淆或者其他不良影响的转让注册商标申请，商标局不予核准，书面通知申请人并说明理由。</p>
</li>
<li class="question">被撤销的企业商标能否转让？</li>
<li class="answer">
<p>被撤销企业的商标仍可以转让。在该企业被撤销一年之内，接受该企业财产的政府主管机关应当已经办理注册商标移转手续，成为新的注册商标专用权人。</p>
<p>依法被撤销是企业终止的事由之一。企业被撤销后，原企业所享有的商标专用权并不自然移转。依法承受其商标专用权的人，应当按照法律的规定，凭有关证明文件或者法律文书到商标局办理注册商标专用权移转手续。自企业被撤销之日起1年期满，其注册商标没有办理移转手续的，任何人可以向商标局申请注销该 注册商标。</p>
<p>[法律依据] 《商标法实施条例》第26、47条。</p>
<li class="question">商标评估</li>
<li class="answer">
<p>商标价值评估是指商标评估机构根据当事人的委托，遵循公正、公开、公平的原则，运用科学的方法，对商标的现时价值进行的评定和测算。商标权是权利人 所拥有的一项重要的无形财产权，恰当评估其价值，有助于权利人权利的行使和保护。通常情况下，在商标侵权诉讼中，在商标权人许可他人使用其注册商标、转让 其注册商标时以及以商标作为投资时，都要进行商标评估。中国公认的第一例商标评估发生在1996年，被评估的商标是“青岛啤酒”，评估的目的是为了辅助企 业股票上市。</p>
<p>商标价值评估的方法很多，常用的有收益法、市场法和成本法，收益法被认为是评估中最可信赖的首选方法，但仍需要其他方法予以补充。市场法可以为收益法的结论提供某些数据支持，成本法也能为商标评估结论提供最低限度的基础数字。</p>
<p>从事商标评估的机构必须具备法定的条件，经工商行政管理部门评定具备资格的，方可开展商标评估业务。商标评估机构开展商标评估业务，不受行业和区域的限制。</p>
<li class="question">商标专用权</li>
<li class="answer">
<p>根 据我国《商标法》第39条第2款规定，“转让注册商标经核准后，予以公告。受让人自公告之日起享有商标专用权。”</p>
<p>2001年修改商标法，对此款规定作了重要改动：将受让人享有商标专用权的起始日期明确为“公告之日”。根据我国民法关于公告公示效力的原则，这一规定确 立了商标专用权转让行为公告生效的制度。</p>
<p>[法律依据] 《商标法》第39条。</p>
</li>
</ul>
</div>
<div class="clear"></div>
</div>

<!--底部-->
<div id="footer">
<div class="fonbox">
<div class="contact">
<h2><em>非工作时间也可以直接拨打手机热线：<strong>13360007519</strong><strong>13366415310</strong></em><b>24小时服务热线：400-888-1139</b></h2>
<ul>
<li class="phone"><h3>北京电话（仅办理手续）：</h3>010-62218730（三线）、62215195</li>
<li class="phone"><h3>广州电话（询价及办理手续）：</h3>020-38819075、38866371、38690351、38810791、38866172、38808153、38807996、38813114、38846890、38817890</li>
<li class="phone"><h3>杭州电话(仅办理手续）：</h3>0571-56278880（三线）、87850793</li>
<li class="phone"><h3>香港电话：</h3>00852-30788896 00852-30789989</li>
<li class="site"><h3>北京地址：</h3>北京市丰台区广安路9号院国投财富广场(4号楼)306 邮编：100073</li>
<li class="site"><h3>广州地址：</h3>广州市天河区体育西路111号建和中心29层（全层）邮编：510620</li>
<li class="site"><h3>杭州地址：</h3>杭州市下城区凤起路139号1栋202 邮编：310003</li>
<li class="site"><h3>香港地址：</h3>香港湾仔轩尼诗道289-295号朱钧记商业中心16楼</li>
</ul>
</div>
<div class="clear"></div>
<div class="copyright">
<p><em><a href="about.html" target="_blank">关于我们</a></em> | <em><a href="tmNews.html" target="_blank">新闻资讯</a></em> | <em><a href="recruit.html" target="_blank">诚聘英才</a></em> | <em><a href="copyright.html" target="_blank">版权声明</a></em> | <em><a href="clause.html" target="_blank">服务条款</a></em> | <em><a href="law.html" target="_blank">法律声明</a></em> | <em><a href="help.html" target="_blank">帮助中心</a></em> | <em><a href="contact.html" target="_blank">联系我们</a></em> | <em><a href="sitemap.html" target="_blank">网站地图</a></em></p></a></em></p>
<p>商标转让广州中唯公司、杭州华唯知识产权　@北京华唯环球国际 <a href="http://www.miitbeian.gov.cn" target="_blank">粤ICP备13062556号-7</a></p>
<p>总部：华唯环球（武汉）科技有限公司　　电话：400-888-1139</p>
</div>
</div>
</div>
<!--底部 end-->

</body>
</html>