<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>商标转让_服装商标转让_《华唯商标转让》 - 全国最大、最全的商标转让网</title>
<meta name="Keywords" content="商标转让,商标买卖,服装商标,商标交易,品牌转让" />
<meta name="Description" content="华唯商标转让网,全国最大、最全且更新最快的商标转让网站,最权威商标转让机构, 十年专业经验,服装,鞋商标转让量全国最大,北京,杭州,广州直属公司,打开网站！在线咨询！" />
<link rel="stylesheet" href="../css/main.css">
<link rel="stylesheet" href="../css/service.css">
</head>

<body>
<div class="s_head">
<div class="logo">
<h1><a href="http://www.hw-tm.cn" target="_blank" title="华唯商标转让网">华唯商标转让网</a></h1>
</div>
<div class="phone">
<p></p>
<p>您好，blues.liang, 欢迎来到华唯商标网! [ <a href="../member/personInfo.html" class="red">我的会员中心</a> ] [ <a href="../member/register.html">免费注册</a> ] [ <a href="../member/login.html">会员登录</a> ] [ <a href="../member/login.html">退出</a> ] | <a href="about.html" target="_blank">联系我们</a> | <a href="help.html" target="_blank">帮助中心</a> | <a href="duty.html" target="_blank">详细值班表</a></p>
<p><span>7*24小时服务热线：</span><strong>400-888-1139</strong></p>
</div>
<div class="clear"></div>
<div class="nav">
<a href="../index.html">首页</a><a href="../good/tmList.html">精品商标</a><a href="../tmClass/tmSearch.html">商标搜索</a><a href="../tmClass/tmClassification.html">商标分类</a><a href="../fuzhuang/fzList.html">服装商标</a><a href="../tmRegHome/tmIndex.html">国内商标注册</a><a href="../tmRegInter/tmIndex.html">国外商标注册</a><a href="../tradeTm/tradeIndex.html">商品/服务分类表</a><a href="../tmClass/interTm.html">国际商标转让</a><a href="../tmClass/permisTm.html">许可商标</a>
</div>
<div class="adbox"><img src="../images/banner1.jpg" /></div>
<div class="clear"></div>
</div>

<div class="s_main">
<div class="s_leftbox">
<ul>
<li><a href="about.html">关于华唯</a></li>
<li><a href="scope.html">业务范围</a></li>
<li><a href="tmNews.html">新闻资讯</a></li>
<li><a href="duty.html">详细值班表</a></li>
<li><a href="case.html">成功案例</a></li>
<li><a href="purchase.html">求购信息</a></li>
<li><a href="joinUs.html">加盟合作</a></li>
<li><a href="copyright.html">版权声明</a></li>
<li><a href="clause.html">服务条款</a></li>
<li><a href="law.html">法律声明</a></li>
<li><a href="contact.html">联系我们</a></li>
<li><a href="recruit.html" class="on">诚聘英才</a></li>
<li><a href="sitemap.html">网站地图</a></li>
<li><a href="help.html">帮助中心</a></li>
</ul>
</div>

<div class="s_rightbox">
<div class="crumbs">您所在的位置：<a href="../index.html">首页</a> &gt; <a href="about.html">关于华唯</a> &gt; 诚聘英才</div>
<ul>
<h2>诚聘英才</h2>
<p class="import">以下职位均可获得公司其它待遇：<br />
1、良好的晋升空间；<br />
2、正式员工正常购买社保； <br />
3、公司提供工作餐，带薪年休；<br />
4、公司每年至少外出旅游一次，每月至少组织一次丰富多彩的集体活动。</p>
<p><b>商标代理人</b></p>
<p>工作地点：广州/杭州/北京<br />
薪水要求：无责任底薪3000+提成<br />
职位描述：<br />
1、熟悉商标申请的所有工作流程；<br />
2、与商标管理部门的联络，办理申请、变更、续展等商标代理业务；<br />
3、能独立开展有关商标代理业务的经营活动；<br />
岗位要求：<br />
1、工作积极、主动，态度认真，诚实敬业；<br />
2、有亲和力，具备良好的和客户独立沟通的能力；<br />
3、有较高的市场开拓和创新能力，能与客户建立良好稳固的关系，有电话营销经验者优先；<br />
4、法律/法学专业背景为佳(非必要条件)；<br />
5、有一年以上知识产权工作经验者优先；<br />
6、能够熟练使用办公软件。</p>
<p><b>销售精英</b></p>
<p>工作地点：广州/杭州/北京<br />
薪水要求：无责任底薪1800+提成<br />
职位描述：<br />
1、通过电话或面谈开拓客户，开拓通过广告而来的客户，维护老客户；<br />
2、业务能力主要涉及到：商标注册、公司注册、版权专利、法律顾问、企业管理咨询等服务。<br />
岗位要求：<br />
1、工作积极、主动，态度认真，诚实敬业；<br />
2、有亲和力，具备良好的和客户独立沟通的能力；<br />
3、反应灵活，有良好的沟通能力、应变能力、团队合作精神；<br />
4、有较高的市场开拓和创新能力，能与客户建立良好稳固的关系，有电话营销经验者优先。</p>
<p><b>商标设计师（logo设计师）</b></p>
<p>工作地点：广州<br />
职位描述：<br />
主要负责各类企业的logo设计，维护企业形象。<br />
岗位要求：<br />
1、有丰富的平面设计、logo设计经验，风格独特，能独立完成设计工作；<br />
2、至少1年以上工作经验，非常熟练应用Photoshop /CorelDraw/等平面设计软件.<br />
3、思维活跃，能独立完成整体美工设计，结构合理，美观实用，良好的色彩感和调配感，能够制作出视觉冲击力较强的作品；<br />
4、优秀的审美能力，独特的创意，能设计制作出美观的企业logo；<br />
5、较强的理解能力和创新意识，可以充分理解客户需求，制作符合既定行业风格的设计；<br />
6、责任心强、性格开朗、具有较强沟通技巧和团队合作精神。</p>
<p><b>兼职商标设计师</b></p>
<p>工作地点：广州<br />
工作模式：<br />
1、完全兼职，按工作量算工资；<br />
2、半兼职，在家上班，保证正常工作时间；<br />
3、全职，在公司上班。<br />
职位描述：<br />
主要负责各类企业的logo设计，维护企业形象。<br />
岗位要求：<br />
1、有丰富的平面设计、logo设计经验，风格独特，能独立完成设计工作；<br />
2、至少1年以上工作经验，非常熟练应用Photoshop /CorelDraw/等平面设计软件.<br />
3、思维活跃，能独立完成整体美工设计，结构合理，美观实用，良<br />
好的色彩感和调配感，能够制作出视觉冲击力较强的作品；<br />
4、优秀的审美能力，独特的创意，能设计制作出美观的企业logo；<br />
5、较强的理解能力和创新意识，可以充分理解客户需求，制作符合既定行业风格的设计；</p>
<p><b>商标品牌策划师</b></p>
<p>工作地点：广州<br />
职位描述：<br />
1、负责为客户策划（构思商标名）品牌，并设计。<br />
2、要求策划并设计，也可以只负责策划。<br />
岗位要求：<br />
1、市场营销、管理、新闻传媒、美术设计、文化传播类等专业大专以上学历；<br />
2、高端精品的品牌意识强,创意新颖，触觉敏锐、思路清晰、具有出色提案能力及成功品牌策划案例；对中文及英文商标（品牌）的策划有一定的独到之处；<br />
3、对市场有灵敏的触觉和较强的资讯搜集能力。</p>
<p><b>Seo网站优化师</b></p>
<p>工作地点：广州<br />
职位描述：<br />
1、长期跟踪并深入研究Alexa、Google、Baidu和Yahoo的排名机制和优化原则；<br />
2、通过对网站的分析，提出前台页面和系统架构等网站排名及优化的整体解决方案；<br />
3、分析网站及各频道的关键词解决方案，监控网站关键字，监控和研究竞争对手及其他网站相关做法，并围绕优化提出合理的网站调整建议；<br />
4、和第三方网站进行进行流量、数据或服务交换，或战略合作联盟，增加网站的流量和知名度。<br />
岗位要求：<br />
1、了解搜索引擎优化SEO的原理和策略，并有丰富的实际操作经验；<br />
2、了解如何提高网站pr值，有过搜索引擎优化经验，有过pr值&gt;4优化经验；<br />
3、有一定的网站设计经验，熟知HTML，懂得基本脚本语言、web服务器技术；<br />
4、对网站的流量点击进行较详细系统的分析，负责监控网站关键词，可以出seo方案；<br />
5、要求精通各大搜索引擎的搜索排名技术，熟悉邮件群发技术及其它网站推广技术；<br />
6、有市场洞察和较强的学习能力，能够关注seo动向，适应搜索引擎变化；<br />
7、有大型网站seo任职经验者，有一定的.net开发经验者优先考虑。</p>
<p><b>网站美工/网站设计/</b></p>
<p>工作地点：广州<br />
职位描述：<br />
负责为网站美工设计并制成DIV+CSS页面给程序员使用。<br />
岗位要求：<br />
1、计算机、美术设计等相关专业，有较好的美术功底，色彩感觉丰富准确；<br />
2、精通DIV+CSS布局，图像处理、网页制作，熟悉Photoshop、Dreamweaver、Flash、Fireworks等；<br />
3、有良好的创意思维和理解能力；熟悉html、javascript脚本；<br />
4、能与后台程序人员良好的合作，进行协同开发；<br />
5、有良好沟通和领悟能力，富有团队合作精神、敬业精神及高度的责任感；<br />
6、有相关创意作品和成功案例，有良好的审美观、创新意识和大局感、合作意识。</p>
<p><b>办公室文员</b></p>
<p>工作地点：广州/杭州/北京<br />
职位描述：<br />
1、收集、采编、核查、整合商标行业内资料及行业动态新闻；<br />
2、审核、规范会员发布的各类信息；<br />
3、负责商标的采集和添加工作；<br />
4、根据公司的统一安排，完成其他部门提交的内容及需求。<br />
岗位要求：<br />
1、有强烈的责任心，以及对职位的认同感，为人正直、坦诚，做事认真可靠；<br />
2、自我管理意识强，有独立开展工作的能力，同时善于协调沟通、团队协作；<br />
3、有工作激情，善于学习，乐于创新，并能承受较强的工作压力；<br />
4、计算机专业优先考虑。</p>
</ul>
</div>
<div class="clear"></div>
</div>

<!--底部-->
<div id="footer">
<div class="fonbox">
<div class="contact">
<h2><em>非工作时间也可以直接拨打手机热线：<strong>13360007519</strong><strong>13366415310</strong></em><b>24小时服务热线：400-888-1139</b></h2>
<ul>
<li class="phone"><h3>北京电话（仅办理手续）：</h3>010-62218730（三线）、62215195</li>
<li class="phone"><h3>广州电话（询价及办理手续）：</h3>020-38819075、38866371、38690351、38810791、38866172、38808153、38807996、38813114、38846890、38817890</li>
<li class="phone"><h3>杭州电话(仅办理手续）：</h3>0571-56278880（三线）、87850793</li>
<li class="phone"><h3>香港电话：</h3>00852-30788896 00852-30789989</li>
<li class="site"><h3>北京地址：</h3>北京市丰台区广安路9号院国投财富广场(4号楼)306 邮编：100073</li>
<li class="site"><h3>广州地址：</h3>广州市天河区体育西路111号建和中心29层（全层）邮编：510620</li>
<li class="site"><h3>杭州地址：</h3>杭州市下城区凤起路139号1栋202 邮编：310003</li>
<li class="site"><h3>香港地址：</h3>香港湾仔轩尼诗道289-295号朱钧记商业中心16楼</li>
</ul>
</div>
<div class="clear"></div>
<div class="copyright">
<p><em><a href="about.html" target="_blank">关于我们</a></em> | <em><a href="tmNews.html" target="_blank">新闻资讯</a></em> | <em><a href="recruit.html" target="_blank">诚聘英才</a></em> | <em><a href="copyright.html" target="_blank">版权声明</a></em> | <em><a href="clause.html" target="_blank">服务条款</a></em> | <em><a href="law.html" target="_blank">法律声明</a></em> | <em><a href="help.html" target="_blank">帮助中心</a></em> | <em><a href="contact.html" target="_blank">联系我们</a></em> | <em><a href="sitemap.html" target="_blank">网站地图</a></em></p></a></em></p>
<p>商标转让广州中唯公司、杭州华唯知识产权　@北京华唯环球国际 <a href="http://www.miitbeian.gov.cn" target="_blank">粤ICP备13062556号-7</a></p>
<p>总部：华唯环球（武汉）科技有限公司　　电话：400-888-1139</p>
</div>
</div>
</div>
<!--底部 end-->

</body>
</html>