<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>商标转让_服装商标转让_《华唯商标转让》 - 全国最大、最全的商标转让网</title>
<meta name="Keywords" content="商标转让,商标买卖,服装商标,商标交易,品牌转让" />
<meta name="Description" content="华唯商标转让网,全国最大、最全且更新最快的商标转让网站,最权威商标转让机构, 十年专业经验,服装,鞋商标转让量全国最大,北京,杭州,广州直属公司,打开网站！在线咨询！" />
<link rel="stylesheet" href="../css/main.css">
<link rel="stylesheet" href="../css/service.css">
<script type="text/javascript" src="../js/common.js"></script>
</head>

<body>
<div class="s_head">
<div class="logo">
<h1><a href="http://www.hw-tm.cn" target="_blank" title="华唯商标转让网">华唯商标转让网</a></h1>
</div>
<div class="phone">
<p></p>
<p>您好，blues.liang, 欢迎来到华唯商标网! [ <a href="../member/personInfo.html" class="red">我的会员中心</a> ] [ <a href="../member/register.html">免费注册</a> ] [ <a href="../member/login.html">会员登录</a> ] [ <a href="../member/login.html">退出</a> ] | <a href="about.html" target="_blank">联系我们</a> | <a href="help.html" target="_blank">帮助中心</a> | <a href="duty.html" target="_blank">详细值班表</a></p>
<p><span>7*24小时服务热线：</span><strong>400-888-1139</strong></p>
</div>
<div class="clear"></div>
<div class="nav">
<a href="../index.html">首页</a><a href="../good/tmList.html">精品商标</a><a href="../tmClass/tmSearch.html">商标搜索</a><a href="../tmClass/tmClassification.html">商标分类</a><a href="../fuzhuang/fzList.html">服装商标</a><a href="../tmRegHome/tmIndex.html">国内商标注册</a><a href="../tmRegInter/tmIndex.html">国外商标注册</a><a href="../tradeTm/tradeIndex.html">商品/服务分类表</a><a href="../tmClass/interTm.html">国际商标转让</a><a href="../tmClass/permisTm.html">许可商标</a>
</div>
<div class="adbox"><img src="../images/banner1.jpg" /></div>
<div class="clear"></div>
</div>

<div class="s_main">
<div class="s_leftbox">
<ul>
<li><a href="about.html">关于华唯</a></li>
<li><a href="scope.html">业务范围</a></li>
<li><a href="tmNews.html">新闻资讯</a></li>
<li><a href="duty.html">详细值班表</a></li>
<li><a href="case.html">成功案例</a></li>
<li><a href="purchase.html">求购信息</a></li>
<li><a href="joinUs.html">加盟合作</a></li>
<li><a href="copyright.html">版权声明</a></li>
<li><a href="clause.html">服务条款</a></li>
<li><a href="law.html">法律声明</a></li>
<li><a href="contact.html">联系我们</a></li>
<li><a href="recruit.html">诚聘英才</a></li>
<li><a href="sitemap.html">网站地图</a></li>
<li><a href="help.html" class="on">帮助中心</a></li>
</ul>
</div>

<div class="s_rightbox">
<div class="crumbs">您所在的位置：<a href="../index.html">首页</a> &gt; <a href="about.html">关于华唯</a> &gt; <a href="help.html">帮助中心</a> &gt; 卖家帮助</div>
<ul>
<div class="subnav">
<a href="help.html">常见问题</a><a href="buyhelp.html">买家帮助</a><a href="sellhelp.html" class="on">卖家帮助</a><a href="notice.html">交易须知</a><a href="download.html">商标文书下载</a>
<div class="clear"></div>
</div>
<h2>卖家帮助</h2>
<li class="question">如何卖商标？</li>
<li class="answer">
（1）在华唯商标转让网出售商标可以采用全自助方式，也可以让客服人员协助您上传。需要客服服务的请直接与首页客服人员联系。<br />
（2）点击华唯商标转让网首页导航上方的。<br />
（3）在新页面内输入商标信息、联系人、联系方式等。<br />
（4）最后提交商标信息。<br />
（5）要卖的商标信息在审核通过后会显示出来。一旦有客户需求，我们的交易人员会在第一时间和您联系，所以一定要保持电话号码的正确和畅通。
</li>
<li class="question">如何转让商标？</li>
<li class="answer">
<p>华唯商标转让网将按下面的代理流程与您合作，商标转让流程的设计以减轻您的工作量、提高转让效率和节约成本、安全快捷为目标，您可以不用亲自来我公司，华唯商标转让网可以替您办好一切业务。您熟悉以下商标转让手续后，您与华唯商标转让网的合作将是流畅、快捷、轻松、愉快的：</p>
<p>一、商标代购流程：<br />
1、签约后客户交纳代购商标费和办理转让的申请费用；<br />
2、华唯商标转让网编写好商标转让文件，由客户签名或盖章后送达华唯商标转让网；<br />
3、华唯商标转让网办理申报，领取并送达转让证明；</p>
<p>二、商标交易流程：<br />
1、卖方与华唯商标转让网签定商标转让委托书、商标转让申请书。买方联系华唯商标转让网，了解商标具体情况，华唯商标转让网负责咨询磋商；<br />
2、买方同意转让后，将所有转让款汇入华唯商标转让网账号。并向华唯商标转让网提供有效身份证明(买方为自然人的，提供个人身份证复印件；买方为企业法人的，提供企业营业执照复印件)；<br />
3、华唯商标转让网核实转让款项和证书后，华唯商标转让网联系卖方，与卖方签署商标转让合同；<br />
4、华唯商标转让网将转让款转交卖方，将商标注册证原件交付买方。<br />
5、华唯商标转让网编写好商标转让文件，由客户签名或盖章后送达华唯商标转让网；华唯商标转让网到国家商标局办理转让手续，领取并送达转让证明给买方；<br />
华唯商标转让网的目标是提供优质的服务，收取合理的费用。华唯商标转让网看重的是通过我们的服务为客户增值，公司对客户报的都是实价，并平等地对待每一个客户。所以我们把主要精力放在服务客户上，而不是在商标转让价格上浪费时间。</p>
<p>三、收费说明<br />
(一)、代理商标转让费用一般包括两部分：<br />
1、商标转让受理费：申请转让一件商标的费用为1000元，受理费直接缴入国家商标局,国家商标局收取官费1000元；<br />
2、商标转让代理费：代理费现正值优惠期为500元。<br />
(二)、商标转让中介服务费：<br />
华唯商标转让网会按商标转让成交金额的10%向转让方收取中介服务费。<br />
特别提醒：办理商标相关业务联系一定要委托正规商标代理机构，遇到不良商标转让代理机构，可及时拔打12315举报。</p>
<p>四、买商标(卖商标)客户方面的配合<br />
华唯商标转让网的服务以方便客户，节约成本，安全、快捷为目标。商标转让时客户需提供真实有效的文件和材料如下：<br />
1、自然人的身份证或企业的营业执照复印件[受让人]。<br />
2、商标注册或申请的准确信息[商标注册证或受理通知书复印件]。<br />
3、商标代理委托书：由华唯商标转让网公司制作，受让人盖章戳。<br />
4、商标转让申请书：由华唯商标转让网公司制作，转让人与受让人盖章戳。</p>
<p>华唯商标转让网的温馨提示：由华唯商标转让网代理商标转让，您只要准备好材料就OK，其余的事情和细致的工作全由华唯商标转让网完成。在代理申报商标转让过程中，华唯商标转让网的工作人员会及时与您沟通。</p>
</li>
</ul>
</div>
<div class="clear"></div>
</div>

<!--底部-->
<div id="footer">
<div class="fonbox">
<div class="contact">
<h2><em>非工作时间也可以直接拨打手机热线：<strong>13360007519</strong><strong>13366415310</strong></em><b>24小时服务热线：400-888-1139</b></h2>
<ul>
<li class="phone"><h3>北京电话（仅办理手续）：</h3>010-62218730（三线）、62215195</li>
<li class="phone"><h3>广州电话（询价及办理手续）：</h3>020-38819075、38866371、38690351、38810791、38866172、38808153、38807996、38813114、38846890、38817890</li>
<li class="phone"><h3>杭州电话(仅办理手续）：</h3>0571-56278880（三线）、87850793</li>
<li class="phone"><h3>香港电话：</h3>00852-30788896 00852-30789989</li>
<li class="site"><h3>北京地址：</h3>北京市丰台区广安路9号院国投财富广场(4号楼)306 邮编：100073</li>
<li class="site"><h3>广州地址：</h3>广州市天河区体育西路111号建和中心29层（全层）邮编：510620</li>
<li class="site"><h3>杭州地址：</h3>杭州市下城区凤起路139号1栋202 邮编：310003</li>
<li class="site"><h3>香港地址：</h3>香港湾仔轩尼诗道289-295号朱钧记商业中心16楼</li>
</ul>
</div>
<div class="clear"></div>
<div class="copyright">
<p><em><a href="about.html" target="_blank">关于我们</a></em> | <em><a href="tmNews.html" target="_blank">新闻资讯</a></em> | <em><a href="recruit.html" target="_blank">诚聘英才</a></em> | <em><a href="copyright.html" target="_blank">版权声明</a></em> | <em><a href="clause.html" target="_blank">服务条款</a></em> | <em><a href="law.html" target="_blank">法律声明</a></em> | <em><a href="help.html" target="_blank">帮助中心</a></em> | <em><a href="contact.html" target="_blank">联系我们</a></em> | <em><a href="sitemap.html" target="_blank">网站地图</a></em></p></a></em></p>
<p>商标转让广州中唯公司、杭州华唯知识产权　@北京华唯环球国际 <a href="http://www.miitbeian.gov.cn" target="_blank">粤ICP备13062556号-7</a></p>
<p>总部：华唯环球（武汉）科技有限公司　　电话：400-888-1139</p>
</div>
</div>
</div>
<!--底部 end-->

</body>
</html>