<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>商标转让_服装商标转让_《华唯商标转让》 - 全国最大、最全的商标转让网</title>
<meta name="Keywords" content="商标转让,商标买卖,服装商标,商标交易,品牌转让" />
<meta name="Description" content="华唯商标转让网,全国最大、最全且更新最快的商标转让网站,最权威商标转让机构, 十年专业经验,服装,鞋商标转让量全国最大,北京,杭州,广州直属公司,打开网站！在线咨询！" />
</head>

<body>
<table border="1" cellpadding="0" cellspacing="0" align="center">
  <tr>
    <td rowspan="7"><img src="{$data.middle_picture}" /></td>
    <td colspan="2">名称： {$data.tm_name}</td>
  </tr>
  <tr>
    <td colspan="2">价格：{$data.tm_price}万</td>
  </tr>
  <tr>
    <td>商标分类：第{$data.tm_categories}类</td>
    <td>交易类型：{$data.trans_type}</td>
  </tr>
  <tr>
    <td>商标状态：{$data.tm_status}</td>
    <td>商标编号：{$data.tm_id}</td>
  </tr>
  <tr>
    <td>专用期限：{$data.end_date}</td>
    <td>商标类型：{$data.tm_nametype}</td>
  </tr>
  <tr>
    <td colspan="2">类似群组：{$data.belong_group}</td>
  </tr>
  <tr>
    <td colspan="2">服务项目：{$data.belong_groupdetail}</td>
  </tr>
</table>
</body>
</html>