<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>无标题文档</title>
<script type="text/javascript" src="{:C('HTMLPATH')}js/jquery-1.7.1.js"></script>
<script type="text/javascript">
$().ready(function() {
	
	$("#info").html('');
	
	$("[name='uid']").change(function() {
        $("#info").html('');
    });
	
	$("#select").click(function() {
		var uids=$("[name='uids']").val();
			$.get("{:U('Kefu/getAjaxInfo')}",{"uids":uids},function(data){
				$('.ceng').remove();
				$(data).each(function(i,item){
					var tr = $('<tr></tr>');
					tr.addClass('ceng');
					var str = '曾用名：'+item.username+';曾用电话：'+item.usertel+';曾备注信息:'+item.info;
					tr.html(str);
					$('#check').after(tr);
				});
			},'json');
			//$("#info").html('');$("[name='username']").val('');$("[name='usertel']").val('');
            //$("#info").html(data.info);$("[name='username']").val(data.username);$("[name='usertel']").val(data.usertel);},'json')
			$.get("{:U('Kefu/getAjaxList')}",{"uids":uids},function(data){
            $("#content").html(data);})
			
			setInterval(function(){
			var uids=$("[name='uids']").val();
			$.get("{:U('Kefu/getAjaxList')}",{"uids":uids},function(data){$("#content").html(data);}) },10000)
	});
	
	$("#save").click(function() {
		var info=$("#info").val();
		var uid=$("[name='uids']").val();
		var username=$("[name='username']").val();
		var usertel=$("[name='usertel']").val();
			$.post("{:U('Kefu/getAjaxSave')}",{"uid":uid,"info":info,"username":username,"usertel":usertel},function(data){
			$("#mes").html(data);})
			setTimeout(function(){$("#mes").html('');},5000)
	});
	
	$('.sel_all').click(function(){
		$(this).parent().find('input').attr('checked','checked');
	});
	
});

	setInterval(function(){
		$.get("{:U('Kefu/getAjaxState')}",function(data){$("#state").html(data);}) },10000)
		
</script>
</head>

<body>
<table width="90%" border="1" cellpadding="0" cellspacing="0" align="center" bordercolor="#CCCCCC">
	<tr height="30">
      <td>欢迎你，{$Think.session.kefu.name}  <a href="{:U('Kefu/logout')}"><input type="button" value="退出"></a></td>
    </tr>
    <tr id="kefu_status1">
    <form id="kefu_status1" action="{:U('Kefu/kefuStatus')}" method='post'>
    	<td><input type='checkbox' name='kefu[]' value='cc' />cc客服
    	<input type='checkbox' name='kefu[]' value='qq'/>qq客服
    	<input type='checkbox' name='kefu[]' value="ali"/>阿里旺旺客服
    	<input type='checkbox' name='kefu[]' value="weixin"/>微信客服
    	<input type='checkbox' name='kefu[]' value="tel"/>手机客服
    	<input type="button" value='全选' class="sel_all"/>
    	<input type="hidden" name='id' value="{$Think.session.kefu.id}" />
    	<input type="hidden" name="do" value="shangban" />
    	<input type="submit" value="上班" id="shangban"/>
    	</td>
    </form>
    </tr>
    <tr id="kefu_status2">
    <form id="kefu_status1" action="{:U('Kefu/kefuStatus')}" method='post'>
    	<td><input type='checkbox' name='kefu[]' value='cc' />cc客服
    	<input type='checkbox' name='kefu[]' value='qq'/>qq客服
    	<input type='checkbox' name='kefu[]' value="ali"/>阿里旺旺客服
    	<input type='checkbox' name='kefu[]' value="weixin"/>微信客服
    	<input type='checkbox' name='kefu[]' value="tel"/>手机客服
    	<input type="hidden" name='id' value="{$Think.session.kefu.id}" />
    	<input type="hidden" name="do" value="xiaban" />
    	<input type="button" value='全选' class="sel_all"/>
    	<input type="submit" value="下班" id="xiaban" />
    	</td>
    </form>
    </tr>
	<tr height="30">
      <td colspan="2" align="center">当前状态</td>
    </tr>
	<tr>
      <td colspan="2"><div id="state">访客数量：{$visitor} 会员数量：{$user} 今日访客数量：{$todayvisit} 今日注册数量：{$todayreg} 今日登录数量：{$todaylogin}</div></td>
    </tr>
    <tr height="30">
      <td colspan="2" align="center">最新访客:<a href="{:U('Kefu/index',array('lishi'=>1))}">查看历史访客</a>
      <form action="{:U('Kefu/index')}" method="post">
      	<input type="text" name="ld" size="5"/>-<input type="text" name="gd" size="5"/>
      	<input type="submit" value="按时间查看"/>
      </form>
      </td>
    </tr>
    <volist name="userdata" id="vo">
    <tr height="30">
      <td>最新访客:{$vo.username}[ID:{$vo.uid}]于[{$vo.time|date="Y-m-d H:i:s",###}]点击了您的[
      <if condition="$vo['ktype']==1">
      	cc
      	<elseif condition="$vo['ktype']==2"/>
      	qq
      	<elseif condition="$vo['ktype']==3"/>
      	阿里旺旺
      	<else />
      	微信
      </if>
      ]客服 &nbsp;&nbsp;&nbsp;&nbsp;<a href="{:U('Kefu/getUrl',array('uids'=>$vo['uid']))}" target="_blank">浏览轨迹</a></td>
    </tr>
    </volist>
	<tr height="30">
      <td colspan="2" align="center">用户查询</td>
    </tr>
	<tr id="check">
      <td>访问的用户ID:<input type="text" name="uids"/> <input type="button" id="select" value="查询"/></td>
    </tr>
	<tr height="30">
      <td colspan="2" align="center">客户需求备注</td>
    </tr>
    <tr height="30">
      <td>用户姓名：<input type="text" name="username" value=""/></td>
    </tr>
    <tr height="30">
      <td>用户联系方式：<input type="text" name="usertel" /></td>
    </tr>
	<tr>
      <td colspan="2"><textarea id="info" rows="4" cols="80"></textarea> <input type="button" id="save" value="保存"/><span id="mes"></span></td>
    </tr>
	<tr height="30">
      <td colspan="2" align="center">查询结果</td>
    </tr>
	<tr>
      <td colspan="2"><div id="content"></div></td>
    </tr>
</table>
</body>
</html>
