<div class="fLink">
<h2>友情链接</h2>
<ul>
<php>$links=M('Links')->select();</php>
<foreach name="links" item="link">
<php>$json=json_decode(htmlspecialchars_decode($link['show_where']),true);</php>
<if condition="ACTION_NAME eq 'index'">
	<eq name="json['index']" value="1">
    <a href="{$link.link_url}" target="{$link.link_target}">{$link.link_name}</a>
    </eq>
<elseif condition="(ACTION_NAME eq 'tmclass') AND (!isset($_GET['page']))" />
	<foreach name="json['cate']" item="vo">
	<eq name="vo" value="$_GET['id']">
    <a href="{$link.link_url}" target="{$link.link_target}">{$link.link_name}</a>
    </eq>
    </foreach>
<elseif condition="(ACTION_NAME eq 'tmclass') AND (isset($_GET['page']))" />
	<foreach name="json['page']" item="vo">
	<eq name="vo" value="$_GET['id']">
    <a href="{$link.link_url}" target="{$link.link_target}">{$link.link_name}</a>
    </eq>
    </foreach>
<elseif condition="ACTION_NAME eq 'tmdetail'" />
	<eq name="json['tmdetail']" value="1">
    <a href="{$link.link_url}" target="{$link.link_target}">{$link.link_name}</a>
    </eq>
<else />
	<eq name="json['other']" value="1">
    <a href="{$link.link_url}" target="{$link.link_target}">{$link.link_name}</a>
    </eq>
</if>
</foreach>
</ul>
</div>