<div class="fonbox">
<div class="contact">
<h2><em>非工作时间也可以直接拨打手机热线：
<volist name='tel' id='vo'>
<strong>{$vo.tel}</strong>
</volist>
</em><b>24小时服务热线：400-888-1139</b></h2>
<ul>
<li class="phone"><h3>北京电话（仅办理手续）：</h3>010-62218730（三线）、62215195</li>
<li class="phone"><h3>广州电话（询价及办理手续）：</h3>020-38819075、38866371、38690351、38810791、38866172、38808153、38807996、38813114、38846890、38817890</li>
<li class="phone"><h3>杭州电话(仅办理手续）：</h3>0571-56278880（三线）、87850793</li>
<li class="phone"><h3>香港电话：</h3>00852-30788896 00852-30789989</li>
<li class="site"><h3>北京地址：</h3>北京市丰台区广安路9号院国投财富广场(4号楼)306 邮编：100073</li>
<li class="site"><h3>广州地址：</h3>广州市天河区体育西路111号建和中心29层（全层）邮编：510620</li>
<li class="site"><h3>杭州地址：</h3>杭州市下城区凤起路139号1栋202 邮编：310003</li>
<li class="site"><h3>香港地址：</h3>香港湾仔轩尼诗道289-295号朱钧记商业中心16楼</li>
</ul>
</div>
<div class="clear"></div>
<div class="copyright">
<p><em><a href="{:U('Article/index',array('id'=>1,'tid'=>1))}" target="_blank">关于我们</a></em> | <em><a href="{:U('Article/news',array('id'=>7,'tid'=>6))}" target="_blank">新闻资讯</a></em> | <em><a href="{:U('Article/index',array('id'=>25))}" target="_blank">诚聘英才</a></em> | <em><a href="{:U('Article/index',array('id'=>21))}" target="_blank">版权声明</a></em> | <em><a href="{:U('Article/index',array('id'=>22))}" target="_blank">服务条款</a></em> | <em><a href="{:U('Article/index',array('id'=>23))}" target="_blank">法律声明</a></em> | <em><a href="{:U('Article/help',array('id'=>28,'tid'=>27))}" target="_blank">帮助中心</a></em> | <em><a href="{:U('Article/index',array('id'=>24))}" target="_blank">联系我们</a></em> | <em><a href="{:U('Article/index',array('id'=>26))}" target="_blank">网站地图</a></em></p>
<if condition="S(md5('copyright'))">
<php>$copyright=S(md5('copyright'));</php>
<else />
<php>$copyright=htmlspecialchars_decode(D('ad')->where('ad_id = 36')->getField('ad_content'));S(md5('copyright'),$copyright,3600*24);</php>
</if>
{$copyright}
</div>
</div>