<div class="midbox">
<div class="logobox"><h1><a href="{:C('INDEXPATH')}" target="_blank" title="华唯商标转让网">华唯商标转让网</a></h1></div>
<div class="searchbox">
<ul>
<form name="f" action="{:U('Index/search')}" method='post' target="_blank">
<div><input name='category' type='hidden' id='category' value=""><div id="sugOut"><input type="text" value="{$con.content1|default='商标名称、注册号、编号、介绍'}" name='content1' id="kww" onfocus="if(this.value==this.attributes.attr_val.value)this.value='';" onblur="if(!this.value)this.value=this.attributes.attr_val.value;" attr_val="商标名称、注册号、编号、介绍" autocomplete="off"><div id="sugbox"><div id="sug"></div></div></div>
</div>
<div class="scate">
<input class="input_01 cr_input_02 ipt1" type="text" value="选择商标类型" onfocus="if(this.value==this.attributes.attr_val.value)this.value='';" onblur="if(!this.value)this.value=this.attributes.attr_val.value;" attr_val="选择商标类型" />
<div id="reg_div" class='reg_div_02' style="display:none;">
<div class="ps_div"><span style="float:right;" class="cr_close">关闭</span>查找提示：</div>
<volist name='sblist' id='vo'>
	<li class="cate" value="{$key}">第{$key}类</li>
</volist>
</div>
</div>
<input type="hidden" value="1" name="discu"/>
<input type="submit" name="Submit" value="搜索" class="btn1" />
</form>
<input type="submit" name="Submit" value="高级搜索" class="btn2" onclick="location.href='{:U('Index/search')}'" />
<li>热门搜索：
<php>$remensize=sizeof($remen);</php>
<volist name='remen' id='vo' >

<eq name='i' value='$remensize'>&nbsp;<a href="{:U('Index/indeustry',array('id'=>$key))}" target="_blank">{$vo}</a><else /><a href="{:U('Index/indeustry',array('id'=>$key))}" target="_blank" >{$vo}</a>&nbsp;|</eq>
</volist></li>
</ul>
</div>
<div class="subbox">
<ul>
<li><a href="{:U('Index/transfer')}" class="ibtn3" target="_blank">更新商标及联系方式</a></li><li><a href="{:U('Index/transfer')}" class="ibtn2" target="_blank">我要卖商标</a></li><li><a href="{:U('Index/buy')}" class="ibtn1" target="_blank">我要买商标</a></li>
</ul>
</div>
</div>