</ul>
<ul class="quick-menu">
<li><a href="{:U('Article/help',array('id'=>28,'tid'=>27))}" target="_blank">新手帮助中心</a></li>
<li><a href="{:U('Article/help',array('id'=>29,'tid'=>27))}" target="_blank">买家须知</a></li>
<li><a href="{:U('Article/help',array('id'=>30,'tid'=>27))}" target="_blank">卖家须知</a></li>
<li><a href="{:U('Article/help',array('id'=>31,'tid'=>27))}" target="_blank">商标交易注意事项</a></li>
<li class="mytm menu-item">
<div class="menu">
<a class="menu-title" href="{:U('Article/index',array('id'=>26))}" rel="nofollow">网站导航<b></b></a> 
<div class="menu-bd">
<a href="http://bbs.hw-tm.cn" target="_blank" rel="nofollow">商标论坛</a>
<a href="http://ask.hw-tm.cn" target="_blank" rel="nofollow">商标问答</a>
<a href="{:U('Article/help',array('id'=>28,'tid'=>27))}" target="_blank" rel="nofollow">帮助中心</a>
</div>
</div>
</li>
<li class="mobile menu-item">
<div class="menu">
<a class="menu-title" href="/m" rel="nofollow">手机版<b></b></a> 
<div class="menu-bd">
<p>手机浏览器扫描二维码访问</p>
<img src="{:C('HTMLPATH')}images/mcode.png" />
</div>
</div>
</li>
<li class="phone">400-888-1139</li>
</ul>