<h2>联系电话<a href="{:U('Article/index',array('id'=>3))}" target="_blank" rel="nofollow">查看详细值班电话...</a></h2>
<ul>
<li><b>24小时询价热线（全国）：</b><strong>400-888-1139</strong></li>
<li><b>广州电话（询价及办理手续）：</b><em>020-38819075</em><em>020-38866371</em><em>020-38866172</em><em>020-38810791</em></li>
<li class="mobi"><b>24小时服务热线：</b>
<volist name='tel' id='vo'>
<em>{$vo.tel}</em>
</volist>
</li>
<li><b>北京电话：仅办理手续</b><em>010-62218730</em><em>010-62215195</em></li>
<li><b>杭州电话：仅办理手续</b><em>0571-56278880</em><em>0571-87850793</em></li>
<li><b>香港电话：</b><em>00852-30788896</em></li>
</ul>