<php>
$self_tmp = strtolower($_SERVER['PHP_SELF']);
$nav_arr_c = array('quality','search','sblist','tmclass','tradeIndex','permisTm','fzmold','tmlike','indeustry');
$currentnav_tmp = '';
foreach($nav_arr_c as $val){
	if(strpos($self_tmp,strtolower($val))){
		$currentnav_tmp = $val;
		break;
	}
}
$currentnav_tmp = $currentnav_tmp ? : 'index';	// 设置默认

</php>
<li><a href="{:C('INDEXPATH')}" <if condition="$currentnav_tmp eq 'index'">class="current"</if>>首页</a></li>
<li><a href="{:U('Index/quality')}" <if condition="$currentnav_tmp eq 'quality'">class="current"</if>>精品商标</a></li>
<li><a href="{:U('Index/search')}" <if condition="($currentnav_tmp eq 'search') or ($currentnav_tmp eq 'tmlike')">class="current"<elseif condition="$currentnav_tmp eq 'fzmold'"/>class="current"</if>>商标搜索</a></li>
<li><a href="{:U('Index/sblist')}" <if condition="($currentnav_tmp eq 'sblist') or (($currentnav_tmp eq 'tmclass') and ($class neq 25)) or ($currentnav_tmp eq 'indeustry')">class="current"</if>>商标分类</a></li>
<li><a href="<php>$urlname='Index/tmclass?id=25';echo U($urlname);</php>" <if condition="($currentnav_tmp eq 'tmclass') and ($class eq 25)">class="current"</if>>服装商标</a></li>
<li><a href="http://www.ipsoon.cn/" target="_blank">国内商标注册</a></li>
<li><a href="http://www.ipsoon.org.cn/" target="_blank">国外商标注册</a></li>
<li><a href="{:U('Index/tradeIndex')}" <if condition="$currentnav_tmp eq 'tradeIndex'">class="current"</if>>商品/服务分类表</a></li>
<li><a href="http://www.ipsoon.org.cn/" target="_blank">国际商标转让</a></li>
<li><a href="{:U('Index/permisTm')}" <if condition="$currentnav_tmp eq 'permisTm'">class="current"</if>>许可商标</a></li>
