<div class="s_leftbox">
<ul>
<li><a href="{:U('Article/index',array('id'=>1))}" <eq name="cate['term_id']" value="1">class="on"</eq> <eq name="tid" value="1">class="on"</eq>>关于华唯</a></li>
<li><a href="{:U('Article/index',array('id'=>2))}" <eq name="cate['term_id']" value="2">class="on"</eq>>业务范围</a></li>
<li><a href="{:U('Article/news',array('id'=>7,'tid'=>6))}" <eq name="tid" value="6">class="on"</eq>>新闻资讯</a></li>
<li><a href="{:U('Article/index',array('id'=>3))}" <eq name="cate['term_id']" value="3">class="on"</eq>>详细值班表</a></li>
<li><a href="{:U('Article/cases',array('id'=>17))}" <eq name="cate['term_id']" value="17">class="on"</eq>>成功案例</a></li>
<li><a href="{:U('Article/demand',array('id'=>16))}" <eq name="cate['term_id']" value="16">class="on"</eq>>求购信息</a></li>
<li><a href="{:U('Article/joinus',array('id'=>33,'tid'=>33))}" <eq name="tid" value="33">class="on"</eq>>加盟合作</a></li>
<li><a href="{:U('Article/index',array('id'=>21))}" <eq name="cate['term_id']" value="21">class="on"</eq>>版权声明</a></li>
<li><a href="{:U('Article/index',array('id'=>22))}" <eq name="cate['term_id']" value="22">class="on"</eq>>服务条款</a></li>
<li><a href="{:U('Article/index',array('id'=>23))}" <eq name="cate['term_id']" value="23">class="on"</eq>>法律声明</a></li>
<li><a href="{:U('Article/index',array('id'=>24))}" <eq name="cate['term_id']" value="24">class="on"</eq>>联系我们</a></li>
<li><a href="{:U('Article/index',array('id'=>25))}" <eq name="cate['term_id']" value="25">class="on"</eq>>诚聘英才</a></li>
<li><a href="{:U('Article/index',array('id'=>26))}" <eq name="cate['term_id']" value="26">class="on"</eq>>网站地图</a></li>
<li><a href="{:U('Article/help',array('id'=>28,'tid'=>27))}" <eq name="tid" value="27">class="on"</eq>>帮助中心</a></li>
</ul>
</div>