<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>

<title>{$tmpl_info.title}</title>
<meta name="Keywords" content="{$tmpl_info.keywords}" />
<meta name="Description" content="{$tmpl_info.description}" />

<link rel="stylesheet" href="{:C('HTMLPATH')}css/main.css">
<link rel="stylesheet" href="{:C('HTMLPATH')}css/service.css">
<script type="text/javascript" src="{:C('HTMLPATH')}js/jquery-1.3.2.js"></script>
<script type="text/javascript">
var trace_page_on = "{$trace_page_arr.on}";
if(trace_page_on){
function trace_close_time(){
	$.ajax({
		type:"POST",
		url:"{:U('Index/traceUrl')}",
		async: false,
		data:"id={$trace_page_arr.trace_id}",
		success: function(result){
			}
	});
}
function trace_update_time(){
	$.ajax({
		type:"POST",
		url:"{:U('Index/traceUrl')}",
		async: false,
		data:"type=1&id={$trace_page_arr.trace_id}",
		success: function(result){
			}
	});
}
window.onbeforeunload = function(){
	trace_close_time();
}
var time_limit_tmp = "{$trace_page_arr.limit_time|default=10000}";
time_limit_tmp = parseInt(time_limit_tmp);
time_limit_tmp = time_limit_tmp * 1000;
setInterval(trace_update_time, time_limit_tmp);
}
</script>
</head>

<body>
<div class="s_head">
<div class="logo">
<h1><a href="{:C('INDEXPATH')}" target="_blank" title="华唯商标转让网">华唯商标转让网</a></h1>
</div>
<div class="phone">
<p></p>
<p>您好，<if condition="isset($_SESSION['id'])">{$Think.session.nick},</if> 欢迎来到华唯商标网! <if condition="isset($_SESSION['id'])">[ <a href="{:U('User/info')}" class="red">我的会员中心</a> ] [ <a href="{:U('User/logout')}">退出</a> ]<else/>[ <a href="{:U('User/reg')}">免费注册</a> ] [ <a href="{:U('User/index')}">会员登录</a> ]</if> | <a href="{:U('Article/index',array('id'=>24))}" target="_blank">联系我们</a> | <a href="{:U('Article/help',array('id'=>28))}" target="_blank">帮助中心</a> | <a href="{:U('Article/index',array('id'=>3))}" target="_blank">详细值班表</a></p>
<p><span>7*24小时服务热线：</span><strong>400-888-1139</strong></p>
</div>
<div class="clear"></div>
<div class="nav">
<a href="{:C('INDEXPATH')}">首页</a><a href="{:U('Index/quality')}">精品商标</a><a href="{:U('Index/search')}">商标搜索</a><a href="{:U('Index/sblist')}">商标分类</a><a href="<php>$urlname='Index/tmclass?id=25';echo U($urlname);</php>">服装商标</a><a href="http://www.ipsoon.cn/" target="_blank">国内商标注册</a><a href="http://www.ipsoon.org.cn/" target="_blank">国外商标注册</a><a href="{:U('Index/tradeIndex')}">商品/服务分类表</a><a href="http://www.ipsoon.org.cn/" target="_blank">国际商标转让</a><a href="{:U('Index/permisTm')}">许可商标</a>
</div>
<div class="adbox"><img src="{:C('HTMLPATH')}images/banner1.jpg" /></div>
<div class="clear"></div>
</div>